/* ==========================================================================
  forms
   ========================================================================== */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $site-color8;
  font-size:14px;
}
::-moz-placeholder { /* Firefox 19+ */
  color:$site-color8;
    font-size:14px;
}
:-ms-input-placeholder { /* IE 10+ */
  color:$site-color8;
    font-size:14px;
}
:-moz-placeholder { /* Firefox 18- */
  color: $site-color8;
  font-size:14px;
}
.ui-datepicker .ui-datepicker-header{
	background: $site-color2;
    color: $site-color7;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
	border-color:$site-color2;
	background: $site-color2;	
    color: $site-color7;	
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
	background: $site-color2;	
    color: $site-color7;	
}
input, select {
    border:none;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.book-online{
	padding:30px 0;
	@include respond($breakpoint2) {
		padding:15px 0;	
	}
	margin:15px 0;
	#book-online-resp{
		width: 100%;
	    font-size: 18px;
		text-align: center;
		margin: 0 auto;
		display: block;
		height: 15px;
		    line-height: 15px;
		display:none;
		color: $site-color1;
		a{
			color: $site-color7;
		}
		@include respond($breakpoint2) {
			display: block;
		}
	}
		a#book-online-resp:hover, a#book-online-resp:focus{
			color: $site-color1;
		}
	@include respond($breakpoint2) {
		.book-online-form{
			display:none;
		}	
	}
	.form-group{
	    position:relative;
	    text-align: center;
	    margin-right: 10px;
	    font-family:$font-family1;
	    label{
	    	font-size: 10px;
	    	font-family:$font-family3;
	    	display: block;
	    	color: $site-color7;
	    	border-bottom: solid 1px #dedbda;
	    	letter-spacing: 2px;
	    	font-weight: 300;
	    }
		@include respond(1140) {
			width:100%;
			text-align:center
		}
	    i{
	    	position: absolute;
		    left: 115px;
		    top: 8px;
		    font-size: 22px;
		    color: $site-color7;
			@include respond(1140) {
				left:68%;
			}
	    }
		select{
			@include respond(1140) {
				width:50%;
			}
			width:340px;
			height:40px;
			background: none;
			color:$site-color7;
			font-size:20px;
			border-bottom:solid 1px $site-color7;
			outline: none;
			background-color:none;
			text-align: center;
		}
		select option {
		  background: $site-color3; 
		  color: $site-color8; 
		  box-shadow: inset 20px 20px #f00
		} 
		select option:disabled {
		    color: $site-color7; 
		}
		input{
			text-align: left;
			width:100%;
			@include respond(1140) {
				width:50%;
			}
			height:35px;
			background: none;
			border:solid 1px $site-color7;
		    outline: none;
		    color: $site-color7;
		    font-size:16px;
		    position: relative;
		    padding: 10px;
		}
		input[type=number]{
			background: none;
			height:35px;
			background: none;
			color:$site-color7;
			font-size:16px;
			border-bottom:solid 1px $site-color7;
			outline: none;
			color: $site-color7;
			background-color:none;
			text-align: left;
			padding: 10px;
		}
		input[type=number]::-webkit-inner-spin-button {
		  opacity: 1;
		  
		}
	}

	input[type="submit"]{
	    position: relative;
	    width: 200px;
	    padding: 10px;
	    height: 36px;
	    font-size: 14px;
	        line-height: 14px;
	    letter-spacing: 2px;
	    background: $site-color2;
	    color: $site-color7;
	    letter-spacing: 2px;
	    border: none;
	    float: right;
	    font-family:$font-family1;    
	}
	input[type="submit"]:hover{
		opacity:0.9;
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    	color: $site-color7;
    	font-size:16px;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: $site-color7;
      font-size:16px;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: $site-color7;
	  font-size:16px;
	}
	:-moz-placeholder { /* Firefox 18- */
	  color: $site-color7;
      font-size:16px;
	}
	.form-group.select{
		width:100px;
		position:relative;
		input{    
			padding-left: 15px;
		}
	}
	.form-group.select i{
	    position: absolute;
	    right: 20px;
	    top: 35px;
	    color:$site-color2;
	    z-index: 1;
	}
	.form-group.date{
		width:150px;
		    margin-right: 30px;
	}
	.form-group.number{
		width:150px;
		    margin-right: 30px;
	}	
	.form-group.select{
		background: url(../img/icons/up-down.png) no-repeat  220px 60px;
		position:relative;
	}
	.form-group.select i{
	    position: absolute;
	    right: 20px;
	    top: 35px;
	    color:$site-color2;
	    z-index: 1;
	}
	.form-group.date{
		background: url(../img/icons/calendar-icon.png) no-repeat  125px 10px;
	}
}
.contact-form{
	.form-group{
	    margin: 15px 0;
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #8c99a9;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: #8c99a9;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: #8c99a9;
	}
	:-moz-placeholder { /* Firefox 18- */
	  color: #8c99a9;
	}
	label{
		font-weight:100;
		font-size:23px;
		text-align:left;
		width: 100%;
		  @include respond(1000) {
					font-size:18px;

		 }
	}
	position:relative;
	input{
	  width: 94%;
	  @include respond($breakpoint3) {
		width:100%;
	 }
	 float:left;
	  height: 40px;
	  margin: 5px 0;
	  padding-left:16px;
	  color: #8c99a9;
	  border: none;
	  border-radius: 0;
	}
	input[type="submit"]{
	  float:right;
	  background:$site-color2;
	  color:$site-color7;
	  border-radius:0px;
	  font-weight:600;
	  width:160px;
	  padding-left: 0;
	  @include respond($breakpoint3) {
		width:100%;
		right:0px;
	 }
	  position:relative;
	  right:25px;
	  border:none;
	}
	input[type="submit"]:hover{
		background:$site-color3;
	}
	textarea{
	  width: 97%;
	  @include respond($breakpoint3) {
		width:100%;
	 }
	  height: 160px;
	  display: inline-block;
	  padding:16px;
	  float:left;
	  color: #8c99a9;
	  border: none;
	  border-radius: 0;
	}
	span{
	  font-style: italic;
	  font-size: 13px;
	  padding: 15px 0;
	  display: block;
	}	
	.sec_code{
position: absolute;
    top: 8px;
    right: 20px;
    width: 75px;
  	}
}

   
