/************************************************************************************
PHOTOS GALLERY
*************************************************************************************/
.masonry-gallery{
  display: block;
  width: 100%;
  overflow: hidden;
  margin:0 auto;
	.gallery-item.style1 { width: 285px;
	  height: 415px;
	 @include respond($breakpoint3) {
	    width: 230px;
	    height: 380px;
	  }
	}
	.gallery-item.style2 {     width: 235px;
	    height: 250px;
	 @include respond($breakpoint3) {
	    width: 230px;
	  }
	}
	.gallery-item.style3 { width: 480px;
	    height: 345px;
	  @include respond($breakpoint3) {
	    width: 230px;
	        height: 345px;
	  }
	}
	.gallery-item.style4 {     width: 285px;
	    height: 180px;
	  @include respond($breakpoint3) {
	    width: 230px;
	    height: 160px;
	  }
	}
	.gallery-item {
		@include respond($breakpoint3) {
	    margin-bottom:10px;
	  }
	  float: left;
	  position:relative;
	  display:inline-block;
		margin:5px;
	  background:trasparent;
	  clear:both;
	  overflow:hidden;
	  z-index:1;
		span{
			position:absolute;
			top:0;
			width:100%;
			height:100%;
		    -webkit-transition: all 500ms ease-in-out;
		    -moz-transition: all 500ms ease-in-out;
		    -ms-transition: all 500ms ease-in-out;
		    -o-transition: all 500ms ease-in-out;
		    transition: all 500ms ease-in-out;
			background: url(../img/icons/hover3.png) no-repeat center rgba(74, 126, 165, 0.5);
			cursor:pointer;
			color:$site-color7;
			display:none;
		}
	}
	.gallery-item:hover span{
		display:block;
		transform: scale(1.02);
	}
}
.masonry-gallery2{
  display: block;
  width: 100%;
	  @include respond($breakpoint3) {
	    margin:0 auto;
	  }
  overflow: hidden;
	.gallery-item {
		@include respond($breakpoint3) {
	    margin-bottom:10px;
	  }
	  float: left;
	  position:relative;
	  display:inline-block;
	  background:trasparent;
	  clear:both;
	  overflow:hidden;
	  z-index:1;
		span{
			position:absolute;
			top:0;
			width:100%;
			height:100%;
		    -webkit-transition: all 500ms ease-in-out;
		    -moz-transition: all 500ms ease-in-out;
		    -ms-transition: all 500ms ease-in-out;
		    -o-transition: all 500ms ease-in-out;
		    transition: all 500ms ease-in-out;
			background: url(../img/icons/hover3.png) no-repeat center rgba(74, 126, 165, 0.5);
			cursor:pointer;
			color:$site-color7;
			display:none;
		}
	}
	.gallery-item:hover span{
		display:block;
		transform: scale(1.02);
	}
	.gallery-item img{
		width: 100%;
	}
}
.gallery{
  display: block;
  width: 100%;
  margin:25px auto;
	.gallery-item {
	  z-index:1;
		span{
			position:absolute;
			top:0;
			width:100%;
			height:100%;
		    -webkit-transition: all 500ms ease-in-out;
		    -moz-transition: all 500ms ease-in-out;
		    -ms-transition: all 500ms ease-in-out;
		    -o-transition: all 500ms ease-in-out;
		    transition: all 500ms ease-in-out;
			background: url(../img/icons/hover3.png) no-repeat center rgba(74, 126, 165, 0.5);
			cursor:pointer;
			color:$site-color7;
			display:none;
		}
	}
	.gallery-item:hover span{
		display:block;
	}
	.gallery-item.small a{
		max-width: 366px;
	    display: block;
	    margin: 0 auto;
	    position: relative;
	    	     @include respond($breakpoint3) {
	     		margin-right: 3%;
	     }
	     @include respond($breakpoint4) {
	      	margin: 0 auto;
	     }
	}
	.gallery-item.big a{
		max-width: 560px;
	    display: block;
	    margin: 0 auto;
	    position: relative;
	     @include respond($breakpoint3) {
	     		margin-right: 2%;
	     }
	     @include respond($breakpoint4) {
	      	margin: 0 auto;
	     }
	}
	.button{
	    text-align: center;
	    max-width: 555px;
	    margin: 20px auto;
	    display: block;
	    font-size: 25px;
	    letter-spacing: 4px;
	    background: rgba(35, 26, 14, 0.8);
	    a.border{
	        margin: 10px;
	    }
 		a {
    		padding: 10px 190px;
    		display: inline-block;
		}
	    @include respond($breakpoint3) {
	    	margin: 0;
	    	font-size: 20px;
	    	width: 98%;
	    	margin-right: 2%;
	    	
	    	a {
    			padding: 2%;
    			width: 94%;
    			display: inline-block;
			}
	    }
	    @include respond($breakpoint4) {
	    	margin: 0;
	    	font-size: 20px;
	    	width: 100%;
	    	margin: 0 auto;
	    	
	    	a {
    			padding: 2%;
    			width: 94%;
    			display: inline-block;
			}	    
	    }		
	}
	.button:hover{
		background: $site-color2;
	}
}
/************************************************************************************
GALLERIES owl
*************************************************************************************/
.carousel-gallery{
	position:relative;
	padding:15px 0;
	.gallery-item{
		position:relative;
		span{
			position:absolute;
			top:0;
			text-align:center;
			width:100%;
			height:100%;
		    opacity: 0.0;
		    -webkit-transition: all 500ms ease-in-out;
		    -moz-transition: all 500ms ease-in-out;
		    -ms-transition: all 500ms ease-in-out;
		    -o-transition: all 500ms ease-in-out;
		    transition: all 500ms ease-in-out;
			background: url(../img/icons/hover3.png) no-repeat center rgba(74, 126, 165, 0.5);
			cursor:pointer;
			display:none;
		}
	}
	.gallery-item:hover span{
		display:block;
		opacity:0.8;
	}
}
.teaser-gallery{
	position:relative;
	padding:25px 0;	
	.teaser-hover{
		position:absolute;
		top:0;
		font-family:$font-family1;
		font-size:22px;
    padding: 50px 25px;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
		background:$site-color3;
		color: #000000;
		cursor:pointer;
		display:none;
		p{
			line-height:20px;
			font-size:21px;
		}
		span{
			display:inline-block;
			font-family:$font-family2;
			border-top:solid 2px $site-color1;
			padding-top:10px;
			margin-top:15px;
		}
	}
	.teaser-item:hover  > .teaser-hover{
		display:block;
		opacity:0.8;
	}	
}