/************************************************************************************
MAP
*************************************************************************************/
.map{
    overflow:hidden;
    width:100%;
    clear:both;
    position:relative;
    
}
.map #map-canvas, .map #map-canvas-homepage{
    width:100%;
    height:450px;
    border-bottom: solid 1px $site-color2;
    @include respond($breakpoint4) {
    	height:300px;
	}
}
.map-wrapper{
	padding-top:30px;
}
.map-top-shadow{
  position: absolute;
  height: 20px;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.3);
}
.map-bottom-shadow{
  position: absolute;
  height: 20px;
  bottom: -20px;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.3);
}
#map-popup-box{
	display:none;
	.map #map-canvas{
		width:1000px;
		height:600px;
	}
}
.map-tabs{
	
	    	@include respond($breakpoint4) {
    		display: none;
    	}
}