/************************************************************************************
OFFER MODAL
*************************************************************************************/
.modal{
	top:25%!important;
	text-align: center;
}
.modal-body{
	position: relative;
	padding: 20px 60px;
}
.modal-body ul li{
  	display: list-item;
  	list-style-type: disc;
}
.modal-header{
  	text-align: center;
}
.modal-footer{
    padding: 15px;
    text-align: center;
    border:none;
}
.modal-footer .btn-default{
  	width:25%;
  	background:$site-color3;
  	color:$site-color7;
}