/************************************************************************************
SLIDER
*************************************************************************************/
.slider-wrapper{
	position: relative;
	.caption{
		position:absolute;
	  	margin: 0 auto;
	  	left: 0;
	  	right: 0px;
	  	top: 40vh;
	  	@include respond($breakpoint1) {
	  		top: 30vh;	
	  	}
		z-index:1;
		text-align:center;
		font-family:$font-family1;
		font-weight:400;
		letter-spacing: 1px;
		color:$site-color7;
		font-size:46px;
		text-shadow: 3px 3px 1px black;
		line-height:46px;
		display:none;
		span{
			color:$site-color2;	
		}
		@include respond($breakpoint3) {
		 	display:none;
		}
	}
	.language-selector-buttons{
		position:absolute;
		font-family:$font-family1;
		font-size:14px;
		top:25vh;
		right: 5vw;
		z-index:2;
		text-align:center;
		@include respond($breakpoint2) {
			top:5vw;
		}
		ul li a{
			display:block;
			width: 65px;
		    height: 45px;
		    padding: 12px;
		    margin-bottom:5px;
		    color:$site-color8;
		    background: #c4e6ff;
		}
		ul li a.active, ul li a:hover{
			color:$site-color2;
			 background: #c4e6ff;
			 opacity: 0.8;
		}
	}	
	.book-online{
		position: absolute;
		bottom: 0;
		left: 0px;
		right: 0px;
		width: 100%;
		margin: 0 auto;
		background: rgba(0, 0, 0, 0.5);
		padding: 30px;
		z-index: 1;
		@include respond($breakpoint2) {
			bottom: 0;
			width: 100%;
			padding: 20px;
			background: $site-color2;
		}
	}
	.scroll-down{
	    position: absolute;
	    bottom: 16vh;
	    width: 265px;
	    height: 80px;
	    padding: 5px;
	    text-align: center;
	    margin: 0 auto;
	    right: 0px;
	    left: 0px;
	    color: #ffffff;
	    display: inline-block;
	    z-index: 99;
	    @include respond($breakpoint2) {
	    	display: none;
	    }
	}
	.fotorama__arr {
	    @include respond($breakpoint4) {
	    	display: none;
	    }	
	}
}
.slider-wrapper::after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
  background: #000000; 
  display: block;
  pointer-events: none;
}