@CHARSET "UTF-8";
/* ==========================================================================
   Cross-browser RESET
   ========================================================================== */
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, figure, legend, fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

img {
  height: auto;
  border: none;
  /* ie8 */
  display: block;
  /* fix the img bottom margin default  */
  max-width: 100%;
  margin: 0 auto; }

a img {
  border: none; }

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

.bx-wrapper {
  margin: 0 auto; }

.bx-wrapper .bx-viewport {
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  left: 0px; }
  .bx-wrapper .bx-viewport li {
    padding: 0px; }

/* ==========================================================================
   Bootstrap reset
   ========================================================================== */
.row {
  margin: 0px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px; }

/**
 * Responsive mixin. The media breakpoints are as defined
 * in the twitter bootstrap framework:
 *
 * - phone
 * - tablet-portrait
 * - tablet-landscape-desktop
 * - large-desktop
 *
 * Additional parameters for tagetting retina and non-retina
 * devices
 *
 * - retina
 * - non-retina
 *
 * Moreover, a specific value in px can be passed which is
 * used to generate a max-width media query.
 */
/* ==========================================================================
   General
   ========================================================================== */
/************************************************************************************
LOAD CUSTOM FONTS
*************************************************************************************/
@font-face {
  font-family: 'CaviarDreams';
  src: url("fonts/CaviarDreams-webfont.eot");
  src: url("fonts/CaviarDreams-webfont.eot?iefix") format("eot"), url("fonts/CaviarDreams-webfont.woff") format("woff"), url("fonts/CaviarDreams-webfont.ttf") format("truetype"), url("fonts/CaviarDreams-webfont.svg#webfont") format("svg"); }

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  -webkit-text-size-adjust: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  overflow-x: hidden;
  position: relative;
  margin: 0 auto;
  color: #000000;
  overflow-x: hidden;
  position: relative; }

.content-width-outer {
  margin: 0 auto;
  max-width: 1720px;
  position: relative; }

.content-width {
  margin: 0 auto;
  max-width: 1160px;
  position: relative; }

.content-width-inner {
  margin: 0 auto;
  max-width: 992px;
  position: relative; }

.content-width-inner2 {
  margin: 0 auto;
  max-width: 762px;
  position: relative; }

.content-padding {
  padding: 0px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1160px) {
    .content-padding {
      padding: 0px 15px; } }

.top-padding {
  padding-top: 75px; }

.top-bottom-padding-large {
  padding: 30px 0;
  overflow: hidden;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1160px) {
    .top-bottom-padding-large {
      padding: 20px 0; } }

.top-bottom-padding {
  padding: 20px 0;
  overflow: hidden;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1160px) {
    .top-bottom-padding {
      padding: 10px 0; } }

.top-bottom-padding-small {
  padding: 10px 0;
  overflow: hidden; }

.side-padding {
  padding: 0 20px; }

.side-padding-large {
  padding: 0 30px; }

.left-padding {
  padding-left: 20px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .left-padding {
      padding: 0; } }

.right-padding {
  padding-right: 20px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .right-padding {
      padding: 0; } }

.right-padding-large {
  padding-right: 30px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .right-padding-large {
      padding: 0; } }

.left-padding-large {
  padding-left: 30px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .left-padding-large {
      padding: 0; } }

.no-padding {
  padding: 0px; }

.top-bottom-margin {
  margin: 20px 0; }

.top-bottom-margin-large {
  margin: 30px 0; }

.side-margin {
  margin: 0 20px; }

.left-margin {
  margin-left: 20px; }

.right-margin {
  margin-right: 20px; }

.no-margin {
  margin: 0px; }

hr {
  border-color: #3f7b9e; }

h1 {
  position: relative;
  font-family: "Open Sans", sans-serif;
  color: #83831f;
  font-size: 38px;
  font-weight: 100;
  /* Landscape phones and down */
  z-index: 1;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  padding: 10px 0; }
  @media only screen and (max-width: 992px) {
    h1 {
      font-size: 34px; } }
  h1 span {
    color: #1b6d95; }

h2 {
  position: relative;
  font-family: "Open Sans", sans-serif;
  color: #83831f;
  font-size: 38px;
  font-weight: 100;
  /* Landscape phones and down */
  z-index: 1;
  overflow: hidden;
  text-align: left;
  display: inline-block;
  padding: 10px 0; }
  @media only screen and (max-width: 992px) {
    h2 {
      font-size: 34px; } }
  h2 span {
    color: #1b6d95; }

h3 {
  color: #444443;
  font-family: "Ubuntu", sans-serif;
  font-size: 22px;
  padding: 10px 0;
  font-weight: 400; }
  h3 span {
    font-size: 31px;
    color: #83831f;
    font-style: italic;
    font-weight: 300; }

h4 {
  color: #ffffff;
  font-size: 24px;
  font-style: normal;
  padding: 2px 0; }

strong {
  font-weight: bold; }
  strong span {
    color: #3f7b9e; }

ul {
  padding: 0;
  display: inline; }

p {
  padding: 5px 0; }

/*****Element/tag selectors********/
li, ol, dl {
  padding: 5px 0;
  list-style-type: none;
  display: inline; }

li.last, ol.last, dl.last {
  padding: 0px; }

/***********Links***************/
a:link, a:visited {
  text-decoration: none;
  color: #3f7b9e; }

a:hover, a:focus {
  text-decoration: none;
  color: #3f7b9e; }

/************************************************************************************
HELPER CLASSES
*************************************************************************************/
.clear {
  clear: both; }

.hidden {
  display: none !important;
  visibility: hidden; }

.img-responsive {
  width: 100%; }

.center-align {
  text-align: center; }

.right-align {
  text-align: right;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .right-align {
      text-align: center; } }

.left-align {
  text-align: left;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .left-align {
      text-align: center; } }

.right {
  float: right; }

.left {
  float: right; }

.clear {
  clear: both; }

.sticky, .fixed {
  position: fixed !important;
  top: 0px !important;
  z-index: 999 !important;
  background: #ffffff; }

.stretched {
  letter-spacing: 2px; }

.border-bottom {
  border-bottom: solid 1px #8dc8ed; }

.border {
  border: solid 1px #ffffff; }

.people3 {
  background: url(../img/icons/people-icon3.png) no-repeat center;
  height: 40px;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0; }

.people4 {
  background: url(../img/icons/people-icon4.png) no-repeat center;
  height: 40px;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0; }

.people10 {
  background: url(../img/icons/people-icon10.png) no-repeat center;
  height: 40px;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0; }

.highlight {
  color: #8dc8ed;
  font-size: 47px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .highlight {
      font-size: 27px; } }

.map-pin1 {
  background: url(../img/icons/map-pin.png) repeat center;
  width: 31px;
  height: 41px;
  display: inline-block; }

.map-pin2 {
  background: url(../img/icons/map-pin2.png) repeat center;
  width: 29px;
  height: 39px;
  display: inline-block; }

.bg-pattern {
  background: url(../img/bg-pattern.png) repeat center; }

.bg-pattern1 {
  background: url(../img/bg-pattern1.png) repeat center; }

.bg-pattern2 {
  background: url(../img/bg-pattern2.png) repeat center; }

.bg-pattern3 {
  background: url(../img/bg-pattern3.png) repeat center;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 17px; }

.bg-location {
  background: #3f7b9e;
  margin-top: 35px; }

.background-color1 {
  background: #83831f; }

.background-color2 {
  background: #3f7b9e;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 17px; }

.background-color3 {
  background: #1b6d95;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 17px; }

.background-color4 {
  background: #8dc8ed;
  color: #ffffff;
  font-size: 21px;
  font-style: italic;
  line-height: 31px; }
  .background-color4 strong {
    color: #444443;
    font-weight: 300; }
  .background-color4 span {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    display: inline-block; }

.background-color5 {
  background: #a2a257; }

.background-color6 {
  background: #252525; }

.background-color7 {
  background: #ffffff; }

.background-color8 {
  background: #000000; }

.background-color9 {
  background: #444443; }

.background-color10 {
  background: #3f3f3f; }

.scrollToTop {
  width: 60px;
  height: 60px;
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 18px;
  padding: 20px;
  background: #83831f;
  color: #3f7b9e;
  z-index: 999; }

a.scrollToTop:link, a.scrollToTop:visited {
  color: #3f7b9e; }

/************************************************************************************
BUTTONS
*************************************************************************************/
.button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 10px 30px;
  font-weight: 100;
  display: inline-block;
  background: #3f7b9e; }
  .button a:link, .button a:visited {
    color: #ffffff; }
  .button a:hover {
    color: #ffffff; }
  .button span {
    color: #1b6d95;
    padding-left: 5px;
    font-size: 18px; }

.button.alt {
  background: #a2a257; }

.button:hover {
  background: #8dc8ed;
  color: #ffffff; }

.button:hover a {
  color: #ffffff; }

/************************************************************************************
HICHLIGHTS
*************************************************************************************/
.highlights-icons {
  padding: 15px 0;
  overflow: hidden; }

.highlight-icon {
  text-align: center;
  font-size: 23px;
  font-family: "Ubuntu", sans-serif;
  font-style: italic;
  color: #83831f;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 762px) {
    .highlight-icon {
      width: 50%; } }

/************************************************************************************
BOXES
*************************************************************************************/
.location-box {
  position: absolute;
  bottom: 100px;
  width: 430px;
  left: 35px;
  color: #83831f;
  background: #ffffff; }
  .location-box .contents {
    margin: 15px;
    padding: 15px;
    border: solid 2px #83831f;
    height: 270px;
    text-align: center; }
  .location-box p {
    color: #a2a257;
    font-size: 16px;
    padding: 20px 0; }
  .location-box span {
    font-size: 16px;
    display: inline-block;
    padding: 15px 0; }

.box .button {
  position: absolute;
  right: 40%;
  top: 165px;
  width: 365px;
  font-weight: bold;
  display: inline-block;
  background: #8dc8ed;
  font-size: 22px;
  text-align: center;
  padding: 14px; }

.box .button.alt {
  background: #83831f; }

.box .button:hover {
  background: #3f3f3f; }

.location-text {
  padding: 20px;
  line-height: 20px;
  font-size: 18px;
  font-weight: 100;
  font-family: "Ubuntu", sans-serif;
  color: #ffffff; }
  .location-text h3 {
    font-size: 33px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 100;
    color: #000000; }
    .location-text h3 span {
      color: #83831f;
      display: inline-block;
      padding: 10px 5px;
      font-weight: 100; }
  .location-text p {
    padding: 5px; }

.teaser-image {
  position: relative;
  margin: 0px auto;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .teaser-image {
      margin: 5px auto;
      max-width: 355px; } }
  .teaser-image .image-border {
    border: solid 1px #ffffff;
    margin: 4%;
    width: 92%;
    height: 92%;
    position: absolute;
    left: 0; }
  .teaser-image .image-border:hover {
    background: url(../img/icons/hover2.png) no-repeat center;
    background-color: rgba(131, 131, 31, 0.5); }

/* Landscape phones and down */
@media only screen and (max-width: 992px) {
  .teaser-image.big {
    max-width: 100%; } }

.teaser-image.big .image-border {
  width: 96%;
  margin: 2%;
  height: 90%; }

.teaser-info {
  background: #a2a257;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  padding: 10px;
  max-width: 355px;
  margin: 0 auto; }
  .teaser-info h3 {
    color: #ffffff;
    font-weight: 300; }
  .teaser-info strong {
    color: #252525;
    font-weight: 100; }
  .teaser-info p {
    padding: 0 !important; }
  .teaser-info span {
    font-size: 13px;
    line-height: 16px;
    padding: 20px;
    display: inline-block; }

.teaser-info.alt {
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  padding: 5px;
  max-width: 200px; }

.teaser-info.big {
  max-width: initial;
  margin: 65px auto;
  min-height: 225px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .teaser-info.big {
      min-height: initial;
      margin: 15px auto; } }

.teaser-info.big.alt {
  margin: 35px auto; }

.accommodation-box {
  width: 425px;
  border: 1px solid #fff;
  padding: 10px;
  height: 325px;
  position: absolute;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .accommodation-box {
      position: relative;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: auto; } }
  .accommodation-box h3 {
    font-size: 31px;
    color: #83831f;
    font-style: italic;
    font-weight: 300; }
  .accommodation-box .accommodation-text {
    background: rgba(255, 255, 255, 0.65);
    padding: 25px;
    line-height: 20px;
    font-size: 15px; }
  .accommodation-box span {
    padding: 10px 0;
    display: inline-block; }

.accommodation-box.right {
  top: 35px;
  right: 25px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .accommodation-box.right {
      top: 0;
      right: 0;
      left: 0; } }

.accommodation-box.left {
  top: 35px;
  left: 25px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .accommodation-box.left {
      top: 0;
      right: 0;
      left: 0; } }

/************************************************************************************
HEADER
*************************************************************************************/
header {
  font-family: "Ubuntu", sans-serif;
  position: relative;
  width: 100%;
  z-index: 999;
  padding: 25px 0;
  height: 90px;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.3); }
  header .logo {
    position: relative;
    float: left;
    display: inline-block;
    padding: 5px 0;
    z-index: 1; }
    header .logo a {
      display: block;
      width: 181px;
      background: url(../img/logo.png) repeat center;
      height: 49px; }
  header .book-online-bg {
    background: url(../img/blue-bg.png) repeat center;
    display: block;
    position: absolute;
    right: 35px;
    top: -25px;
    padding: 40px 20px;
    height: 145px;
    width: 130px;
    text-align: center;
    font-size: 17px;
    line-height: 19px;
    font-weight: 300; }
    header .book-online-bg a:link, header .book-online-bg a:visited {
      color: #ffffff; }
    header .book-online-bg a:hover, header .book-online-bg a:focus {
      color: #ffffff; }
  header .navigation {
    font-family: "Open Sans", sans-serif;
    position: relative;
    color: #a2a257;
    font-size: 14px;
    padding: 10px 0;
    /* Landscape phones and down */ }
    header .navigation ul li {
      padding-right: 35px;
      /* Landscape phones and down */ }
      header .navigation ul li a:link, header .navigation ul li a:visited {
        color: #3f3f3f; }
      header .navigation ul li a:hover, header .navigation ul li a:focus {
        color: #3f7b9e; }
      header .navigation ul li a.active {
        color: #3f7b9e; }
      @media only screen and (max-width: 1160px) {
        header .navigation ul li {
          padding-right: 0;
          width: 100%;
          display: inline-block;
          text-align: center;
          padding: 10px 0;
          font-size: 20px; } }
    header .navigation ul li.last {
      padding-right: 0px; }
    @media only screen and (max-width: 1160px) {
      header .navigation {
        position: absolute;
        right: 0;
        margin: 0;
        left: 0;
        padding-top: 0;
        padding-right: 0px;
        padding-left: 0px;
        width: 100%; } }
    header .navigation .menu {
      float: right;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 1160px) {
        header .navigation .menu {
          position: relative;
          top: 60px;
          margin: 0px;
          width: 100%;
          background: rgba(255, 255, 255, 0.862745);
          display: none;
          padding: 20px 0; } }
    header .navigation .lang {
      margin: 0 auto;
      text-align: center;
      display: none;
      /* Landscape phones and down */ }
      header .navigation .lang li {
        width: 40px; }
      @media only screen and (max-width: 1160px) {
        header .navigation .lang {
          display: block; } }
  header #dropdown {
    display: none;
    cursor: pointer;
    font-size: 28px;
    position: absolute;
    right: 15px;
    top: 25px;
    color: #1b6d95;
    /* Landscape phones and down */
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1160px) {
      header #dropdown {
        display: block;
        color: #3f7b9e; } }
    @media only screen and (max-width: 550px) {
      header #dropdown {
        right: 5px; } }

header.sticky {
  padding: 0px;
  height: 60px; }
  header.sticky .top, header.sticky .book-online-bg {
    display: none; }

/* ==========================================================================
   main styling
   ========================================================================== */
main {
  position: relative;
  clear: both;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 300; }
  main .main-content {
    text-align: center;
    padding: 15px 0; }
    main .main-content p {
      padding: 5px 0; }
    main .main-content .boxed {
      background: #ebebeb;
      border: solid #fff;
      padding: 15px;
      font-family: "Ubuntu", sans-serif;
      font-size: 17px; }
      main .main-content .boxed p {
        padding: 10px; }
      main .main-content .boxed ul {
        padding: 25px 0; }
        main .main-content .boxed ul li {
          font-weight: bold;
          color: #787878; }
        main .main-content .boxed ul li:before {
          content: '.';
          padding-right: 5px;
          font-size: 44px;
          line-height: 5px;
          position: relative;
          top: -3px;
          color: #83831f; }
      main .main-content .boxed strong {
        color: #83831f; }
    main .main-content ul {
      display: inline-block;
      padding-bottom: 10px;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 762px) {
        main .main-content ul {
          text-align: center;
          padding: 0; } }
      main .main-content ul li {
        display: list-item;
        list-style-type: none;
        color: #3f3f3f;
        padding: 2px 0; }
        main .main-content ul li span {
          color: #3f7b9e;
          position: relative;
          bottom: -3px;
          left: 5px; }
      main .main-content ul li:before {
        content: '.';
        top: 0;
        font-size: 40px;
        line-height: 20px; }
    main .main-content ul.list1 {
      padding: 10px 0;
      font-size: 20px;
      font-weight: 500; }
      main .main-content ul.list1 li:before {
        content: '-';
        font-size: 20px;
        line-height: 24px;
        padding-right: 5px; }
    main .main-content strong {
      font-weight: 600; }

/************************************************************************************
FOOTER
*************************************************************************************/
footer {
  position: relative;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  /***********Links***************/ }
  footer a:link, footer a:visited {
    text-decoration: none;
    color: #ffffff; }
  footer a:hover, footer a:focus {
    text-decoration: none;
    color: #1b6d95; }
  footer .top {
    /***********Links***************/
    color: #ffffff;
    padding: 15px 0;
    text-align: left;
    /* Landscape phones and down */ }
    footer .top a:link, footer .top a:visited {
      text-decoration: none;
      color: #ffffff; }
    footer .top a:hover, footer .top a:focus {
      text-decoration: none;
      color: #ffffff; }
    @media only screen and (max-width: 992px) {
      footer .top {
        text-align: center; } }
    footer .top .connect {
      padding: 5px 0;
      text-align: center;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 992px) {
        footer .top .connect {
          float: none; } }
      footer .top .connect .social {
        padding: 15px 0; }
        footer .top .connect .social i {
          padding-right: 15px;
          font-size: 24px; }
    footer .top .contact {
      padding: 5px 0; }
    footer .top .text {
      display: inline-block; }
      footer .top .text span {
        color: #444443; }
      footer .top .text i {
        padding-right: 15px;
        font-size: 16px;
        color: #3f7b9e; }
    footer .top .quick-links-box {
      float: right;
      padding: 5px 0;
      max-width: 325px;
      font-family: "Open Sans", sans-serif;
      /* Landscape phones and down */ }
      footer .top .quick-links-box .quick-menu {
        padding-top: 12px;
        overflow: hidden; }
        footer .top .quick-links-box .quick-menu ul li {
          font-size: 14px;
          display: block;
          padding: 0px;
          padding-bottom: 7px; }
          footer .top .quick-links-box .quick-menu ul li i {
            padding-right: 5px; }
          footer .top .quick-links-box .quick-menu ul li a:link, footer .top .quick-links-box .quick-menu ul li a:visited {
            color: #ffffff; }
          footer .top .quick-links-box .quick-menu ul li a:hover, footer .top .quick-links-box .quick-menu ul li a:focus, footer .top .quick-links-box .quick-menu ul li a.active {
            color: #3f7b9e; }
      @media only screen and (max-width: 992px) {
        footer .top .quick-links-box {
          float: none;
          margin: 0 auto; } }
  footer .bottom {
    /***********Links***************/
    background: #ffffff;
    color: #3f3f3f;
    padding: 10px 0;
    font-weight: 100;
    font-family: "Roboto", sans-serif; }
    footer .bottom a:link, footer .bottom a:visited {
      text-decoration: none;
      color: #3f7b9e; }
    footer .bottom a:hover, footer .bottom a:focus {
      text-decoration: none;
      color: #3f7b9e; }
    footer .bottom .copy p {
      float: left; }
    footer .bottom .created p {
      float: right; }

/* ==========================================================================
  forms
   ========================================================================== */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #3f7b9e;
  font-size: 14px; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #3f7b9e;
  font-size: 14px; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #3f7b9e;
  font-size: 14px; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #3f7b9e;
  font-size: 14px; }

.ui-datepicker .ui-datepicker-header {
  background: #3f7b9e;
  color: #ffffff; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border-color: #3f7b9e;
  background: #3f7b9e;
  color: #ffffff; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background: #3f7b9e;
  color: #ffffff; }

input, select {
  border: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: ''; }

.book-online {
  background: #1b6d95;
  padding: 30px 0;
  /* Landscape phones and down */
  margin: 15px 0;
  /* Landscape phones and down */
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .book-online {
      padding: 20px 0; } }
  .book-online .book-mobile {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 24px;
    padding: 10px;
    display: none; }
  .book-online a.book-mobile:link, .book-online a.book-mobile:visited {
    text-decoration: none;
    color: #ffffff; }
  .book-online a.book-mobile:hover, .book-online a.book-mobile:focus {
    text-decoration: none;
    color: #ffffff; }
  @media only screen and (max-width: 992px) {
    .book-online .book-mobile {
      display: inline-block; } }
  @media only screen and (max-width: 992px) {
    .book-online .book-online-form {
      display: none; } }
  .book-online .form-group {
    padding-right: 35px;
    position: relative;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1160px) {
      .book-online .form-group {
        width: 100%;
        text-align: center; } }
    .book-online .form-group i {
      position: absolute;
      left: 115px;
      top: 8px;
      font-size: 22px;
      color: #ffffff;
      /* Landscape phones and down */
      /* Landscape phones and down */ }
      @media only screen and (max-width: 1160px) {
        .book-online .form-group i {
          left: 68%; } }
      @media only screen and (max-width: 762px) {
        .book-online .form-group i {
          left: 60%; } }
    .book-online .form-group select {
      /* Landscape phones and down */
      width: 135px;
      height: 40px;
      background: none;
      color: #ffffff;
      font-size: 20px;
      border-bottom: solid 1px #ffffff;
      outline: none;
      background-color: none; }
      @media only screen and (max-width: 1160px) {
        .book-online .form-group select {
          width: 50%; } }
    .book-online .form-group select option {
      background: #1b6d95;
      color: #ffffff;
      box-shadow: inset 20px 20px #f00; }
    .book-online .form-group select option:disabled {
      color: #ffffff; }
    .book-online .form-group input {
      width: 135px;
      /* Landscape phones and down */
      height: 40px;
      background: none;
      border-bottom: solid 1px #ffffff;
      outline: none;
      color: #ffffff;
      font-size: 20px; }
      @media only screen and (max-width: 1160px) {
        .book-online .form-group input {
          width: 50%; } }
  .book-online input[type="submit"] {
    position: relative;
    width: 250px;
    padding: 10px;
    margin-left: 24px;
    height: 45px;
    font-size: 20px;
    background: none;
    color: #ffffff;
    border: solid 1px #ffffff;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1160px) {
      .book-online input[type="submit"] {
        margin: 0 24%;
        left: 0;
        right: 0;
        top: 10px;
        width: 48%; } }
  .book-online input[type="submit"]:hover {
    background: #ffffff;
    color: #1b6d95; }
  .book-online ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ffffff;
    font-size: 20px; }
  .book-online ::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffff;
    font-size: 20px; }
  .book-online :-ms-input-placeholder {
    /* IE 10+ */
    color: #ffffff;
    font-size: 20px; }
  .book-online :-moz-placeholder {
    /* Firefox 18- */
    color: #ffffff;
    font-size: 20px; }
  .book-online .form-group.select {
    width: 120px;
    position: relative; }
  .book-online .form-group.select i {
    position: absolute;
    right: 20px;
    top: 35px;
    color: #3f7b9e;
    z-index: 1; }
  .book-online .form-group.date {
    width: 195px; }

.contact-form {
  position: relative; }
  .contact-form .form-group {
    padding: 6px 0; }
  .contact-form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #000000; }
  .contact-form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #000000; }
  .contact-form :-ms-input-placeholder {
    /* IE 10+ */
    color: #000000; }
  .contact-form :-moz-placeholder {
    /* Firefox 18- */
    color: #000000; }
  .contact-form label {
    font-weight: 100;
    padding-left: 15px;
    padding-bottom: 5px;
    font-size: 17px;
    font-family: "Ubuntu", sans-serif;
    color: #83831f;
    font-weight: 600;
    text-align: left;
    width: 100%; }
  .contact-form input {
    width: 92%;
    /* Landscape phones and down */
    float: left;
    height: 40px;
    margin: 5px 0;
    padding-left: 16px;
    color: #83831f;
    border: #8dc8ed solid 1px;
    background: #d7d5d5; }
    @media only screen and (max-width: 762px) {
      .contact-form input {
        width: 100%; } }
  .contact-form input.textfield_2 {
    width: 165px;
    margin-right: 75px;
    height: 30px;
    background: #d7d5d5;
    color: #000000;
    float: right;
    font-size: 13px; }
  .contact-form input.textfield_2::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #000000;
    font-size: 13px; }
  .contact-form input.textfield_2::-moz-placeholder {
    /* Firefox 19+ */
    color: #000000;
    font-size: 13px; }
  .contact-form input.textfield_2:-ms-input-placeholder {
    /* IE 10+ */
    color: #000000;
    font-size: 13px; }
  .contact-form input.textfield_2:-moz-placeholder {
    /* Firefox 18- */
    color: #000000;
    font-size: 13px; }
  .contact-form input[type="submit"] {
    float: right;
    background: #3f7b9e;
    font-family: "Ubuntu", sans-serif;
    font-size: 17px;
    color: #ffffff;
    font-weight: 600;
    width: 115px;
    padding: 0px;
    height: 30px;
    /* Landscape phones and down */
    position: relative;
    right: 30px;
    border: none; }
    @media only screen and (max-width: 762px) {
      .contact-form input[type="submit"] {
        width: 100%;
        right: 0px; } }
  .contact-form input[type="submit"]:hover {
    background: #83831f; }
  .contact-form textarea {
    width: 96%;
    /* Landscape phones and down */
    height: 150px;
    display: inline-block;
    padding: 16px;
    float: left;
    color: #83831f;
    background: #d7d5d5;
    border: #8dc8ed solid 1px; }
    @media only screen and (max-width: 762px) {
      .contact-form textarea {
        width: 100%; } }
  .contact-form span {
    font-style: italic;
    font-size: 13px;
    padding: 15px 0;
    display: block; }
  .contact-form .sec_code {
    position: absolute;
    top: 5px;
    width: 65px;
    right: 0; }

/************************************************************************************
SOCIAL MENU
*************************************************************************************/
.social-menu {
  padding-right: 30px;
  padding-top: 10px; }
  .social-menu i {
    font-size: 30px; }
  .social-menu a.cyrcle {
    border-radius: 20px;
    width: 36px;
    height: 36px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    border: solid 2px;
    margin-right: 5px; }
  .social-menu a.square {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    margin-right: 5px;
    padding-top: 5px;
    font-size: 20px;
    text-align: center;
    background: #252525;
    display: inline-block; }
    .social-menu a.square i {
      color: #3f7b9e; }
    .social-menu a.square i:hover, .social-menu a.square i:focus {
      color: #ffffff; }
  .social-menu a.fb {
    padding-right: 10px; }
    .social-menu a.fb i {
      color: #3b5999; }
    .social-menu a.fb i:hover, .social-menu a.fb i:focus {
      color: #ffffff; }
  .social-menu a.trip i {
    color: #000000;
    font-size: 25px; }
  .social-menu a.trip i:hover, .social-menu a.trip i:focus {
    color: #ffffff; }
  .social-menu a.last {
    margin-right: 0px; }
  .social-menu a:link, .social-menu a:visited {
    color: #83831f; }
  .social-menu a:hover, .social-menu a:focus {
    color: #3f7b9e; }

.social-menu.block {
  width: 250px;
  display: inline-block;
  text-align: center; }
  .social-menu.block li {
    width: 80px;
    padding: 5px;
    display: inline-block;
    color: #343333; }

/************************************************************************************
SLIDER
*************************************************************************************/
.slider-wrapper {
  position: relative; }
  .slider-wrapper .caption {
    position: absolute;
    margin: 0 auto;
    left: 0px;
    bottom: 150px;
    z-index: 1;
    text-align: left;
    font-family: "Ubuntu", sans-serif;
    font-weight: normal;
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
    display: none;
    /* Landscape phones and down */ }
    .slider-wrapper .caption span {
      display: block;
      text-align: center;
      background: rgba(255, 255, 255, 0.7);
      color: #1b6d95;
      font-style: normal;
      padding: 10px;
      padding-left: 35px;
      padding-right: 20px;
      font-size: 38px;
      font-weight: 300; }
    .slider-wrapper .caption p {
      margin-top: 5px;
      background: rgba(27, 109, 149, 0.7);
      font-size: 28px;
      font-style: normal;
      font-weight: 300;
      text-align: right;
      padding-right: 20px; }
    @media only screen and (max-width: 992px) {
      .slider-wrapper .caption {
        display: none; } }
  .slider-wrapper .scroll-down {
    position: absolute;
    bottom: 25px;
    padding: 5px;
    width: 90px;
    height: 90px;
    text-align: center;
    margin: 0 auto;
    right: 0px;
    left: 0px;
    color: #ffffff;
    display: inline-block;
    z-index: 99;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      .slider-wrapper .scroll-down {
        display: none; } }
  .slider-wrapper .language.bar {
    position: absolute;
    right: 0;
    top: 85px;
    width: 100px;
    height: 50px;
    font-size: 15px;
    padding: 14px;
    background: #3f7b9e;
    /* Landscape phones and down */ }
    .slider-wrapper .language.bar li {
      background: none;
      color: #ffffff;
      width: 100%;
      padding-right: 5px; }
      .slider-wrapper .language.bar li a:link, .slider-wrapper .language.bar li a:visited {
        color: #ffffff; }
      .slider-wrapper .language.bar li a:hover, .slider-wrapper .language.bar li a:focus {
        color: #ffffff;
        font-weight: bold; }
      .slider-wrapper .language.bar li a.active {
        color: #ffffff;
        font-weight: bold; }
    @media only screen and (max-width: 992px) {
      .slider-wrapper .language.bar {
        display: none; } }

/************************************************************************************
PHOTOS GALLERY
*************************************************************************************/
.masonry-gallery {
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0 auto; }
  .masonry-gallery .gallery-item {
    /* Landscape phones and down */
    /* Landscape phones and down */
    float: left;
    width: 25%;
    height: 225px;
    padding: 4px;
    position: relative;
    display: inline-block;
    background: trasparent;
    overflow: hidden;
    z-index: 1; }
    @media only screen and (max-width: 992px) {
      .masonry-gallery .gallery-item {
        width: 50%; } }
    @media only screen and (max-width: 762px) {
      .masonry-gallery .gallery-item {
        width: 100%; } }
    .masonry-gallery .gallery-item img {
      height: auto; }
    .masonry-gallery .gallery-item span {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -ms-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
      background: url(../img/icons/hover.png) no-repeat center rgba(37, 150, 201, 0.5);
      cursor: pointer;
      color: #ffffff;
      display: none; }
  .masonry-gallery .gallery-item:hover span {
    display: block; }

/************************************************************************************
GALLERIES owl
*************************************************************************************/
.carousel-gallery {
  position: relative;
  margin: 0px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3); }
  .carousel-gallery .gallery-item {
    position: relative; }
    .carousel-gallery .gallery-item span {
      position: absolute;
      top: 0;
      text-align: center;
      width: 100%;
      height: 100%;
      opacity: 0.0;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -ms-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
      background: url(../img/icons/hover.png) no-repeat center rgba(37, 150, 201, 0.5);
      cursor: pointer;
      display: none; }
  .carousel-gallery .gallery-item:hover span {
    display: block;
    opacity: 0.8; }

.teaser-gallery {
  position: relative;
  padding: 25px 0; }
  .teaser-gallery .teaser-hover {
    position: absolute;
    top: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    padding: 25%;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    background: #1b6d95;
    color: #000000;
    cursor: pointer;
    display: none; }
    .teaser-gallery .teaser-hover p {
      line-height: 20px;
      font-size: 21px; }
    .teaser-gallery .teaser-hover span {
      display: inline-block;
      font-family: "Ubuntu", sans-serif;
      border-top: solid 2px #83831f;
      padding-top: 10px;
      margin-top: 15px; }
  .teaser-gallery .teaser-item:hover > .teaser-hover {
    display: block;
    opacity: 0.8; }

/************************************************************************************
MAP
*************************************************************************************/
.map {
  overflow: hidden;
  width: 100%;
  clear: both;
  position: relative; }

.map #map-canvas, .map #map-canvas-homepage {
  width: 100%;
  height: 500px; }

.map-wrapper {
  padding-top: 30px; }

.map-top-shadow {
  position: absolute;
  height: 20px;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.3); }

.map-bottom-shadow {
  position: absolute;
  height: 20px;
  bottom: -20px;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.3); }

#map-popup-box {
  display: none; }
  #map-popup-box .map #map-canvas {
    width: 1000px;
    height: 600px; }

/************************************************************************************
OFFER MODAL
*************************************************************************************/
.modal {
  top: 25% !important; }

.modal-body {
  position: relative;
  padding: 20px 60px; }

.modal-body ul li {
  display: list-item;
  list-style-type: disc; }

.modal-header {
  text-align: center; }

.modal-footer {
  padding: 15px;
  text-align: center;
  border: none; }

.modal-footer .btn-default {
  width: 25%;
  background: #1b6d95;
  color: #ffffff; }
