@CHARSET "UTF-8";
/* ==========================================================================
   Cross-browser RESET
   ========================================================================== */
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, figure, legend, fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

img {
  height: auto;
  border: none;
  /* ie8 */
  display: block;
  /* fix the img bottom margin default  */
  max-width: 100%;
  margin: 0 auto; }

a img {
  border: none; }

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

.bx-wrapper {
  margin: 0 auto; }

.bx-wrapper .bx-viewport {
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  left: 0px; }
  .bx-wrapper .bx-viewport li {
    padding: 0px; }

/* ==========================================================================
   Bootstrap reset
   ========================================================================== */
.row {
  margin: 0px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px; }

/**
 * Responsive mixin. The media breakpoints are as defined
 * in the twitter bootstrap framework:
 *
 * - phone
 * - tablet-portrait
 * - tablet-landscape-desktop
 * - large-desktop
 *
 * Additional parameters for tagetting retina and non-retina
 * devices
 *
 * - retina
 * - non-retina
 *
 * Moreover, a specific value in px can be passed which is
 * used to generate a max-width media query.
 */
/* ==========================================================================
   General
   ========================================================================== */
/************************************************************************************
LOAD CUSTOM FONTS
*************************************************************************************/
@font-face {
  font-family: 'CaviarDreams';
  src: url("fonts/CaviarDreams-webfont.eot");
  src: url("fonts/CaviarDreams-webfont.eot?iefix") format("eot"), url("fonts/CaviarDreams-webfont.woff") format("woff"), url("fonts/CaviarDreams-webfont.ttf") format("truetype"), url("fonts/CaviarDreams-webfont.svg#webfont") format("svg"); }

body {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  -webkit-text-size-adjust: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  overflow-x: hidden;
  position: relative;
  margin: 0 auto;
  color: #bfbdb7;
  background: #ffffff;
  overflow-x: hidden;
  position: relative; }

.content-width-outer {
  margin: 0 auto;
  max-width: 1920px;
  position: relative; }

.content-width {
  margin: 0 auto;
  max-width: 1360px;
  position: relative; }

.content-width-inner {
  margin: 0 auto;
  max-width: 1140px;
  position: relative; }

.content-padding {
  padding: 0px 15px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1260px) {
    .content-padding {
      padding: 0px 15px; } }

.top-padding {
  padding-top: 75px; }

.top-bottom-padding-large {
  padding: 30px 0;
  overflow: hidden;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1260px) {
    .top-bottom-padding-large {
      padding: 20px 0; } }

.top-bottom-padding {
  padding: 20px 0;
  overflow: hidden;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1260px) {
    .top-bottom-padding {
      padding: 10px 0; } }

.top-bottom-padding-small {
  padding: 10px 0;
  overflow: hidden; }

.side-padding {
  padding: 0 20px; }

.side-padding-large {
  padding: 0 30px; }

.left-padding {
  padding-left: 20px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .left-padding {
      padding: 0; } }

.right-padding {
  padding-right: 20px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .right-padding {
      padding: 0; } }

.right-padding-large {
  padding-right: 30px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .right-padding-large {
      padding: 0; } }

.left-padding-large {
  padding-left: 30px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .left-padding-large {
      padding: 0; } }

.no-padding {
  padding: 0px; }

.top-bottom-margin {
  margin: 20px 0; }

.side-margin {
  margin: 0 20px; }

.left-margin {
  margin-left: 20px; }

.right-margin {
  margin-right: 20px; }

.no-margin {
  margin: 0px; }

hr {
  border-color: #aa9658; }

h1 {
  position: relative;
  font-family: "Noto Serif", sans-serif;
  color: #000000;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  /* Landscape phones and down */
  /* Landscape phones and down */
  z-index: 1;
  overflow: hidden;
  text-align: left;
  display: inline-block;
  padding: 10px 0; }
  @media only screen and (max-width: 992px) {
    h1 {
      font-size: 25px; } }
  @media only screen and (max-width: 550px) {
    h1 {
      font-size: 22px; } }
  h1 span {
    color: #686763; }

h2 {
  letter-spacing: 2px;
  position: relative;
  font-family: "Noto Serif", sans-serif;
  color: #000000;
  font-size: 30px;
  /* Landscape phones and down */
  /* Landscape phones and down */
  letter-spacing: 2px;
  font-weight: 400;
  padding: 10px 0; }
  @media only screen and (max-width: 992px) {
    h2 {
      font-size: 25px; } }
  @media only screen and (max-width: 550px) {
    h2 {
      font-size: 20px; } }

h3 {
  color: #aa9658;
  font-family: "Noto Serif", sans-serif;
  font-size: 20px;
  /* Landscape phones and down */
  /* Landscape phones and down */
  padding: 8px 0;
  font-weight: 600; }
  @media only screen and (max-width: 992px) {
    h3 {
      font-size: 15px; } }
  @media only screen and (max-width: 550px) {
    h3 {
      font-size: 13px; } }
  h3 span {
    color: #aa9658;
    font-size: 32px;
    padding: 15px 0;
    font-weight: 500;
    display: block; }

h4 {
  color: #ffffff;
  font-size: 18px;
  padding: 5px 0; }
  h4 span {
    color: #686763; }

strong {
  font-weight: bold; }
  strong span {
    color: #aa9658; }

ul {
  padding: 0;
  display: inline; }

p {
  padding: 5px 0; }

/*****Element/tag selectors********/
li, ol, dl {
  padding: 5px 0;
  list-style-type: none;
  display: inline; }

li.last, ol.last, dl.last {
  padding: 0px; }

/***********Links***************/
a:link, a:visited {
  text-decoration: none;
  color: #231a0e; }

a:hover, a:focus {
  text-decoration: none;
  color: #5d5d5d; }

/************************************************************************************
HELPER CLASSES
*************************************************************************************/
.clear {
  clear: both; }

.hidden {
  display: none !important;
  visibility: hidden; }

.img-responsive {
  width: 100%; }

.center-align {
  text-align: center; }

.right-align {
  text-align: right;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .right-align {
      text-align: center; } }

.left-align {
  text-align: left;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .left-align {
      text-align: center; } }

.right {
  float: right; }

.left {
  float: right; }

.clear {
  clear: both; }

.sticky, .fixed {
  position: fixed !important;
  top: 0px !important;
  z-index: 999999 !important;
  background: #ffffff; }

.stretched {
  letter-spacing: 2px; }

.border-bottom {
  border-bottom: solid 1px #231a0e; }

.highlight {
  color: #aa9658; }

.highlight-text {
  color: #bfbdb7;
  font-size: 22px;
  font-family: "Noto Serif", sans-serif;
  font-style: italic;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .highlight-text {
      font-size: 18px; } }

.background-color1 {
  background: #f8f7f7; }

.background-color2 {
  background: #aa9658; }

.background-color3 {
  background: #686763; }

.background-color4 {
  background: #231a0e; }

.background-color5 {
  background: #3c4c58; }

.background-color6 {
  background: #dee1e7; }

.background-color7 {
  background: #ffffff; }

.background-color8 {
  background: #000000; }

.background-color9 {
  background: #626d76; }

.background-color10 {
  background: #626d76; }

.image-border {
  border: solid 2px #aa9658;
  margin: 15px;
  width: 325px;
  height: 225px;
  /* Landscape phones and down */
  right: 0;
  position: absolute;
  left: 0;
  top: 15px;
  margin: 0 auto; }
  @media only screen and (max-width: 399px) {
    .image-border {
      display: none; } }

.image-border2 {
    border: solid 2px #aa9658;
    margin: 15px;
    width: 95%;
    height: 90%;
    right: 0;
    position: absolute;
    left: 0;
    top: 5%;
    margin: 0 auto; }
  @media only screen and (max-width: 399px) {
    .image-border2 {
      display: none; } }

.image-border2:hover {
  background: url(../img/icons/hover2.png) no-repeat center;
  background-color: rgba(131, 131, 31, 0.5); }
.sightseeing .image-border2:hover{
  background: none;
  background-color: none;
}
.image-border:hover {
  background: url(../img/icons/hover2.png) no-repeat center;
  background-color: rgba(131, 131, 31, 0.5); }

.right-line-big::after {
  content: "";
  width: 110%;
  display: inline-block;
  height: 30px;
  left: 20%;
  right: 0px;
  border-bottom: solid 2px #aa9658;
  text-align: center;
  position: absolute;
  top: 22px;
  float: right;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .right-line-big::after {
      display: none; } }

.right-line-big {
  display: block;
  font-style: italic;
  letter-spacing: 0;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .right-line-big {
      text-align: center; } }

.left-line, .right-line {
  display: inline-block; }

.left-line::before {
  content: "";
  width: 60px;
  display: inline-block;
  height: 15px;
  left: -15px;
  right: 0px;
  border-bottom: solid 2px #aa9658;
  text-align: center;
  position: relative;
  right: 0;
  top: -8px; }

.right-line::after {
  content: "";
  width: 60px;
  display: inline-block;
  height: 15px;
  left: 15px;
  right: 0px;
  border-bottom: solid 2px #aa9658;
  text-align: center;
  position: relative;
  top: -8px; }

.scrollToTop {
  width: 60px;
  height: 60px;
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 18px;
  padding: 20px;
  background: #bfbdb7;
  color: #aa9658;
  z-index: 999; }

a.scrollToTop:link, a.scrollToTop:visited {
  color: #aa9658; }

.stars1 {
  display: inline-block;
  height: 65px;
  width: 100%;
  background: url(../img/icons/stars.png) no-repeat center;
  text-align: center;
  margin: 0 auto;
  position: relative;
  right: 0;
  left: 0px;
  bottom: 0; }

.overlay {
  background: rgba(48, 55, 122, 0.85); }

/************************************************************************************
BUTTONS
*************************************************************************************/
.button {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 16px;
  padding: 12px 35px;
  font-weight: 100;
  display: inline-block;
  background: #aa9658;
  position: relative; }
  .button a:link, .button a:visited {
    color: #ffffff; }
  .button a:hover {
    color: #ffffff; }
  .button span {
    color: #686763;
    padding-left: 5px;
    font-size: 18px; }

.button:hover {
  background: #231a0e;
  color: #ffffff; }

.button:hover a {
  color: #ffffff; }

/************************************************************************************
HICHLIGHTS
*************************************************************************************/
.highlights {
  overflow: hidden;
  min-height: 400px;
  background: url(../img/highlights-bg.png) repeat center;
  background-size: cover;
  /* Landscape phones and down */ }
  .highlights .highlight-icons {
    padding: 150px 0; }
  @media only screen and (max-width: 992px) {
    .highlights .highlight-icons {
      padding: 50px 0; } }

.highlight-icon {
  text-align: center;
  font-size: 18px;
  font-family: "Alegreya Sans", sans-serif;
  color: #ffffff;
  padding: 0 85px;
  margin: 0 auto;
  /* Landscape phones and down */ }
  .highlight-icon span {
    font-family: "Noto Serif", sans-serif;
    padding-top: 25px;
    padding-bottom: 15px;
    display: block;
    font-size: 22px; }
  @media only screen and (max-width: 992px) {
    .highlight-icon {
      width: 50%;
      padding: 0;
      margin: 15px auto; }
      .highlight-icon span {
        font-family: "Noto Serif", sans-serif;
        padding-top: 25px;
        padding-bottom: 15px;
        display: block;
        font-size: 18px; } }

/************************************************************************************
BOXES
*************************************************************************************/
.location-box {
  position: absolute;
  bottom: 100px;
  width: 430px;
  left: 35px;
  color: #bfbdb7;
  background: #ffffff; }
  .location-box .contents {
    margin: 15px;
    padding: 15px;
    border: solid 2px #bfbdb7;
    height: 270px;
    text-align: center; }
  .location-box p {
    color: #3c4c58;
    font-size: 16px;
    padding: 20px 0; }
  .location-box span {
    font-size: 16px;
    display: inline-block;
    padding: 15px 0; }

/************************************************************************************
HEADER
*************************************************************************************/
header {
  transition: all 500ms ease-in;
  position: relative;
  width: 100%;
  z-index: 999;
  height: 66px;
  /* Landscape phones and down */
  background: #ffffff; }
  @media only screen and (max-width: 762px) {
    header {
      height: 60px; } }
  header .logo {
    position: absolute;
    left: 2.5%;
    display: inline-block;
    padding: 5px 0;
    z-index: 1;
    /* Landscape phones and down */ }
    header .logo a {
      display: block;
      width: 250px;
      background: url(../img/logo.png) repeat center;
      height: 60px; }
    @media only screen and (max-width: 762px) {
      header .logo a {
        display: block;
        width: 250px;
        background: url(../img/logo.png) no-repeat left;
        background-size: 70%; } }
  header .navigation-box {
    z-index: 999;
    font-family: "Noto Serif", sans-serif;
    position: relative;
    color: #3c4c58;
    font-size: 25px;
    max-width: 500px;
    /* Landscape phones and down */
    height: 100vh;
    position: fixed;
    right: -500px;
    top: 0;
    background: #aa9658;
    color: #fff;
    transition: all 500ms ease-out; }
    @media only screen and (max-width: 762px) {
      header .navigation-box {
        display: block;
        position: fixed;
        width: 100%;
        right: -1000px; } }
    header .navigation-box .close-menu {
      display: block;
      width: 100%;
      height: 70px;
      background: #000000;
      font-size: 14px;
      padding: 20px;
      font-family: "Alegreya Sans", sans-serif;
      margin-bottom: 10px; }
      header .navigation-box .close-menu span {
        cursor: pointer;
        font-size: 22px;
        font-weight: 100;
        margin-right: 20px;
        top: 2px; }
      header .navigation-box .close-menu p {
        display: inline-block;
        top: -2px;
        position: relative; }
    header .navigation-box .close-menu::after {
      content: "";
      width: 65%;
      /* Landscape phones and down */
      display: block;
      height: 15px;
      border-bottom: solid 2px #ffffff;
      text-align: center;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: 22px; }
      @media only screen and (max-width: 550px) {
        header .navigation-box .close-menu::after {
          width: 50%; } }
    header .navigation-box nav {
      padding: 8vh 125px;
      /* Landscape phones and down */
      height: 100%;
      display: block; }
      @media only screen and (max-width: 762px) {
        header .navigation-box nav {
          padding: 0px;
          height: 85%; } }
      header .navigation-box nav ul {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly; }
        header .navigation-box nav ul li {
          display: block;
          text-align: center;
          /* Landscape phones and down */ }
          header .navigation-box nav ul li a:link, header .navigation-box nav ul li a:visited {
            color: #ffffff; }
          header .navigation-box nav ul li a:hover, header .navigation-box nav ul li a:focus {
            color: #bfbdb7; }
          @media only screen and (max-width: 992px) {
            header .navigation-box nav ul li {
              padding-right: 0;
              width: 100%;
              display: inline-block;
              text-align: center;
              padding: 10px 0;
              font-size: 20px; } }
        header .navigation-box nav ul li.active::after {
          content: "";
          width: 75px;
          display: block;
          height: 15px;
          border-bottom: solid 2px #000000;
          text-align: center;
          margin: 0 auto;
          position: absolute;
          right: 0;
          left: 0; }
        header .navigation-box nav ul li:hover ::after {
          content: "";
          width: 75px;
          display: block;
          height: 15px;
          border-bottom: solid 2px #000000;
          text-align: center;
          margin: 0 auto;
          position: absolute;
          right: 0;
          left: 0; }
  header #book-now {
    font-family: "Noto Serif", sans-serif;
    width: 150px;
    right: 0;
    top: 0;
    position: absolute;
    height: 66px;
    background: #b09f6a;
    padding: 23px 0;
    text-align: center;
    letter-spacing: 2px;
    font-size: 16px;
    /* Landscape phones and down */
    /* Landscape phones and down */ }
    header #book-now a {
      color: #ffffff; }
    @media only screen and (max-width: 762px) {
      header #book-now {
        width: 100px;
        padding: 20px 5px;
        height: 60px;
        font-size: 12px; } }
    @media only screen and (max-width: 399px) {
      header #book-now {
        display: none; } }
  header #dropdown {
    cursor: pointer;
    font-size: 34px;
    position: absolute;
    right: 165px;
    top: 15px;
    color: #231a0e;
    width: 45px;
    font-weight: 100;
    /* Landscape phones and down */
    /* Landscape phones and down */ }
    @media only screen and (max-width: 762px) {
      header #dropdown {
        right: 110px;
        width: 40px; } }
    @media only screen and (max-width: 399px) {
      header #dropdown {
        right: 10px; } }
  header #lang-menu {
    position: absolute;
    right: 250px;
    top: 16px;
    /* Landscape phones and down */
    /* Landscape phones and down */ }
    @media only screen and (max-width: 762px) {
      header #lang-menu {
        right: 160px; } }
    @media only screen and (max-width: 399px) {
      header #lang-menu {
        right: 50px; } }
    header #lang-menu .bootstrap-select {
      width: 60px !important; }
      header #lang-menu .bootstrap-select .btn {
        font-size: 20px;
        font-family: "Alegreya Sans", sans-serif;
        border: none !important; }

header.sticky {
  padding-top: 0px; }
#book-now-room{
  font-family: "Noto Serif", sans-serif;
    width: 250px;
    height: 60px;
    background: #b09f6a;
    padding: 20px 0;
    color:#fff;
    text-align: center;
    letter-spacing: 2px;
    font-size: 22px;
    letter-spacing: 4px;
    margin: 0 auto;
}
#book-now-room a{
  color:#fff;
}
#book-now-room a:hover{
  color:#000;
}
/* ==========================================================================
   main styling
   ========================================================================== */
main {
  position: relative;
  clear: both;
  overflow: hidden;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 18px;
  color: #231a0e;
  font-weight: 400; }
  main .main-content {
    text-align: center;
    padding: 20px 0; }
    main .main-content p {
      padding: 10px 0; }
    main .main-content ul {
      display: inline-block;
      padding-bottom: 10px;
      text-align: left;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 750px) {
        main .main-content ul {
          text-align: left;
          padding: 0; } }
      main .main-content ul li {
        display: list-item;
        list-style-type: none;
        color: #000;
        padding: 2px 0;
        text-align: left;
         }
        main .main-content ul li span {
          color: #000;
          position: relative;
          bottom: -3px;
          left: 5px; }
      main .main-content ul li:before {
        content: '\2713';
        top: 0;
        color: #aa9658;
    font-size: 18px;
    line-height: 26px;
    margin-right: 10px; }
    main .main-content strong {
      font-weight: 600; }
.accommodation-section{
  padding-top:60px;
  padding-bottom:30px;
}
.accommodation-section .accommodation .image img{
  width: 100%;
}
.accommodation-section .accommodation:nth-child(2n) .image{
  float:right;
}
 @media only screen and (max-width: 992px) {
  .accommodation-section .accommodation:nth-child(2n) .image{
  float:none;
  }
 }
 .accommodation-section .accommodation .text {
  text-align: center;
 }
.accommodation-section .accommodation .text .wrapper{
    height: 317px;
    background: #f8f7f7;
    padding: 50px;
}
.accommodation-section .accommodation.sightseeing .text .wrapper{
    height: 420px;
}
.accommodation-section .accommodation .text .wrapper h2{
  font-size: 28px;
  margin-bottom:20px;
  letter-spacing: 0px;
  font-weight: 600;
}
.accommodation-section .accommodation .text .wrapper .info{
  padding: 20px;
  font-weight: 400;
}
.accommodation-section .accommodation .text .wrapper .button {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 16px;
    padding: 12px 35px;
    letter-spacing: 1px;
    font-weight: 400;
    display: inline-block;
    background: none;
    border: solid 1px #aa9658;
    position: relative;
}
.accommodation-section .accommodation .text .wrapper .button a{
  color:#aa9658;
}
.accommodation-section .accommodation .text .wrapper .button:hover a{
  color:#fff;
}
.accommodation-section .accommodation .text .wrapper .button:hover{
  background: #aa9658;
}

.home-section {
  /* Landscape phones and down */
  padding: 25px 0;
  background: url(../img/welcome-bg.png) no-repeat right; }
  @media only screen and (max-width: 992px) {
    main .main-content ul li{
        text-align: center;

    }
    .home-section {
      padding: 25px 0; }
      .home-section h1 {
        display: block;
        text-align: center; }
      .home-section .main-image {
        display: none; } }
  .home-section .main-image {
    width: 325px;
    height: 315px;
    position: absolute;
    left: -8vw;
    top: 170px;
    z-index: 1;
     }
  .home-section .main-content {
    border-left: solid 2px #aa9658;
    padding-left: 14vw;
    text-align: left;
    font-size: 18px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 6vw;
    /* Landscape phones and down */
    /* Landscape phones and down */
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1500px) {
      .home-section .main-content {
        padding-left: 18vw; } }
    @media only screen and (max-width: 1260px) {
      .home-section .main-content {
        padding-left: 22vw;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 50px; } }
    @media only screen and (max-width: 992px) {
      .home-section .main-content {
        padding-left: 15px;
        padding-right: 15px; } }
  .home-section .line1 {
    display: inline-block;
    height: 10px;
    width: 100%;
    background: url(../img/bg-line.png) no-repeat left bottom;
    text-align: center;
    margin: 0 auto;
    position: relative;
    right: 0;
    top: 12px; }
  .home-section .line2 {
    display: inline-block;
    height: 10px;
    width: 100%;
    background: url(../img/bg-line.png) no-repeat left bottom;
    text-align: center;
    margin: 0 auto;
    position: relative;
    right: 0;
    top: -12px; }
  .home-section .stars2 {
    display: inline-block;
    height: 50px;
    background: url(../img/icons/stars2.png) no-repeat center;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0px;
    bottom: 25px; }

.rooms-teasers {
  text-align: center;
  padding: 25px 0; }
  .rooms-teasers .room-teaser {
    margin: 15px 0; }
    .rooms-teasers .room-teaser .wrapper {
      max-width: 360px;
      margin: 0 auto;
      background: #f8f7f7;
      min-height: 500px;
       }
    .rooms-teasers .room-teaser h3 {
      font-family: "Alegreya Sans", sans-serif;
      font-size: 25px;
      color: #000000;
      font-weight: 500;
      padding: 25px 0;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 992px) {
        .rooms-teasers .room-teaser .wrapper {
          min-height: initial;
        }
        .rooms-teasers .room-teaser h3 {
          font-size: 20px; } }
    .rooms-teasers .room-teaser .text {
      padding-bottom: 45px;
      font-weight: 300; }
    .rooms-teasers .room-teaser p {
      font-size: 18px; }
    .rooms-teasers .room-teaser .button::before {
      content: "";
      width: 118px;
      display: inline-block;
      height: 25px;
      left: -118px;
      right: 0px;
      border-bottom: solid 2px #aa9658;
      text-align: center;
      position: absolute;
      right: 0;
      top: 0px; }
    .rooms-teasers .room-teaser .button::after {
      content: "";
      width: 118px;
      display: inline-block;
      height: 25px;
      left: 125px;
      right: 0px;
      border-bottom: solid 2px #aa9658;
      text-align: center;
      position: absolute;
      right: 0;
      top: 0px; }
    .rooms-teasers .room-teaser .button {
      position: relative;
      bottom: 25px;
      border: solid 2px #aa9658;
      font-weight: 500;
      background: #ffffff; }
      .rooms-teasers .room-teaser .button a:link, .rooms-teasers .room-teaser .button a:visited {
        color: #aa9658; }
      .rooms-teasers .room-teaser .button a:hover {
        color: #ffffff; }
    .rooms-teasers .room-teaser .button:hover {
      background: #aa9658; }
      .rooms-teasers .room-teaser .button:hover a {
        color: #ffffff; }

.bar-section {
  background: url(../img/bar-restaurant.png) repeat center;
  position: relative;
  min-height: 360px;
  text-align: center;
  color: #ffffff; }
  .bar-section .overlay {
    background: rgba(0, 0, 0, 0.35);
    padding: 100px 0; }
  .bar-section p {
    font-size: 25px;
    font-family: "Noto Serif", sans-serif;
    font-style: italic;
    margin-bottom: 50px; }
  .bar-section .button {
    font-family: "Alegreya Sans", sans-serif;
    border: solid 2px #aa9658;
    font-weight: 500;
    font-size: 18px;
    background: #ffffff; }
    .bar-section .button a:link, .bar-section .button a:visited {
      color: #aa9658; }
    .bar-section .button a:hover {
      color: #ffffff; }
  .bar-section .button:hover {
    background: #aa9658; }
    .bar-section .button:hover a {
      color: #ffffff; }
  .bar-section .stars1 {
    display: inline-block;
    height: 65px;
    width: 100%;
    background: url(../img/icons/stars.png) no-repeat center;
    text-align: center;
    margin: 0 auto;
    position: relative;
    right: 0;
    left: 0px;
    bottom: 0; }

.owl-theme .owl-dots .owl-dot span {
  background: #aa9658; }

.owl-theme .owl-dots .owl-dot.active span {
  background: #aa9658;
  width: 15px;
  height: 15px;
  position: relative;
  top: 2px; }

.owl-theme .owl-dots .owl-dot:hover span {
  background: #aa9658; }

.enjoy-section .teasers-carousel {
  position: relative; }
  .enjoy-section .teasers-carousel .owl-controls .owl-nav .owl-prev {
    left: -50px;
    position: absolute;
    top: 130px;
    font-size: 25px;
    background: none !important;
    color: #aa9658 !important; }
    .enjoy-section .teasers-carousel .owl-controls .owl-nav .owl-prev i {
      top: 0;
      position: relative; }
  .enjoy-section .teasers-carousel .owl-controls .owl-nav .owl-next {
    right: -50px;
    position: absolute;
    top: 130px;
    font-size: 25px;
    background: none !important;
    color: #aa9658 !important; }
    .enjoy-section .teasers-carousel .owl-controls .owl-nav .owl-next i {
      top: 0;
      position: relative; }
  .enjoy-section .teasers-carousel .owl-controls .owl-dots {
    margin: 25px 0; }
  .enjoy-section .teasers-carousel .image .image-border {
    border: solid 2px #aa9658;
    margin: 15px;
    width: 535px;
    height: 285px;
    right: 0;
    position: absolute;
    left: 0;
    top: 15px;
    margin: 0 auto;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 762px) {
      .enjoy-section .teasers-carousel .image .image-border {
        display: none; } }
  .enjoy-section .teasers-carousel .image .image-border:hover {
    background: url(../img/icons/hover2.png) no-repeat center;
    background-color: rgba(131, 131, 31, 0.5); }
  .enjoy-section .teasers-carousel .image img {
    max-width: 100%; }
  .enjoy-section .teasers-carousel .text {
    font-family: "Alegreya Sans", sans-serif;
    background: #f8f7f7;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 35px;
    padding-left: 50px;
    padding-right: 50px; }
    .enjoy-section .teasers-carousel .text h3 {
      font-size: 25px;
      padding-bottom: 25px; }
    .enjoy-section .teasers-carousel .text .button {
      font-family: "Alegreya Sans", sans-serif;
      border: solid 2px #aa9658;
      font-weight: 500;
      font-size: 18px;
      background: #ffffff;
      margin: 25px 0; }
      .enjoy-section .teasers-carousel .text .button a:link, .enjoy-section .teasers-carousel .text .button a:visited {
        color: #aa9658; }
      .enjoy-section .teasers-carousel .text .button a:hover {
        color: #ffffff; }
    .enjoy-section .teasers-carousel .text .button:hover {
      background: #aa9658; }
      .enjoy-section .teasers-carousel .text .button:hover a {
        color: #ffffff; }

/************************************************************************************
FOOTER
*************************************************************************************/
footer {
  position: relative;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  /***********Links***************/ }
  footer a:link, footer a:visited {
    text-decoration: none;
    color: #ffffff; }
  footer a:hover, footer a:focus {
    text-decoration: none;
    color: #686763; }
  footer .top {
    /***********Links***************/
    background: #f8f7f7;
    color: #000000;
    padding: 35px 0;
    text-align: left;
    font-size: 18px;
    /* Landscape phones and down */ }
    footer .top h3 {
      font-size: 25px;
      color: #000000;
      font-weight: 400;
      font-family: "Noto Serif", sans-serif;
      letter-spacing: 2px; }
    footer .top a:link, footer .top a:visited {
      text-decoration: none;
      color: #3c4c58; }
    footer .top a:hover, footer .top a:focus {
      text-decoration: none;
      color: #aa9658; }
    @media only screen and (max-width: 992px) {
      footer .top {
        text-align: center; } }
    footer .top .connect {
      padding: 5px 0;
      text-align: center; }
      footer .top .connect h3::after {
        content: "";
        width: 60px;
        display: block;
        height: 15px;
        left: 0px;
        right: 0px;
        border-bottom: solid 2px #aa9658;
        text-align: center;
        margin: 0 auto;
        position: relative;
        right: 0;
        top: 20px; }
      footer .top .connect .social-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 100px;
        padding-right: 40px;
        padding-left: 40px;
        /* Landscape phones and down */ }
        @media only screen and (max-width: 992px) {
          footer .top .connect .social-menu {
            padding-right: 0px;
            padding-left: 0px; } }
    footer .top .contact {
      /* Landscape phones and down */
      padding: 5px 0;
      float: right; }
      @media only screen and (max-width: 992px) {
        footer .top .contact {
          float: none;
          text-align: center; }
          footer .top .contact h3::after {
            margin: 0 auto;
            top: 10px; } }
      footer .top .contact h3::after {
        content: "";
        width: 60px;
        display: block;
        height: 15px;
        left: 0px;
        right: 0px;
        border-bottom: solid 2px #aa9658;
        text-align: center;
        position: relative;
        right: 0;
        top: 20px; }
      footer .top .contact .text {
        padding-top: 50px; }
        footer .top .contact .text i {
padding-right: 15px;
    font-size: 16px;
    color: #aa9658;
    display: inline-block;
    float: left;
    top: 2px;
    position: relative; }
    footer .top .contact .text span{
         display: inline-block;
    max-width: 225px;
    }

    footer .top .quick-links-box {
      /* Landscape phones and down */
      padding: 5px 0; }
      @media only screen and (max-width: 992px) {
        footer .top .contact .text i {
          float:none;
        }
        footer .top .contact .text span{
          display: inline;
        }
        footer .top .quick-links-box {
          float: none;
          text-align: center; }
          footer .top .quick-links-box h3::after {
            margin: 0 auto;
            top: 10px; } }
      footer .top .quick-links-box h3::after {
        content: "";
        width: 60px;
        display: block;
        height: 15px;
        left: 0px;
        right: 0px;
        border-bottom: solid 2px #aa9658;
        text-align: center;
        position: relative;
        right: 0;
        top: 20px; }
      footer .top .quick-links-box nav.quick-menu {
        padding-top: 50px;
        overflow: hidden; }
        footer .top .quick-links-box nav.quick-menu ul li {
          font-size: 18px;
          display: block;
          padding: 0px;
          padding-bottom: 10px;
          color: #000000; }
          footer .top .quick-links-box nav.quick-menu ul li i {
            display: none; }
          footer .top .quick-links-box nav.quick-menu ul li a:link, footer .top .quick-links-box nav.quick-menu ul li a:visited {
            color: #000000; }
          footer .top .quick-links-box nav.quick-menu ul li a:hover, footer .top .quick-links-box nav.quick-menu ul li a:focus, footer .top .quick-links-box nav.quick-menu ul li a.active {
            color: #aa9658; }
        footer .top .quick-links-box nav.quick-menu ul li::before {
          content: "\A";
          width: 5px;
          height: 5px;
          border-radius: 50%;
          display: inline-block;
          background: #aa9658;
          margin-right: 10px;
          margin-bottom: 2px; }
  footer .bottom {
    /***********Links***************/
    background: #bfbdb7;
    color: #000000;
    font-size: 14px;
    padding: 12px 0;
    font-weight: 100;
    font-family: "Alegreya Sans", sans-serif; }
    footer .bottom a:link, footer .bottom a:visited {
      text-decoration: none;
      color: #686763; }
    footer .bottom a:hover, footer .bottom a:focus {
      text-decoration: none;
      color: #aa9658; }
    footer .bottom .copy p {
      float: left; }
    footer .bottom .created p {
      float: right; }
    footer .bottom .created a {
      font-weight: bold;
      color: #000000; }
    footer .bottom .created a:hover, footer .bottom .created a:focus {
      font-weight: bold;
      color: #aa9658; }

/* ==========================================================================
  forms
   ========================================================================== */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #aa9658;
  font-size: 14px; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #aa9658;
  font-size: 14px; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #aa9658;
  font-size: 14px; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #aa9658;
  font-size: 14px; }

.ui-datepicker .ui-datepicker-header {
  background: #aa9658;
  color: #ffffff; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border-color: #aa9658;
  background: #aa9658;
  color: #ffffff; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background: #aa9658;
  color: #ffffff; }

input, select {
  border: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: ''; }

.book-online {
  padding: 30px 0;
  /* Landscape phones and down */
  margin: 15px 0;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .book-online {
      padding: 15px 0; } }
  .book-online #book-online-resp {
    width: 100%;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    display: block;
    height: 15px;
    line-height: 15px;
    display: none;
    color: #ffffff;
    /* Landscape phones and down */ }
    .book-online #book-online-resp a {
      color: #ffffff; }
    @media only screen and (max-width: 992px) {
      .book-online #book-online-resp {
        display: block; } }
  .book-online a#book-online-resp:hover, .book-online a#book-online-resp:focus {
    color: #aa9658; }
  @media only screen and (max-width: 992px) {
    .book-online .book-online-form {
      display: none; } }
  .book-online .form-group {
    position: relative;
    background: #ffffff;
    text-align: center;
    margin-right: 10px;
    font-family: "Alegreya Sans", sans-serif;
    /* Landscape phones and down */ }
    .book-online .form-group label {
      font-size: 10px;
      font-family: "Noto Serif", sans-serif;
      display: block;
      border-bottom: solid 1px #dedbda;
      letter-spacing: 2px;
      font-weight: 300; }
    @media only screen and (max-width: 1140px) {
      .book-online .form-group {
        width: 100%;
        text-align: center; } }
    .book-online .form-group i {
      position: absolute;
      left: 115px;
      top: 8px;
      font-size: 22px;
      color: #ffffff;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 1140px) {
        .book-online .form-group i {
          left: 68%; } }
    .book-online .form-group select {
      /* Landscape phones and down */
      width: 340px;
      height: 40px;
      background: none;
      color: #ffffff;
      font-size: 20px;
      border-bottom: solid 1px #ffffff;
      outline: none;
      background-color: none;
      text-align: center; }
      @media only screen and (max-width: 1140px) {
        .book-online .form-group select {
          width: 50%; } }
    .book-online .form-group select option {
      background: #686763;
      color: #000000;
      box-shadow: inset 20px 20px #f00; }
    .book-online .form-group select option:disabled {
      color: #ffffff; }
    .book-online .form-group input {
      text-align: center;
      width: 100%;
      /* Landscape phones and down */
      height: 20px;
      background: none;
      border-bottom: solid 1px #ffffff;
      outline: none;
      color: #000000;
      font-size: 20px;
      position: relative; }
      @media only screen and (max-width: 1140px) {
        .book-online .form-group input {
          width: 50%; } }
    .book-online .form-group input[type=number]::-webkit-inner-spin-button {
      opacity: 1; }
  .book-online input[type="submit"] {
    position: relative;
    width: 240px;
    padding: 10px;
    height: 50px;
    font-size: 16px;
    background: #aa9658;
    color: #ffffff;
    letter-spacing: 2px;
    border: none;
    float: right;
    font-family: "Noto Serif", sans-serif; }
  .book-online input[type="submit"]:hover {
    background: #ffffff;
    color: #686763; }
  .book-online ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ffffff;
    font-size: 20px; }
  .book-online ::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffff;
    font-size: 20px; }
  .book-online :-ms-input-placeholder {
    /* IE 10+ */
    color: #ffffff;
    font-size: 20px; }
  .book-online :-moz-placeholder {
    /* Firefox 18- */
    color: #ffffff;
    font-size: 20px; }
  .book-online .form-group.select {
    width: 100px;
    position: relative; }
    .book-online .form-group.select input {
      padding-left: 15px; }
  .book-online .form-group.select i {
    position: absolute;
    right: 20px;
    top: 35px;
    color: #aa9658;
    z-index: 1; }
  .book-online .form-group.date {
    width: 170px; }

.contact-form {
  padding:25px 0;
  position: relative; }
  .contact-form .form-group {
    padding: 20px 0; }
  .contact-form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #bfbdb7; }
  .contact-form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #bfbdb7; }
  .contact-form :-ms-input-placeholder {
    /* IE 10+ */
    color: #bfbdb7; }
  .contact-form :-moz-placeholder {
    /* Firefox 18- */
    color: #bfbdb7; }
  .contact-form label {
    font-weight: 400;
    font-size: 24px;
    text-align: left;
    width: 100%;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1000px) {
      .contact-form label {
        font-size: 18px; } }
  .contact-form input {
    width: 90%;
    float: left;
    height: 40px;
    margin: 10px 0;
    padding-left: 16px;
    color: #000;
    border: #bfbdb7 solid 1px;
    border-radius: 5px;
  }
  .contact-form input#sec_code{
    width:150px;
  }
    .contact-form .sec_code {
position: absolute;
    top: 40px;
    left: 165px;
    width: 65px; }

    @media only screen and (max-width: 992px) {
    .contact-form .sec_code {
position: absolute;
    top: 100px;
    left: 165px;
    width: 65px; }

      .contact-form input {
        width: 100%; } }
  .contact-form input[type="submit"] {
    background: #fff;
    color: #aa9658;
    border-radius: 0px;
    font-weight: 400;
    width: 260px;
    border: solid 1px #aa9658;
    margin: 0 auto;
    /* Landscape phones and down */
    position: absolute;
    right:0;
    left: 0; }
    @media only screen and (max-width: 992px) {
      .contact-form input[type="submit"] {
        width: 100%;
        right: 0px; } }
  .contact-form input[type="submit"]:hover {
    background: #aa9658;
    color:#fff;
     }
  .contact-form textarea {
    width: 98%;
    /* Landscape phones and down */
    height: 215px;
    display: inline-block;
    padding: 20px;
    float: left;
    margin-top: 10px;
    color: #000;
    border: #bfbdb7 solid 1px;
    border-radius: 5px; }
    @media only screen and (max-width: 992px) {
      .contact-form textarea {
        width: 100%; } }
  .contact-form span {
    font-style: italic;
    font-size: 13px;
    padding: 15px 0;
    display: block; }

/************************************************************************************
SOCIAL MENU
*************************************************************************************/
.social-menu i {
  font-size: 20px; }

.social-menu a.cyrcle {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  border: none;
  margin-right: 5px;
  background: #bfbdb7; }

.social-menu a.cyrcle:link, .social-menu a.cyrcle:visited {
  color: #ffffff;
  background: #bfbdb7; }

.social-menu a.cyrcle:hover, .social-menu a.cyrcle:focus {
  color: #ffffff;
  background: #aa9658; }

.social-menu a.square {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  margin-right: 5px;
  padding-top: 5px;
  font-size: 20px;
  text-align: center;
  background: #3c4c58;
  display: inline-block; }

.social-menu a.last {
  margin-right: 0px; }

.social-menu a:link, .social-menu a:visited {
  color: #231a0e; }

.social-menu a:hover, .social-menu a:focus {
  color: #aa9658; }

.social-menu.block {
  width: 250px;
  display: inline-block;
  text-align: center; }
  .social-menu.block li {
    width: 80px;
    padding: 5px;
    display: inline-block;
    color: #343333; }

/************************************************************************************
SLIDER
*************************************************************************************/
.slider-wrapper {
  position: relative; }
  .slider-wrapper .caption {
    position: absolute;
    width: 480px;
    margin: 0 auto;
    left: 0;
    right: 0px;
    top: 28vh;
    /* Landscape phones and down */
    z-index: 1;
    text-align: center;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 100;
    color: #ffffff;
    font-size: 62px;
    line-height: 82px;
    display: none;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1260px) {
      .slider-wrapper .caption {
        top: 20vh; } }
    @media only screen and (max-width: 992px) {
      .slider-wrapper .caption {
        display: none; } }
  .slider-wrapper .book-online {
    position: absolute;
    bottom: 23vh;
    left: 0px;
    right: 0px;
    width: 975px;
    margin: 0 auto;
    background: #b3b0a9c4;
    padding: 15px;
    z-index: 1;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      .slider-wrapper .book-online {
        bottom: 0;
        width: 100%;
        background: #b3b0a9; } }
  .slider-wrapper .scroll-down {
    position: absolute;
    bottom: 6vh;
    width: 265px;
    height: 80px;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    right: 0px;
    left: 0px;
    color: #ffffff;
    display: inline-block;
    z-index: 99;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      .slider-wrapper .scroll-down {
        display: none; } }

.slider-wrapper::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  background: #000000;
  display: block;
  pointer-events: none; }

/************************************************************************************
PHOTOS GALLERY
*************************************************************************************/
.masonry-gallery {
  display: block;
  overflow: hidden;
  margin: 0 auto; }
  .masonry-gallery .gallery-item{
    width: 320px;
  }
 .masonry-gallery .gallery-item img{
 }


  .masonry-gallery .gallery-item.style1 {
    width: 285px;
    height: 415px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1260px) {
      .masonry-gallery .gallery-item.style1 {
        width: 230px;
        height: 380px; } }
  .masonry-gallery .gallery-item.style2 {
    width: 235px;
    height: 250px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1260px) {
      .masonry-gallery .gallery-item.style2 {
        width: 230px; } }
  .masonry-gallery .gallery-item.style3 {
    width: 480px;
    height: 345px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1260px) {
      .masonry-gallery .gallery-item.style3 {
        width: 230px;
        height: 345px; } }
  .masonry-gallery .gallery-item.style4 {
    width: 285px;
    height: 180px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1260px) {
      .masonry-gallery .gallery-item.style4 {
        width: 230px;
        height: 160px; } }
  .masonry-gallery .gallery-item {
    /* Landscape phones and down */
    position: relative;
    display: inline-block;
    margin: 5px;
    background: trasparent;
    clear: both;
    overflow: hidden;
    z-index: 1; }
    @media only screen and (max-width: 1260px) {
      .masonry-gallery .gallery-item {
        margin-bottom: 10px; } }
    .masonry-gallery .gallery-item span {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -ms-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
      background: url(../img/icons/hover2.png) no-repeat center rgba(131, 131, 31, 0.5);
      cursor: pointer;
      color: #ffffff;
      display: none; }
  .masonry-gallery .gallery-item:hover span {
    display: block;
    transform: scale(1.02); }

/************************************************************************************
GALLERIES owl
*************************************************************************************/
.carousel-gallery {
  position: relative;
  padding: 25px 0; }
  .carousel-gallery .gallery-item {
    position: relative; }
    .carousel-gallery .gallery-item span {
      position: absolute;
      top: 0;
      text-align: center;
      width: 100%;
      height: 100%;
      opacity: 0.0;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -ms-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
      background: url(../img/icons/hover2.png) no-repeat center rgba(131, 131, 31, 0.5);
      cursor: pointer;
      display: none; }
  .carousel-gallery .gallery-item:hover span {
    display: block;
    opacity: 0.8; }

.teaser-gallery {
  position: relative;
  padding: 25px 0; }
  .teaser-gallery .teaser-hover {
    position: absolute;
    top: 0;
    font-family: "Alegreya Sans", sans-serif;
    font-size: 22px;
    padding: 25%;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    background: #686763;
    color: #000000;
    cursor: pointer;
    display: none; }
    .teaser-gallery .teaser-hover p {
      line-height: 20px;
      font-size: 21px; }
    .teaser-gallery .teaser-hover span {
      display: inline-block;
      font-family: "Open Sans", sans-serif;
      border-top: solid 2px #bfbdb7;
      padding-top: 10px;
      margin-top: 15px; }
  .teaser-gallery .teaser-item:hover > .teaser-hover {
    display: block;
    opacity: 0.8; }

/************************************************************************************
MAP
*************************************************************************************/
.map {
  overflow: hidden;
  width: 100%;
  clear: both;
  position: relative; }

.map #map-canvas, .map #map-canvas-homepage {
  width: 100%;
  height: 400px;
  border-bottom: solid 2px #aa9658; }

.map-wrapper {
  padding-top: 30px; }

.map-top-shadow {
  position: absolute;
  height: 20px;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.3); }

.map-bottom-shadow {
  position: absolute;
  height: 20px;
  bottom: -20px;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.3); }

#map-popup-box {
  display: none; }
  #map-popup-box .map #map-canvas {
    width: 1000px;
    height: 600px; }

/************************************************************************************
OFFER MODAL
*************************************************************************************/
.modal {
  top: 25% !important;
  text-align: center; }

.modal-body {
  position: relative;
  padding: 20px 60px; }

.modal-body ul li {
  display: list-item;
  list-style-type: disc; }

.modal-header {
  text-align: center; }

.modal-footer {
  padding: 15px;
  text-align: center;
  border: none; }

.modal-footer .btn-default {
  width: 25%;
  background: #686763;
  color: #ffffff; }
