@CHARSET "UTF-8";
/* ==========================================================================
   Cross-browser RESET
   ========================================================================== */
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, figure, legend, fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

img {
  height: auto;
  border: none;
  /* ie8 */
  display: block;
  /* fix the img bottom margin default  */
  max-width: 100%;
  margin: 0 auto; }

a img {
  border: none; }

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

.bx-wrapper {
  margin: 0 auto; }

.bx-wrapper .bx-viewport {
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  left: 0px; }
  .bx-wrapper .bx-viewport li {
    padding: 0px; }

/**
 * Responsive mixin. The media breakpoints are as defined
 * in the twitter bootstrap framework:
 *
 * - phone
 * - tablet-portrait
 * - tablet-landscape-desktop
 * - large-desktop
 *
 * Additional parameters for tagetting retina and non-retina
 * devices
 *
 * - retina
 * - non-retina
 *
 * Moreover, a specific value in px can be passed which is
 * used to generate a max-width media query.
 */
/* ==========================================================================
   General
   ========================================================================== */
/* ==========================================================================
Load custom fonts
========================================================================== */
@font-face {
  font-family: 'CaviarDreams';
  src: url("fonts/CaviarDreams-webfont.eot");
  src: url("fonts/CaviarDreams-webfont.eot?iefix") format("eot"), url("fonts/CaviarDreams-webfont.woff") format("woff"), url("fonts/CaviarDreams-webfont.ttf") format("truetype"), url("fonts/CaviarDreams-webfont.svg#webfont") format("svg"); }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  -webkit-text-size-adjust: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  overflow-x: hidden;
  position: relative;
  margin: 0 auto;
  color: #000000;
  background: #f6f5f6;
  overflow-x: hidden;
  position: relative; }

.content-width-outer {
  margin: 0 auto;
  max-width: 1340px;
  position: relative; }

.content-width {
  margin: 0 auto;
  max-width: 1260px;
  position: relative; }

.content-width-inner {
  margin: 0 auto;
  max-width: 999px;
  position: relative; }

.content-width-inner2 {
  margin: 0 auto;
  max-width: 760px;
  position: relative; }

.content-width-gallery {
  margin: 0 auto;
  max-width: 1085px;
  position: relative; }

.content-padding {
  padding: 0px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1260px) {
    .content-padding {
      padding: 0px 30px; } }

.top-padding {
  padding-top: 75px; }

.top-bottom-padding-large {
  padding: 30px 0;
  overflow: hidden;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1260px) {
    .top-bottom-padding-large {
      padding: 20px 0; } }

.top-bottom-padding {
  padding: 20px 0;
  overflow: hidden;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1260px) {
    .top-bottom-padding {
      padding: 10px 0; } }

.top-bottom-padding-small {
  padding: 10px 0;
  overflow: hidden; }

.side-padding {
  padding: 0 20px; }

.side-padding-large {
  padding: 0 30px; }

.left-padding {
  padding-left: 20px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 999px) {
    .left-padding {
      padding: 0; } }

.right-padding {
  padding-right: 20px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 999px) {
    .right-padding {
      padding: 0; } }

.right-padding-large {
  padding-right: 30px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 999px) {
    .right-padding-large {
      padding: 0; } }

.left-padding-large {
  padding-left: 30px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 999px) {
    .left-padding-large {
      padding: 0; } }

.no-padding {
  padding: 0px; }

.top-bottom-margin {
  margin: 20px 0; }

.side-margin {
  margin: 0 20px; }

.left-margin {
  margin-left: 20px; }

.right-margin {
  margin-right: 20px; }

.no-margin {
  margin: 0px; }

hr {
  border-color: #eb6529; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000000;
  font-size: 14px; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #000000;
  font-size: 14px; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #000000;
  font-size: 14px; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #000000;
  font-size: 14px; }

.border {
  border: 10px solid #ffffff; }

.scrollToTop {
  width: 60px;
  height: 60px;
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 18px;
  padding: 20px;
  background: #000000;
  color: #eb6529;
  z-index: 999; }

a.scrollToTop:link, a.scrollToTop:visited {
  color: #eb6529; }

.half-line {
  background: url(../img/line.png) no-repeat center 20px;
  background-size: 10%;
  display: block;
  height: 40px;
  overflow: hidden; }

.half-line1 {
  background: url(../img/line1.png) no-repeat center;
  display: block;
  height: 25px;
  overflow: hidden; }

.underline-half {
  border-bottom: solid 1px #eb6529;
  width: 18%;
  display: block;
  padding: 8px 0;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1260px) {
    .underline-half {
      margin: 0 auto; } }

.lines {
  position: relative;
  z-index: 1;
  padding: 5px;
  overflow: hidden;
  text-align: center; }

.lines:before, .lines:after {
  position: absolute;
  top: 54%;
  margin-top: 5px;
  overflow: hidden;
  height: 1px;
  content: '\a0';
  background-color: #ffffff; }

.lines:before {
  margin-left: -11%;
  width: 10%;
  text-align: right; }

.lines:after {
  margin-left: 1%;
  width: 10%; }

.lines2 {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center; }

.lines2:before, .lines2:after {
  position: absolute;
  top: 45%;
  margin-top: 5px;
  overflow: hidden;
  height: 1px;
  content: '\a0';
  background-color: #ffffff; }

.lines2:before {
  margin-left: -11%;
  width: 10%;
  text-align: right; }

.lines2:after {
  margin-left: 1%;
  width: 10%; }

h1 {
  position: relative;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  font-weight: 100;
  font-size: 36px;
  /* Landscape phones and down */
  padding: 15px 0; }
  @media only screen and (max-width: 999px) {
    h1 {
      font-size: 30px; } }
  h1 span {
    font-style: italic;
    text-align: center; }

h2 {
  position: relative;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  font-size: 36px;
  font-weight: 100;
  /* Landscape phones and down */
  padding: 10px 0; }
  @media only screen and (max-width: 999px) {
    h2 {
      font-size: 30px; } }
  h2 span {
    font-family: "Playfair Display", serif;
    font-size: 50px;
    position: relative;
    top: 5px; }

h2.lines {
  /* Landscape phones and down */ }
  @media only screen and (max-width: 762px) {
    h2.lines {
      padding: 0px; } }

h3 {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  padding: 0 35px;
  font-weight: 600; }
  h3 span {
    color: #eb6529;
    font-size: 32px;
    padding: 15px 0;
    font-weight: 500;
    display: block; }

h4 {
  color: #ffffff;
  font-size: 18px;
  padding: 5px 0; }
  h4 span {
    color: #3f9bab; }

strong {
  font-weight: bold; }
  strong span {
    color: #eb6529; }

ul {
  padding: 0;
  display: inline; }

p {
  padding: 5px 0; }

/*****Element/tag selectors********/
li, ol, dl {
  padding: 5px 0;
  list-style-type: none;
  display: inline; }

li.last, ol.last, dl.last {
  padding: 0px; }

/***********Links***************/
a:link, a:visited {
  text-decoration: none;
  color: #eb6529; }

a:hover, a:focus {
  text-decoration: none;
  color: #3f9bab; }

/************************************************************************************
BUTTONS
*************************************************************************************/
.button {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  padding: 12px 35px;
  border-top: solid 1px #eb6529;
  border-bottom: solid 1px #eb6529;
  background: #eb6529;
  display: inline-block; }
  .button a:link, .button a:visited {
    color: #ffffff; }
  .button a:hover {
    color: #000000; }
  .button span {
    color: #3f9bab;
    padding-left: 5px;
    font-size: 18px; }

.button:hover {
  color: #000000; }

/************************************************************************************
SOCIAL
*************************************************************************************/
.social a.cyrcle {
  border-radius: 40px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  border: solid 2px;
  margin-right: 10px; }

.social a.square {
  width: 20px;
  height: 22px;
  border-radius: 4px;
  margin-right: 5px;
  text-align: center;
  background: #d5d5d5;
  display: inline-block; }

.social a.square:hover {
  background: #eb6529; }

.social a.square.last {
  margin-right: 0px; }

.social a.cyrcle.last {
  margin-right: 0px; }

.social a:link, .social a:visited {
  color: #ffffff; }

.social a:hover, .social a:focus {
  color: #ffffff; }

/************************************************************************************
CUSTOM LIST
*************************************************************************************/
ul.tick-list {
  text-align: left;
  /* Landscape phones and down */
  padding: 35px;
  width: 100%;
  float: left;
  list-style-image: url(../img/icons/tick.png);
  list-style-position: inside; }
  @media only screen and (max-width: 1260px) {
    ul.tick-list {
      text-align: center;
      float: none; } }
  ul.tick-list li {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    display: list-item;
    color: #eb6529;
    padding: 10px 0; }
    ul.tick-list li span {
      display: inline-table;
      width: 85%; }
    ul.tick-list li strong {
      font-family: "Roboto", serif;
      color: #000000;
      font-weight: 600; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.clear {
  clear: both; }

.hidden {
  display: none !important;
  visibility: hidden; }

.img-responsive {
  width: 100%; }

.center-align {
  text-align: center; }

.right-align {
  text-align: right;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 999px) {
    .right-align {
      text-align: center; } }

.left-align {
  text-align: left;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 999px) {
    .left-align {
      text-align: center; } }

.right {
  float: right; }

.left {
  float: right; }

.clear {
  clear: both; }

.sticky, .fixed {
  position: fixed !important;
  top: 0px !important;
  z-index: 999999 !important; }

.stretched {
  letter-spacing: 2px; }

.highlight {
  color: #eb6529; }

.line {
  background: url(../img/line.png) no-repeat center;
  height: 60px; }

.decor-line {
  background: url(../img/decor-line.png) no-repeat center;
  height: 100px; }

.decor-r {
  background: url(../img/decor-right.png) no-repeat center;
  width: 280px;
  height: 36px;
  display: inline-block;
  position: relative;
  top: 5px;
  left: 15px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 762px) {
    .decor-r {
      display: none; } }

.decor-l {
  background: url(../img/decor-left.png) no-repeat center;
  width: 240px;
  height: 36px;
  display: inline-block;
  position: relative;
  top: 5px;
  right: 15px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 762px) {
    .decor-l {
      display: none; } }

/* ==========================================================================
  forms
   ========================================================================== */
.ui-datepicker .ui-datepicker-header {
  background: #eb6529;
  color: #ffffff; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border-color: #eb6529;
  background: #eb6529;
  color: #ffffff; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background: #eb6529;
  color: #ffffff; }

.calender {
  background: url("../img/icons/date.png") no-repeat 130px white; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1; }

input, select {
  border: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: ''; }

.book-online-form {
  font-family: "Roboto", serif;
  font-size: 16px; }
  .book-online-form .form-group label {
    width: 100%;
    font-weight: 100;
    font-style: italic;
    margin: 0px; }
  .book-online-form .form-group select {
    width: 110px;
    height: 40px;
    padding-left: 10px; }
  .book-online-form .form-group input {
    width: 165px;
    height: 40px;
    padding: 10px;
    color: #000000; }
  .book-online-form input[type="submit"] {
    position: relative;
    top: 10px;
    font-size: 20px;
    width: 165px;
    height: 45px;
    border: none;
    font-weight: 100;
    color: #ffffff;
    background: #eb6529;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff; }
  .book-online-form input[type="submit"]:hover {
    color: #eb6529;
    background: #ffffff; }
  .book-online-form .form-group.select {
    width: 85px;
    position: relative; }
    .book-online-form .form-group.select input {
      width: 65px; }
  .book-online-form .form-group.select i {
    position: absolute;
    right: 20px;
    top: 35px;
    color: #eb6529;
    z-index: 1; }
  .book-online-form .form-group.date {
    width: 185px; }

.contact-form {
  font-family: "Open Sans", sans-serif;
  position: relative;
  margin: 0 15px;
  overflow: hidden; }
  .contact-form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #000000;
    font-weight: 500; }
  .contact-form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #000000;
    font-weight: 500; }
  .contact-form :-ms-input-placeholder {
    /* IE 10+ */
    color: #000000;
    font-weight: 500; }
  .contact-form :-moz-placeholder {
    /* Firefox 18- */
    color: #000000;
    font-weight: 500; }
  .contact-form label {
    font-weight: 100;
    font-size: 23px;
    width: 100%;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1260px) {
      .contact-form label {
        font-size: 18px; } }
  .contact-form input {
    width: 96%;
    /* Landscape phones and down */
    height: 45px;
    margin: 15px 0;
    padding: 15px;
    color: #eb6529;
    background: #dee1e7; }
    @media only screen and (max-width: 999px) {
      .contact-form input {
        width: 100%; } }
  .contact-form input[type="submit"] {
    color: #000000;
    background: transparent;
    border-top: solid 1px #eb6529;
    border-bottom: solid 1px #eb6529;
    border-radius: 0px;
    font-size: 20px;
    font-weight: 500;
    height: 40px;
    padding: 0px;
    margin: 0px;
    width: 25%;
    /* Landscape phones and down */
    position: relative; }
    @media only screen and (max-width: 999px) {
      .contact-form input[type="submit"] {
        width: 100%;
        bottom: 0px; } }
  .contact-form input[type="submit"]:hover {
    color: #eb6529; }
  .contact-form textarea {
    width: 100%;
    /* Landscape phones and down */
    height: 195px;
    display: inline-block;
    padding: 15px;
    margin: 15px 0;
    float: right;
    color: #000000;
    background: #dee1e7;
    border: none; }
    @media only screen and (max-width: 999px) {
      .contact-form textarea {
        width: 100%;
        height: 175px; } }
  .contact-form span {
    font-style: italic;
    font-size: 13px;
    padding: 15px 0;
    display: block; }
  .contact-form .sec_code {
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 50px; }

/* ==========================================================================
   Header styling
   ========================================================================== */
header {
  position: fixed;
  width: 100%;
  z-index: 999;
  /* Landscape phones and down */ }
  header a:link, header a:visited {
    color: #000000; }
  header a:hover, header a:focus {
    color: #eb6529; }
  @media only screen and (max-width: 999px) {
    header {
      position: relative; } }
  header .logo {
    position: absolute;
    left: 0px;
    top: -2px;
    display: block;
    z-index: 1;
    /* Landscape phones and down */
    /* Landscape phones and down */
    /* Landscape phones and down */ }
    header .logo a {
      display: block;
      width: 280px;
      background: url(../img/logo.png) repeat center;
      height: 170px; }
    @media only screen and (max-width: 1260px) {
      header .logo a {
        display: block;
        width: 180px;
        background: url(../img/logo-tablet.png) repeat center;
        height: 100px; } }
    @media only screen and (max-width: 762px) {
      header .logo a {
        display: block;
        width: 100px;
        background: url(../img/logo-mob.png) repeat center;
        height: 62px; } }
    @media only screen and (max-width: 550px) {
      header .logo a {
        position: relative;
        top: 50px; } }
  header .top {
    height: 5px;
    background: url(../img/bg.png) repeat center; }
  header .nav-bar1 {
    height: 40px;
    padding: 8px;
    overflow: hidden;
    font-size: 14px;
    background: #ffffff; }
    header .nav-bar1 .navigation-top {
      float: right;
      width: 1000px;
      margin-right: -16px;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 1260px) {
        header .nav-bar1 .navigation-top {
          width: 800px; } }
    header .nav-bar1 .lang-menu {
      padding-left: 20px;
      /* Landscape phones and down */
      /* Landscape phones and down */ }
      header .nav-bar1 .lang-menu li {
        color: #d5d5d5; }
        header .nav-bar1 .lang-menu li a {
          padding: 0 5px; }
      header .nav-bar1 .lang-menu li a.active {
        color: #eb6529; }
      @media only screen and (max-width: 999px) {
        header .nav-bar1 .lang-menu {
          float: right; } }
      @media only screen and (max-width: 550px) {
        header .nav-bar1 .lang-menu {
          padding: 0px;
          position: relative;
          right: -15px; } }
    header .nav-bar1 .social {
      float: right;
      display: inline-block;
      color: #d5d5d5;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 762px) {
        header .nav-bar1 .social {
          display: none; } }
    header .nav-bar1 .top-menu {
      float: right;
      display: inline-block;
      /* Landscape phones and down */ }
      header .nav-bar1 .top-menu li {
        color: #d5d5d5; }
        header .nav-bar1 .top-menu li a {
          padding: 0 10px; }
        header .nav-bar1 .top-menu li a.active {
          color: #eb6529; }
      header .nav-bar1 .top-menu li.bg-online {
        background: #eb6529;
        padding: 15px; }
        header .nav-bar1 .top-menu li.bg-online a:link, header .nav-bar1 .top-menu li.bg-online a:visited {
          color: #ffffff; }
        header .nav-bar1 .top-menu li.bg-online a:hover, header .nav-bar1 .top-menu li.bg-online a:focus {
          color: #000000; }
      @media only screen and (max-width: 550px) {
        header .nav-bar1 .top-menu li.bg-online {
          display: none; } }
  header .navigation {
    font-family: "Open Sans", sans-serif;
    position: relative;
    font-size: 16px;
    font-weight: 100;
    padding: 20px;
    width: 980px;
    float: right;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px 0px 25px 25px;
    border-radius: 0px 0px 25px 25px;
    background: url(../img/bg.png) repeat center;
    /* Landscape phones and down */
    /* Landscape phones and down */
    /* Landscape phones and down */ }
    @media only screen and (max-width: 550px) {
      header .navigation {
        border: none; } }
    header .navigation ul li {
      padding-left: 22px;
      /* Landscape phones and down */ }
      header .navigation ul li a:link, header .navigation ul li a:visited {
        color: #ffffff; }
      header .navigation ul li a:hover, header .navigation ul li a:focus {
        color: #eb6529; }
      header .navigation ul li a.active {
        color: #eb6529; }
      @media only screen and (max-width: 1260px) {
        header .navigation ul li {
          padding-left: 0;
          width: 100%;
          display: inline-block;
          text-align: center;
          padding: 10px 0;
          font-size: 22px; } }
    header .navigation ul li.last {
      padding-right: 0px; }
    @media only screen and (max-width: 1260px) {
      header .navigation {
        position: absolute;
        right: 22px;
        margin: 0;
        padding-top: 0;
        padding-right: 0px;
        padding-left: 0px;
        width: 100%;
        height: 55px; } }
    @media only screen and (max-width: 999px) {
      header .navigation {
        right: 0px; } }
    header .navigation .menu {
      margin: 0px -5px;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 1260px) {
        header .navigation .menu {
          position: relative;
          top: 45px;
          margin: 0px;
          width: 100%;
          background: url(../img/bg.png) repeat center;
          display: none;
          padding: 20px 0; } }
  header .navigation.active {
    border-radius: 0px; }
    header .navigation.active .menu {
      border-radius: 0px 0px 20px 0; }
  header #dropdown {
    display: none;
    cursor: pointer;
    font-size: 35px;
    position: absolute;
    right: 22px;
    top: 8px;
    color: #ffffff;
    /* Landscape phones and down */
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1260px) {
      header #dropdown {
        display: block; } }
    @media only screen and (max-width: 550px) {
      header #dropdown {
        right: 5px;
        font-size: 28px; } }

/* ==========================================================================
   main styling
   ========================================================================== */
main {
  position: relative;
  clear: both;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #000000; }
  main .main-content {
    text-align: center;
    padding: 20px 0;
    /* Landscape phones and down */ }
    main .main-content .lines:before, main .main-content .lines:after {
      top: 45%;
      background-color: #000000; }
    main .main-content h2 {
      font-size: 30px; }
    main .main-content h3 {
      text-align: left;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 1260px) {
        main .main-content h3 {
          text-align: center; } }
    @media only screen and (max-width: 999px) {
      main .main-content {
        padding: 15px; } }
    main .main-content p {
      padding: 10px 0; }
    main .main-content ul {
      display: inline-block;
      padding-bottom: 10px;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 750px) {
        main .main-content ul {
          text-align: center;
          padding: 0; } }
      main .main-content ul li {
        display: list-item;
        list-style-type: none;
        color: #000000; }
    main .main-content strong {
      font-weight: 600; }

/************************************************************************************
SLIDER
*************************************************************************************/
.slider-wrapper {
  position: relative; }
  .slider-wrapper .caption {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    top: 250px;
    z-index: 1;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-weight: 100;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    line-height: 60px;
    display: none;
    /* Landscape phones and down */ }
    .slider-wrapper .caption span {
      display: block;
      font-style: normal;
      font-weight: normal; }
    @media only screen and (max-width: 1260px) {
      .slider-wrapper .caption {
        display: none; } }
  .slider-wrapper .book-online {
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    z-index: 999;
    width: 860px;
    right: 0;
    left: 0;
    font-size: 18px;
    padding: 15px 25px;
    background: #eb6529;
    color: #ffffff;
    z-index: 999;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 999px) {
      .slider-wrapper .book-online {
        display: none; } }
  .slider-wrapper #book-online-resp {
    position: relative;
    width: 100%;
    height: 45px;
    border: none;
    background-color: #eb6529;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    display: none;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 999px) {
      .slider-wrapper #book-online-resp {
        display: inline-block; } }
  .slider-wrapper .scroll-down {
    position: absolute;
    bottom: 20px;
    width: 100px;
    height: 50px;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    right: 0px;
    left: 0px;
    color: #ffffff;
    display: inline-block; }

/************************************************************************************
BACKGROUNDS
*************************************************************************************/
.bg-color1 {
  background: #f6f5f6; }

.bg-decor {
  background: url(../img/Alexandros_a.png) no-repeat center;
  text-align: center;
  padding: 125px 50px;
  /* Landscape phones and down */
  /* Landscape phones and down */
  display: inline-block; }
  @media only screen and (max-width: 999px) {
    .bg-decor {
      width: 100%; } }
  @media only screen and (max-width: 762px) {
    .bg-decor {
      padding: 25px;
      background: none; } }

.headline-bg {
  background: url(../img/header-layer.png) no-repeat center;
  text-align: center;
  height: 185px;
  /* Landscape phones and down */
  padding: 10px 0;
  color: #ffffff; }
  @media only screen and (max-width: 762px) {
    .headline-bg {
      height: 125px;
      padding: 0px; } }
  .headline-bg h1, .headline-bg h2 {
    color: #ffffff;
    letter-spacing: 1px; }
  .headline-bg p {
    font-size: 20px;
    font-weight: 100; }

.teasers-bg1 {
  background: url(../img/Black-&-White-1.png) repeat; }

.teasers-bg2 {
  background: url(../img/Black-&-White-2.png) repeat; }

.teasers-bg3 {
  background: url(../img/Black-&-White-3.png) repeat; }

/************************************************************************************
PHOTOS GALLERY
*************************************************************************************/
#gallery {
  display: block;
  overflow: hidden;
  margin: 125px auto;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 762px) {
    #gallery {
      margin: 65px auto; } }

.photo-item.style1 {
  width: 285px;
  height: 410px;
  margin: 5px;
  /* Landscape phones and down */
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1260px) {
    .photo-item.style1 {
      width: 230px;
      height: 380px; }
      .photo-item.style1 img {
        min-height: 380px; } }
  @media only screen and (max-width: 999px) {
    .photo-item.style1 {
      height: auto; }
      .photo-item.style1 img {
        min-height: auto; } }

.photo-item.style2 {
  width: 235px;
  height: 245px;
  margin: 5px;
  /* Landscape phones and down */
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1260px) {
    .photo-item.style2 {
      width: 230px; }
      .photo-item.style2 img {
        min-height: 220px; } }
  @media only screen and (max-width: 999px) {
    .photo-item.style2 {
      height: auto; }
      .photo-item.style2 img {
        min-height: auto; } }

.photo-item.style3 {
  width: 482px;
  height: 340px;
  margin: 5px;
  /* Landscape phones and down */
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1260px) {
    .photo-item.style3 {
      width: 230px;
      height: 310px; }
      .photo-item.style3 img {
        min-height: 310px; } }
  @media only screen and (max-width: 999px) {
    .photo-item.style3 {
      height: auto; }
      .photo-item.style3 img {
        min-height: auto; } }

.photo-item.style4 {
  width: 285px;
  height: 175px;
  margin: 5px;
  /* Landscape phones and down */
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1260px) {
    .photo-item.style4 {
      width: 230px;
      height: 160px; }
      .photo-item.style4 img {
        min-height: 160px; } }
  @media only screen and (max-width: 999px) {
    .photo-item.style4 {
      height: auto; }
      .photo-item.style4 img {
        min-height: auto; } }

.photo-item {
  /* Landscape phones and down */
  background-position: center;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  float: left;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  /* Landscape phones and down */
  clear: both;
  overflow: hidden;
  z-index: 1; }
  @media only screen and (max-width: 1260px) {
    .photo-item {
      margin-bottom: 10px; } }
  @media only screen and (max-width: 999px) {
    .photo-item {
      width: auto;
      float: none;
      text-align: center; } }
  .photo-item span {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: url(../img/icons/enlarge.png) no-repeat center rgba(235, 101, 41, 0.5);
    color: #ffffff;
    display: none; }

.photo-item:hover span {
  display: block; }

.photo-item a img {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out; }

.photo-item a img:hover {
  transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')";
  /* IE8 */
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); }

/************************************************************************************
PAGE GALLERY
*************************************************************************************/
.page-gallery {
  position: relative;
  padding: 35px 0; }

/************************************************************************************
TEASERS
*************************************************************************************/
.teaser-box {
  background: #ffffff;
  padding: 15px;
  margin: 15px 0;
  overflow: hidden;
  display: inline-block;
  /***********Links***************/ }
  .teaser-box .text, .teaser-box .image {
    overflow: hidden; }
  .teaser-box .photo-item {
    max-width: 540px;
    margin-right: 0px;
    margin-left: -15px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 999px) {
      .teaser-box .photo-item {
        margin-right: 0px;
        margin-left: 0px;
        float: none;
        clear: both; } }
    .teaser-box .photo-item span {
      background: url(../img/icons/hover.png) no-repeat center rgba(235, 101, 41, 0.5); }
  .teaser-box .photo-item.right {
    float: right;
    margin-right: -15px;
    margin-left: 0px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 999px) {
      .teaser-box .photo-item.right {
        margin-right: 0px;
        margin-left: 0px;
        float: none;
        clear: both; } }
  .teaser-box h3 {
    padding-top: 30px;
    text-align: center !important; }
  .teaser-box .p {
    padding: 10px; }
  .teaser-box .info {
    padding: 10px 0; }
  .teaser-box .button {
    margin: 15px 0; }
    .teaser-box .button a:link, .teaser-box .button a:visited {
      text-decoration: none;
      color: #ffffff; }
    .teaser-box .button a:hover, .teaser-box .button a:focus {
      text-decoration: none;
      color: #000000; }
  .teaser-box a:link, .teaser-box a:visited {
    text-decoration: none;
    color: #000000; }
  .teaser-box a:hover, .teaser-box a:focus {
    text-decoration: none;
    color: #eb6529; }

.room-type {
  width: 185px;
  margin-right: 65px;
  margin-top: 25px;
  margin-bottom: 25px;
  /* Landscape phones and down */
  padding: 12px;
  text-align: center; }
  @media only screen and (max-width: 999px) {
    .room-type {
      margin: 15px auto; } }

.teaser-item1 {
  position: relative;
  width: 334px;
  border: 10px solid #ffffff;
  height: 220px;
  margin: 10px auto; }
  .teaser-item1 .hover {
    position: absolute;
    top: 0;
    font-size: 22px;
    padding: 40px 10px;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    background: #eb6529;
    color: #ffffff;
    cursor: pointer;
    display: none; }
    .teaser-item1 .hover p {
      font-size: 16px;
      padding: 2px 0; }
    .teaser-item1 .hover span {
      font-weight: 600; }

.teaser-item1:hover > .hover {
  display: block;
  opacity: 0.8; }

.teaser-item2 {
  position: relative;
  text-align: center;
  width: 335px;
  border: 10px solid #ffffff;
  background: #ffffff;
  margin: 10px auto; }
  .teaser-item2 h3 a {
    color: #000000; }
  .teaser-item2 h3 a:hover {
    color: #eb6529; }
  .teaser-item2 a span {
    position: absolute;
    top: 0;
    font-size: 22px;
    padding: 40px 10px;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #eb6529;
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    cursor: pointer;
    display: none; }
  .teaser-item2 a img {
    width: 100%; }
  .teaser-item2 .text {
    font-size: 22px;
    padding: 25px 10px;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #000000; }
    .teaser-item2 .text h3 {
      font-size: 22px;
      font-weight: 600;
      color: #000000; }
    .teaser-item2 .text p {
      font-size: 16px;
      padding: 2px 0; }
    .teaser-item2 .text span {
      font-weight: 600; }

.teaser-item2:hover a > span {
  display: block;
  opacity: 0.8; }

/************************************************************************************
MAP
*************************************************************************************/
.map {
  overflow: hidden;
  width: 100%;
  clear: both;
  position: relative; }

.map #map-canvas, .map #map-canvas-homepage {
  width: 100%;
  height: 350px; }

.map-wrapper {
  margin-top: 15px;
  border-top: solid 1px #000000;
  margin: 0 15px; }

#map-popup-box {
  display: none; }
  #map-popup-box .map #map-canvas {
    width: 1000px;
    height: 600px; }

/************************************************************************************
GOOGLE TABBED MULTIPLE MAPS
*************************************************************************************/
.multiple-maps {
  font-size: 20px;
  font-weight: 100;
  padding-top: 60px; }
  .multiple-maps .nav.nav-tabs {
    border: none;
    width: 550px;
    text-align: center;
    margin: 0 auto;
    display: block;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 762px) {
      .multiple-maps .nav.nav-tabs {
        width: 100%; } }
  .multiple-maps .nav-tabs > li {
    padding: 0 10px; }
  .multiple-maps .nav-tabs > li.active > a, .multiple-maps .nav-tabs > li.active > a:focus, .multiple-maps .nav-tabs > li.active > a:hover {
    background-color: transparent; }
  .multiple-maps .nav-tabs > li.active > a, .multiple-maps .nav-tabs > li.active > a:focus, .multiple-maps .nav-tabs > li.active > a:hover {
    border: none; }
  .multiple-maps .nav-tabs > li.active > a {
    color: #eb6529; }
  .multiple-maps .nav-tabs > li > a {
    color: #000000; }
  .multiple-maps #map-canvas1, .multiple-maps #map-canvas2, .multiple-maps #map-canvas3, .multiple-maps #map-canvas4 {
    width: 100%;
    height: 380px; }

/************************************************************************************
OFFER MODAL
*************************************************************************************/
.modal {
  top: 25% !important; }

.modal-body {
  position: relative;
  padding: 20px 60px; }

.modal-body ul li {
  display: list-item;
  list-style-type: disc; }

.modal-header {
  text-align: center; }

.modal-footer {
  padding: 15px;
  text-align: center;
  border: none; }

.modal-footer .btn-default {
  width: 25%;
  background: #3f9bab;
  color: #ffffff; }

/* ==========================================================================
   footer styling
   ========================================================================== */
footer {
  position: relative;
  overflow: hidden;
  text-align: center;
  color: #ffffff;
  /***********Links***************/ }
  footer .logo {
    position: absolute;
    left: 0px;
    top: -2px;
    display: block;
    z-index: 1;
    /* Landscape phones and down */
    /* Landscape phones and down */ }
    footer .logo a {
      display: block;
      width: 280px;
      background: url(../img/logo.png) repeat center;
      height: 170px; }
    @media only screen and (max-width: 1260px) {
      footer .logo a {
        display: block;
        width: 180px;
        background: url(../img/logo-tablet.png) repeat center;
        height: 100px; } }
    @media only screen and (max-width: 762px) {
      footer .logo a {
        display: none; } }
  footer a:link, footer a:visited {
    text-decoration: none;
    color: #ffffff; }
  footer a:hover, footer a:focus {
    text-decoration: none;
    color: #3f9bab; }
  footer .social {
    display: inline-block; }
    footer .social a.square {
      width: 36px;
      height: 36px;
      border-radius: 5px;
      margin-right: 20px;
      font-size: 28px;
      text-align: center;
      background: #eb6529;
      display: inline-block; }
      footer .social a.square i {
        padding-top: 5px; }
    footer .social a.square:hover {
      background: #999999; }
  footer .top {
    background: url(../img/bg.png) repeat center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
    padding: 10px 0; }
    footer .top .social {
      padding: 15px 0; }
    footer .top .text {
      display: inline-block;
      padding: 15px 0; }
    footer .top .text2 {
      display: inline-block;
      padding: 5px 0;
      color: #d5d5d5; }
  footer .bottom {
    background: #000000;
    padding: 5px 0;
    font-size: 12px;
    color: #999999; }
