@CHARSET "UTF-8";
/* ==========================================================================
   Cross-browser RESET
   ========================================================================== */
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, figure, legend, fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

img {
  height: auto;
  border: none;
  /* ie8 */
  display: block;
  /* fix the img bottom margin default  */
  max-width: 100%;
  margin: 0 auto; }

a img {
  border: none; }

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

.bx-wrapper {
  margin: 0 auto; }

.bx-wrapper .bx-viewport {
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  left: 0px; }
  .bx-wrapper .bx-viewport li {
    padding: 0px; }

/* ==========================================================================
   Bootstrap reset
   ========================================================================== */
.row {
  margin: 0px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px; }

.nav-tabs {
  font-weight: 500;
  border: none;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .nav-tabs > li {
    margin-right: 15px;
    border-right: solid 1px #000;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 4px; }
    .nav-tabs > li a {
      cursor: pointer;
      color: #1e1e1e; }
  .nav-tabs > li:last-child {
    border: none; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover {
  border: none;
  background: none;
  outline: none;
  color: #ed1c24; }

.nav-tabs > li > a:hover, .nav-tabs > li > a {
  border: none;
  background: none;
  margin: 0; }

/**
 * Responsive mixin. The media breakpoints are as defined
 * in the twitter bootstrap framework:
 *
 * - phone
 * - tablet-portrait
 * - tablet-landscape-desktop
 * - large-desktop
 *
 * Additional parameters for tagetting retina and non-retina
 * devices
 *
 * - retina
 * - non-retina
 *
 * Moreover, a specific value in px can be passed which is
 * used to generate a max-width media query.
 */
/* ==========================================================================
   General
   ========================================================================== */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  -webkit-text-size-adjust: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  overflow-x: hidden;
  position: relative;
  margin: 0 auto;
  color: #eee;
  background: #ffffff;
  overflow-x: hidden;
  position: relative; }

.content-width-outer {
  margin: 0 auto;
  max-width: 1600px;
  position: relative; }

.content-width {
  margin: 0 auto;
  max-width: 1320px;
  position: relative; }

.content-width-inner {
  margin: 0 auto;
  max-width: 1160px;
  position: relative;
  padding: 0 7px; }

.content-padding {
  padding: 0px 15px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1320px) {
    .content-padding {
      padding: 0px 15px; } }

.top-padding {
  padding-top: 75px; }

.top-bottom-padding-large {
  padding: 30px 0;
  overflow: hidden;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1320px) {
    .top-bottom-padding-large {
      padding: 20px 0; } }

.top-bottom-padding {
  padding: 20px 0;
  overflow: hidden;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1320px) {
    .top-bottom-padding {
      padding: 7px 0; } }

.top-bottom-padding-small {
  padding: 7px 0;
  overflow: hidden; }

.side-padding {
  padding: 0 20px; }

.side-padding-large {
  padding: 0 30px; }

.left-padding {
  padding-left: 20px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1204px) {
    .left-padding {
      padding: 0; } }

.right-padding {
  padding-right: 20px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1204px) {
    .right-padding {
      padding: 0; } }

.right-padding-large {
  padding-right: 30px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1204px) {
    .right-padding-large {
      padding: 0; } }

.left-padding-large {
  padding-left: 30px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1204px) {
    .left-padding-large {
      padding: 0; } }

.no-padding {
  padding: 0px; }

.top-bottom-margin {
  margin: 20px 0; }

.side-margin {
  margin: 0 20px; }

.left-margin {
  margin-left: 20px; }

.right-margin {
  margin-right: 20px; }

.no-margin {
  margin: 0px; }

hr {
  border-color: #ea6a00; }

h1 {
  position: relative;
  font-family: "Roboto", sans-serif;
  color: #595959;
  line-height: 48px;
  font-size: 48px;
  font-weight: 700;
  /* Landscape phones and down */
  z-index: 1;
  overflow: hidden;
  text-align: center;
  display: block;
  padding: 10px 0; }
  @media only screen and (max-width: 992px) {
    h1 {
      font-size: 38px;
      text-align: center; } }
  h1 span {
    color: #ed1c24; }

h2 {
  position: relative;
  font-family: "Roboto", sans-serif;
  color: #595959;
  font-size: 48px;
  font-weight: 700;
  /* Landscape phones and down */
  z-index: 1;
  overflow: hidden;
  text-align: center;
  display: block;
  padding: 10px 0; }
  @media only screen and (max-width: 992px) {
    h2 {
      font-size: 38px;
      text-align: center; } }
  h2 span {
    font-size: 36px;
    color: #eee; }

h3 {
  color: #696969;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  /* Landscape phones and down */
  padding: 5px 0;
  font-weight: 100;
  text-align: center;
  display: block; }
  @media only screen and (max-width: 992px) {
    h3 {
      font-size: 26px;
      text-align: center; } }
  h3 span {
    color: #ea6a00;
    font-size: 32px;
    padding: 15px 0;
    font-weight: 500;
    display: block; }

h4 {
  color: #ffffff;
  font-size: 18px;
  padding: 5px 0; }
  h4 span {
    color: #ed1c24; }

strong {
  font-weight: bold; }
  strong span {
    color: #ea6a00; }

ul {
  padding: 0;
  display: inline; }

p {
  padding: 5px 0; }

/*****Element/tag selectors********/
li, ol, dl {
  padding: 5px 0;
  list-style-type: none;
  display: inline; }

li.last, ol.last, dl.last {
  padding: 0px; }

/***********Links***************/
a:link, a:visited {
  text-decoration: none;
  color: #ea6a00; }

a:hover, a:focus {
  text-decoration: none;
  color: #5d5d5d; }

/************************************************************************************
HELPER CLASSES
*************************************************************************************/
.clear {
  clear: both; }

.hidden {
  display: none !important;
  visibility: hidden; }

.img-responsive {
  width: 100%; }

.center-align {
  text-align: center; }

.right-align {
  text-align: right;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1204px) {
    .right-align {
      text-align: center; } }

.left-align {
  text-align: left;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1204px) {
    .left-align {
      text-align: center; } }

.right {
  float: right; }

.left {
  float: right; }

.clear {
  clear: both; }

.sticky, .fixed {
  position: fixed !important;
  top: 0px !important;
  z-index: 999999 !important;
  background: #ffffff; }

.pattern {
  background: url(../img/pattern.png) repeat center; }

.check {
  width: 46px;
  height: 46px;
  margin: 0 auto;
  display: inline-block;
  background: url(../img/icons/check.png) repeat center; }

.stretched {
  letter-spacing: 2px; }

.border-bottom {
  border-bottom: solid 1px #231a0e; }

.highlight {
  color: #ea6a00; }

.highlight-text {
  color: #eee;
  font-size: 22px;
  font-family: "Source Sans Pro";
  font-style: italic;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1204px) {
    .highlight-text {
      font-size: 18px; } }

.background-color1 {
  background: #eee; }

.background-color2 {
  background: #ea6a00; }

.background-color3 {
  background: #ed1c24; }

.background-color4 {
  background: #231a0e; }

.background-color5 {
  background: #696969; }

.background-color6 {
  background: #595959; }

.background-color7 {
  background: #ffffff; }

.background-color8 {
  background: #1e1e1e; }

.background-color9 {
  background: #4a7ea5; }

.background-color10 {
  background: #626d76; }

.image-border {
  border: solid 2px #ffffff;
  max-width: 777px;
  width: 95%;
  height: 95%;
  right: 0;
  position: absolute;
  left: 0;
  top: 2.5%;
  margin: 0 auto;
  text-indent: -9999px; }

.image-border:hover {
  background: url(../img/icons/hover2.png) no-repeat center;
  background-color: rgba(234, 106, 0, 0.5); }

.right-line-big::after {
  content: "";
  width: 100%;
  display: inline-block;
  height: 15px;
  left: 25%;
  right: 0px;
  border-bottom: solid 2px #ea6a00;
  text-align: center;
  position: absolute;
  top: 22px;
  float: right;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1204px) {
    .right-line-big::after {
      display: none; } }

.right-line-big {
  display: block;
  font-style: italic;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1204px) {
    .right-line-big {
      text-align: center; } }

.left-line, .right-line {
  display: inline-block; }

.left-line::before {
  content: "";
  width: 60px;
  display: inline-block;
  height: 15px;
  left: -15px;
  right: 0px;
  border-bottom: solid 2px #ea6a00;
  text-align: center;
  position: relative;
  right: 0;
  top: -8px; }

.right-line::after {
  content: "";
  width: 60px;
  display: inline-block;
  height: 15px;
  left: 15px;
  right: 0px;
  border-bottom: solid 2px #ea6a00;
  text-align: center;
  position: relative;
  top: -8px; }

.decor::before {
  content: "";
  width: 130px;
  display: inline-block;
  height: 45px;
  left: -25px;
  background: url(../img/icons/decor-left.png) no-repeat center;
  text-align: center;
  position: relative;
  right: 0;
  top: 5px; }

.decor::after {
  content: "";
  width: 130px;
  display: inline-block;
  height: 45px;
  right: -25px;
  background: url(../img/icons/decor-right.png) no-repeat center;
  text-align: center;
  position: relative;
  top: 5px; }

.scrollToTop {
  width: 60px;
  height: 60px;
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 18px;
  padding: 20px;
  background: #eee;
  color: #ea6a00;
  z-index: 999; }

a.scrollToTop:link, a.scrollToTop:visited {
  color: #ea6a00; }

.stars1 {
  display: inline-block;
  height: 65px;
  width: 100%;
  background: url(../img/icons/stars.png) no-repeat center;
  text-align: center;
  margin: 0 auto;
  position: relative;
  right: 0;
  left: 0px;
  bottom: 0; }

.overlay {
  background: rgba(48, 55, 122, 0.85); }

.lines {
  display: block;
  height: 40px;
  background: url(../img/lines-header.png) repeat-x center; }

.line1 {
  display: inline-block;
  height: 10px;
  width: 100%;
  background: url(../img/bg-line.png) no-repeat left bottom;
  text-align: center;
  margin: 0 auto;
  position: relative;
  right: 0;
  top: 12px; }

.line2 {
  display: inline-block;
  height: 10px;
  width: 100%;
  background: url(../img/bg-line.png) no-repeat left bottom;
  text-align: center;
  margin: 0 auto;
  position: relative;
  right: 0;
  top: -12px; }

.stars2 {
  display: inline-block;
  height: 50px;
  background: url(../img/icons/stars2.png) no-repeat center;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  right: 0;
  left: 0px;
  bottom: 25px; }

/************************************************************************************
BUTTONS
*************************************************************************************/
.button2 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 100;
  display: inline-block;
  background: #ea6a00;
  position: relative;
  margin: 5px; }
  .button2 a {
    padding: 8px 24px;
    display: inline-block; }
  .button2 a:link, .button2 a:visited {
    color: #ffffff; }
  .button2 a:hover {
    color: #ffffff; }
  .button2 a.border {
    border: solid 1px #ffffff;
    margin: 5px; }

.button2:hover {
  background: #231a0e;
  color: #ffffff; }

.button2:hover a {
  color: #ffffff; }

.button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  display: inline-block;
  background: #231a0e;
  position: relative;
  margin: 5px; }
  .button a {
    padding: 8px 24px;
    display: inline-block; }
  .button a:link, .button a:visited {
    color: #ffffff; }
  .button a:hover {
    color: #ffffff; }
  .button a.border {
    border: solid 1px #ffffff;
    margin: 5px; }

.button:hover {
  background: #ea6a00;
  color: #ffffff; }

.button:hover a {
  color: #ffffff; }

/************************************************************************************
HICHLIGHTS
*************************************************************************************/
.hightlight1 {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/icons/highlight1.png) no-repeat center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.hightlight2 {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/icons/highlight2.png) no-repeat center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.hightlight3 {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/icons/highlight3.png) no-repeat center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.hightlight4 {
  display: block;
  width: 60px;
  height: 45px;
  background: url(../img/icons/highlight4.png) no-repeat center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.hightlight5 {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/icons/highlight5.png) no-repeat center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.hightlight6 {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/icons/highlight6.png) no-repeat center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

/************************************************************************************
INFO ICONS
*************************************************************************************/
.info-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px 0; }

.info1 {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url(../img/icons/info1.png) repeat 0px;
  padding-left: 15px;
  padding-right: 15px; }

.info2 {
  display: inline-block;
  width: 90px;
  height: 26px;
  background: url(../img/icons/info2.png) repeat center;
  text-indent: -9999px;
  margin-top: 5px; }

.info3 {
  display: inline-block;
  width: 40px;
  height: 30px;
  background: url(../img/icons/info3.png) repeat center;
  text-indent: -9999px; }

.info4 {
  display: inline-block;
  width: 40px;
  height: 30px;
  background: url(../img/icons/info4.png) repeat center;
  text-indent: -9999px; }

.info5 {
  display: inline-block;
  width: 40px;
  height: 30px;
  background: url(../img/icons/info5.png) repeat center;
  text-indent: -9999px; }

.people {
  display: inline-block;
  width: 100px;
  height: 35px;
  background: url(../img/icons/people.png) no-repeat right;
  padding-top: 10px;
  padding-right: 20px;
  position: absolute;
  right: 25px;
  text-align: right;
  font-size: 18px;
  color: #ea6a00;
  top: 90px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .people {
      position: relative;
      top: 0;
      text-align: center;
      padding: 10px 0;
      font-size: 16px;
      right: 0px;
      padding-right: 25px; } }

.line {
  display: block;
  width: 100%;
  height: 35px;
  background: url(../img/icons/line.png) no-repeat left; }

/************************************************************************************
BOXES
*************************************************************************************/
.location-box {
  position: absolute;
  bottom: 100px;
  width: 400px;
  height: 300px;
  left: 5%;
  color: #1e1e1e;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 762px) {
    .location-box {
      display: none; } }
  .location-box h3 {
    font-size: 20px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 4px;
    color: #ed1c24; }
  .location-box ul {
    display: block;
    color: #1e1e1e;
    font-size: 20px;
    padding: 20px 0;
    letter-spacing: 4px; }
    .location-box ul li {
      display: block;
      height: 30px; }
      .location-box ul li span {
        padding: 0;
        color: #ed1c24; }
  .location-box .contents {
    background: #f0f7f7;
    margin: 15px;
    padding: 15px;
    border: solid 1px #ea6a00;
    text-align: center;
    height: 270px; }
  .location-box p {
    color: #1e1e1e;
    font-size: 20px;
    padding: 20px 0; }
  .location-box span {
    font-size: 16px;
    display: inline-block;
    padding: 15px 0; }

/************************************************************************************
TOOLTIP BOX
*************************************************************************************/
div:hover > .tooltip {
  height: 165px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  left: 50%;
  position: absolute;
  top: -110%; }

.tooltip {
  font-size: 14px;
  line-height: 18px;
  -webkit-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  transform-origin: bottom center;
  bottom: 0;
  left: 50%;
  position: absolute;
  margin-left: -120px;
  top: -100%; }

.tooltip {
  -webkit-transition: height 0.2s ease-in-out,opacity 0.2s ease-in-out,transform 0.2s ease-in-out;
  -ms-transition: height 0.2s ease-in-out,opacity 0.2s ease-in-out,transform 0.2s ease-in-out;
  transition: height 0.2s ease-in-out,opacity 0.2s ease-in-out,transform 0.2s ease-in-out;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  width: 65%;
  height: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  bottom: 0;
  opacity: 0; }
  .tooltip .tooltip-inner {
    position: absolute;
    left: 0;
    display: block;
    background: #ea6a00;
    border-radius: 15px;
    color: #fff;
    width: 200px;
    height: 130px;
    height: auto;
    border: solid 2px #fff;
    padding: 15px; }
  .tooltip .tooltip-inner:after {
    content: "";
    position: absolute;
    top: 99%;
    left: 30%;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid #ea6a00;
    margin-left: 23px; }

/************************************************************************************
HEADER
*************************************************************************************/
header {
  transition: all 150ms ease-out;
  position: relative;
  width: 100%;
  z-index: 999;
  height: 153px;
  /* Landscape phones and down */ }
  header .lines {
    display: block;
    height: 40px;
    background: url(../img/lines-header.png) repeat-x center;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1320px) {
      header .lines {
        display: none; } }
  header .pattern {
    display: block;
    height: 80px;
    background: #fff;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1320px) {
      header .pattern {
        height: 100px;
        background: none; } }
  header .language-selector {
    position: absolute;
    left: 0;
    top: 35px;
    background: #eee;
    padding: 8px;
    font-weight: 600;
    /* Landscape phones and down */ }
    header .language-selector ul li a {
      padding: 0 5px;
      color: #696969; }
    header .language-selector ul li a.active, header .language-selector ul li a:hover, header .language-selector ul li a:focus {
      color: #ea6a00; }
    @media only screen and (max-width: 1320px) {
      header .language-selector {
        display: none; } }
  @media only screen and (max-width: 1320px) {
    header {
      position: relative;
      width: 100%;
      background: #ffffff;
      height: 100px; } }
  header .logo {
    display: inline-block;
    padding: 5px 0;
    z-index: 1;
    /* Landscape phones and down */ }
    header .logo a {
      display: block;
      background: url(../img/logo.png) no-repeat center;
      height: 110px;
      position: absolute;
      width: 350px;
      margin: 0 auto;
      right: 0;
      left: 0;
      top: 0;
      z-index: 1; }
    @media only screen and (max-width: 1320px) {
      header .logo a {
        display: block;
        width: 250px;
        margin-left: 5%;
        background: url(../img/logo.png) no-repeat center;
        background-size: 100%;
        height: 105px;
        margin: 0 auto;
        top: 0px; } }
  header .navigation {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    position: relative;
    color: #696969;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #ffffff;
    /* Landscape phones and down */ }
    header .navigation ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 1320px) {
        header .navigation ul {
          display: block; } }
      header .navigation ul li {
        /* Landscape phones and down */ }
        header .navigation ul li a:link, header .navigation ul li a:visited {
          color: #696969;
          padding: 8px 0; }
        header .navigation ul li a:hover, header .navigation ul li a:focus {
          color: #ea6a00; }
        header .navigation ul li a.active {
          color: #ea6a00; }
        @media only screen and (max-width: 1320px) {
          header .navigation ul li {
            padding: 15px 0;
            width: 100%;
            display: inline-block;
            text-align: center;
            font-size: 20px;
            z-index: 1; }
            header .navigation ul li a:link, header .navigation ul li a:visited {
              color: #ffffff; }
            header .navigation ul li a:hover, header .navigation ul li a:focus {
              color: #eee; }
            header .navigation ul li a.active {
              color: #eee; } }
    header .navigation ul.language-selector-mobile {
      display: none;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 1320px) {
        header .navigation ul.language-selector-mobile {
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 300px;
          margin: 15px auto; } }
    @media only screen and (max-width: 1320px) {
      header .navigation {
        position: absolute;
        right: 0;
        margin: 0;
        left: 0;
        top: 100px;
        padding-top: 0;
        padding-right: 0px;
        padding-left: 0px;
        width: 100%;
        z-index: 1;
        background: none; } }
    header .navigation .menu {
      /* Landscape phones and down */ }
      @media only screen and (max-width: 1320px) {
        header .navigation .menu {
          position: relative;
          top: 0px;
          margin: 0px;
          width: 100%;
          background: #ea6a00;
          display: none;
          padding: 20px 0; } }
  header #dropdown {
    display: none;
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    right: 2.5%;
    top: -65px;
    color: #ea6a00;
    z-index: 10;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1320px) {
      header #dropdown {
        display: block;
        color: #ea6a00; } }
  header #dropdown.active {
    color: #ea6a00; }

header.no-slider {
  position: relative;
  height: 110px; }
  header.no-slider .navigation {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    position: relative;
    color: #696969;
    font-size: 17px;
    padding: 45px 0; }
    header.no-slider .navigation ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 1320px) {
        header.no-slider .navigation ul {
          display: block; } }
      header.no-slider .navigation ul li {
        padding-left: 50px;
        /* Landscape phones and down */ }
        header.no-slider .navigation ul li a:link, header.no-slider .navigation ul li a:visited {
          color: #ea6a00;
          padding: 8px 0; }
        header.no-slider .navigation ul li a:hover, header.no-slider .navigation ul li a:focus {
          border-top: solid 1px #ea6a00;
          border-bottom: solid 1px #ea6a00; }
        header.no-slider .navigation ul li a.active {
          border-top: solid 1px #ea6a00;
          border-bottom: solid 1px #ea6a00; }
        @media only screen and (max-width: 1320px) {
          header.no-slider .navigation ul li {
            padding: 25px 0;
            width: 100%;
            display: inline-block;
            text-align: center;
            font-size: 20px;
            z-index: 1; } }

header.sticky {
  padding-top: 0px;
  padding-top: 0px;
  height: 72px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1320px) {
    header.sticky {
      height: 72px; } }
  header.sticky .pattern {
    display: none; }
  header.sticky .lines {
    display: none; }
  header.sticky .logo {
    height: 66px;
    /* Landscape phones and down */ }
    header.sticky .logo a {
      display: inline-block;
      background: url(../img/logo.png) no-repeat center 5px;
      background-size: 51%;
      height: 66px;
      top: -5px; }
    @media only screen and (max-width: 1320px) {
      header.sticky .logo {
        height: 100px; }
        header.sticky .logo a {
          display: block;
          width: 250px;
          background: url(../img/logo.png) no-repeat center 20px;
          background-size: 100%;
          height: 105px; } }
  header.sticky .language-selector {
    top: 10px; }
  header.sticky .navigation {
    /* Landscape phones and down */
    color: #696969;
    font-size: 15px;
    padding: 20px 0; }
    @media only screen and (max-width: 1320px) {
      header.sticky .navigation {
        position: absolute;
        font-weight: 400;
        padding: 0; } }
  header.sticky #dropdown {
    color: #ea6a00; }
  header.sticky #dropdown.active {
    color: #ea6a00; }

/* ==========================================================================
   main styling
   ========================================================================== */
main {
  position: relative;
  clear: both;
  overflow: hidden;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #231a0e; }
  main i {
    font-size: 35px; }
  main .main-content {
    text-align: center;
    padding: 25px 0; }
    main .main-content p {
      padding: 15px 0; }
    main .main-content .two-column-text {
      padding: 25px 0;
      column-count: 2;
      column-gap: 50px;
      text-align: left; }
      main .main-content .two-column-text p {
        padding: 0; }
    main .main-content ul {
      padding: 10px 0;
      text-align: center;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 750px) {
        main .main-content ul {
          text-align: center;
          padding: 0; } }
      main .main-content ul li {
        display: block;
        padding: 10px 0;
        color: #1e1e1e; }
        main .main-content ul li a:link, main .main-content ul li a:visited {
          color: #eee; }
        main .main-content ul li a:hover, main .main-content ul li a:focus, main .main-content ul li a.active {
          color: #ea6a00; }
      main .main-content ul i {
        display: inline-block;
        color: #ea6a00;
        margin-right: 10px;
        margin-bottom: -3px; }
    main .main-content strong {
      font-weight: 700;
      color: #ea6a00; }

main.no-slider {
  padding-top: 100px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1320px) {
    main.no-slider {
      padding-top: 0px; } }

/* ==========================================================================
   sections styling
   ========================================================================== */
.home-section .main-content {
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
  padding-top: 0;
  padding-bottom: 25px; }
  .home-section .main-content h1 {
    display: block;
    text-align: center;
    margin: 0 auto;
    line-height: 48px;
    font-size: 48px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      .home-section .main-content h1 {
        line-height: 38px;
        font-size: 38px;
        text-align: center; } }

section.accommodation-teasers i {
  font-size: 35px; }

section.accommodation-teasers .teaser:nth-child(2n) {
  /* Landscape phones and down */ }
  section.accommodation-teasers .teaser:nth-child(2n) .image {
    float: right; }
  section.accommodation-teasers .teaser:nth-child(2n) .text {
    padding-right: 30px;
    padding-left: 0px; }
  @media only screen and (max-width: 992px) {
    section.accommodation-teasers .teaser:nth-child(2n) .image {
      float: none; }
    section.accommodation-teasers .teaser:nth-child(2n) .text {
      float: none;
      paddding: 0; } }

section.accommodation-teasers .teaser {
  padding: 10px;
  /* Landscape phones and down */ }
  section.accommodation-teasers .teaser .text {
    padding-left: 30px;
    text-align: left;
    font-size: 14px;
    font-weight: 300; }
    section.accommodation-teasers .teaser .text h3 {
      font-size: 28px;
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      letter-spacing: 0px; }
    section.accommodation-teasers .teaser .text p {
      padding: 15px 0; }
  @media only screen and (max-width: 992px) {
    section.accommodation-teasers .teaser .text {
      padding-right: 0;
      text-align: center;
      font-size: 14px;
      font-weight: 300;
      max-width: 500px;
      margin: 20px auto; }
      section.accommodation-teasers .teaser .text p {
        padding: 5px 0; } }

section.sightseeing-teasers .teaser:nth-child(2n) {
  /* Landscape phones and down */ }
  section.sightseeing-teasers .teaser:nth-child(2n) .image {
    float: right; }
  section.sightseeing-teasers .teaser:nth-child(2n) .text {
    padding-right: 30px;
    padding-left: 0px; }
  @media only screen and (max-width: 992px) {
    section.sightseeing-teasers .teaser:nth-child(2n) .image {
      float: none; }
    section.sightseeing-teasers .teaser:nth-child(2n) .text {
      float: none;
      paddding: 0; } }

section.sightseeing-teasers .teaser {
  padding: 10px;
  /* Landscape phones and down */ }
  section.sightseeing-teasers .teaser .image-border:hover {
    background: none; }
  section.sightseeing-teasers .teaser .text {
    padding-left: 30px;
    text-align: left;
    font-size: 14px;
    font-weight: 400; }
    section.sightseeing-teasers .teaser .text p {
      padding: 15px 0; }
  @media only screen and (max-width: 992px) {
    section.sightseeing-teasers .teaser .text {
      padding-right: 0;
      text-align: center;
      font-size: 14px;
      font-weight: 300;
      max-width: 500px;
      margin: 20px auto; }
      section.sightseeing-teasers .teaser .text h3 {
        font-size: 24px;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        letter-spacing: 0px; }
      section.sightseeing-teasers .teaser .text h4 {
        font-size: 20px;
        letter-spacing: 4px;
        color: #ea6a00;
        margin: 5px 0; }
      section.sightseeing-teasers .teaser .text p {
        padding: 5px 0; } }

section.contact .main-content {
  background: #e2e2e2ad;
  /* Landscape phones and down */ }
  section.contact .main-content .info {
    text-align: center;
    padding-left: 35px; }
    section.contact .main-content .info i {
      color: #ea6a00;
      margin-right: 10px;
      font-size: 20px; }
    section.contact .main-content .info .text {
      margin: 25px 0; }
      section.contact .main-content .info .text p {
        padding: 5px 0; }
    section.contact .main-content .info h3 {
      padding-top: 25px; }
  @media only screen and (max-width: 992px) {
    section.contact .main-content .info {
      text-align: center; } }

/************************************************************************************
FOOTER
*************************************************************************************/
footer {
  position: relative;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  color: #696969;
  background: url(../img/bg-footer.jpg) repeat center;
  background-size: cover;
  height: 380px;
  padding: 50px 0;
  /* Landscape phones and down */
  /***********Links***************/
  /* Landscape phones and down */ }
  footer h4 {
    color: #000;
    margin-bottom: 15px; }
  @media only screen and (max-width: 992px) {
    footer {
      height: auto;
      text-align: center;
      padding: 25px 0; } }
  footer a:link, footer a:visited {
    text-decoration: none;
    color: #ea6a00; }
  footer a:hover, footer a:focus {
    text-decoration: none;
    color: #696969; }
  footer p {
    padding: 2px 0; }
  footer .teaser {
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      footer .teaser {
        margin: 25px 0; } }
  footer .teaser.one img {
    margin-left: 0;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      footer .teaser.one img {
        margin-left: auto; } }
  footer .button {
    position: absolute;
    top: 80px;
    right: 0;
    width: 170px;
    text-align: center;
    height: 50px;
    font-size: 36px;
    font-weight: 100;
    line-height: 40px;
    background: #ffffff;
    color: #696969;
    z-index: 1;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      footer .button {
        margin: 0 auto;
        left: 0;
        top: 40%; } }
    footer .button a:link, footer .button a:visited {
      padding: 5px;
      text-decoration: none;
      color: #696969;
      font-weight: 100; }
      footer .button a:link i, footer .button a:visited i {
        font-size: 20px;
        position: relative;
        top: -5px;
        right: -5px; }
    footer .button a:hover, footer .button a:focus {
      text-decoration: none;
      color: #696969; }
  footer .button:hover {
    background: #696969; }
    footer .button:hover a {
      color: #ffffff; }
  footer .shadow-btn {
    width: 170px;
    text-align: center;
    height: 50px;
    background: rgba(0, 0, 0, 0.15);
    display: block;
    top: 0;
    position: absolute;
    right: -10px;
    top: 100px;
    z-index: 0;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      footer .shadow-btn {
        top: 45%;
        z-index: 0;
        left: 0;
        margin: 0 auto;
        right: -25px; } }
  footer .teaser.one .button {
    right: 80px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      footer .teaser.one .button {
        right: 0px; } }
  footer .teaser.one .shadow-btn {
    right: 70px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      footer .teaser.one .shadow-btn {
        right: -25px; } }
  footer .text, footer .copyright {
    padding-left: 40%; }
  footer .text {
    font-size: 16px; }
    footer .text i {
      margin-right: 15px;
      font-size: 20px; }
  footer .copyright {
    margin-top: 100px; }
  @media only screen and (max-width: 992px) {
    footer .text, footer .copyright {
      padding-left: 0; }
    footer .copyright {
      margin-top: 50px; } }

/* ==========================================================================
  forms
   ========================================================================== */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ea6a00;
  font-size: 14px; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #ea6a00;
  font-size: 14px; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #ea6a00;
  font-size: 14px; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #ea6a00;
  font-size: 14px; }

.ui-datepicker .ui-datepicker-header {
  background: #ea6a00;
  color: #ffffff; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border-color: #ea6a00;
  background: #ea6a00;
  color: #ffffff; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background: #ea6a00;
  color: #ffffff; }

input, select {
  border: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: ''; }

.book-online {
  padding: 20px 0;
  /* Landscape phones and down */
  margin: 30px 0;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1320px) {
    .book-online {
      margin: 15px 0; } }
  .book-online form {
    margin: 20px auto;
    text-align: center; }
  .book-online #book-online-resp {
    width: 100%;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    display: block;
    height: 50px;
    line-height: 50px;
    display: none;
    color: #ffffff;
    background: #ea6a00;
    /* Landscape phones and down */ }
    .book-online #book-online-resp a {
      color: #ffffff; }
    .book-online #book-online-resp a:hover {
      color: #ffffff; }
    @media only screen and (max-width: 1320px) {
      .book-online #book-online-resp {
        display: block; } }
  .book-online a#book-online-resp:hover, .book-online a#book-online-resp:focus {
    color: #ffffff; }
  @media only screen and (max-width: 1320px) {
    .book-online form {
      display: none; }
    .book-online h2 {
      display: none; } }
  .book-online .form-group {
    position: relative;
    padding: 0 5px;
    border-radius: 5px;
    /* Landscape phones and down */ }
    .book-online .form-group label {
      font-size: 16px;
      font-family: "Source Sans Pro";
      display: block;
      letter-spacing: 2px;
      font-weight: 500;
      height: 35px;
      text-align: left; }
    @media only screen and (max-width: 1140px) {
      .book-online .form-group {
        width: 100%;
        text-align: center; } }
    .book-online .form-group i {
      position: absolute;
      left: 115px;
      top: 8px;
      font-size: 22px;
      color: #ffffff;
      /* Landscape phones and down */
      /* Landscape phones and down */ }
      @media only screen and (max-width: 1140px) {
        .book-online .form-group i {
          left: 68%; } }
      @media only screen and (max-width: 450px) {
        .book-online .form-group i {
          left: 60%; } }
    .book-online .form-group select {
      /* Landscape phones and down */
      width: 250px;
      height: 50px;
      background: none;
      color: #ea6a00;
      font-size: 17px;
      border: solid 2px #ea6a00;
      outline: none;
      padding: 10px;
      background: none;
      border-radius: 2px; }
      @media only screen and (max-width: 1140px) {
        .book-online .form-group select {
          width: 50%; } }
    .book-online .form-group select option {
      background: #ea6a00;
      color: #ffffff;
      box-shadow: inset 20px 20px #f00; }
    .book-online .form-group select option:disabled {
      color: #ffffff; }
    .book-online .form-group input {
      width: 250px;
      /* Landscape phones and down */
      height: 50px;
      background: none;
      padding: 10px;
      border: solid 2px #ea6a00;
      outline: none;
      color: #ea6a00;
      font-size: 17px;
      border-radius: 2px; }
      @media only screen and (max-width: 1140px) {
        .book-online .form-group input {
          width: 50%; } }
  .book-online input[type="submit"] {
    position: relative;
    width: 250px;
    padding: 10px;
    margin: 0 auto;
    height: 50px;
    font-size: 17px;
    background: none;
    color: #ffffff;
    background: #ea6a00;
    border: solid 1px #ea6a00;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1140px) {
      .book-online input[type="submit"] {
        margin: 0 24%;
        left: 0;
        right: 0;
        top: 10px;
        width: 48%; } }
  .book-online input[type="submit"]:hover {
    background: #ffffff;
    color: #ea6a00; }
  .book-online ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ea6a00;
    font-size: 17px; }
  .book-online ::-moz-placeholder {
    /* Firefox 19+ */
    color: #ea6a00;
    font-size: 17px; }
  .book-online :-ms-input-placeholder {
    /* IE 10+ */
    color: #ea6a00;
    font-size: 17px; }
  .book-online :-moz-placeholder {
    /* Firefox 18- */
    color: #ea6a00;
    font-size: 17px; }
  .book-online .form-group.select {
    background: url(../img/icons/up-down.png) no-repeat 215px;
    position: relative; }
  .book-online .form-group.select i {
    position: absolute;
    right: 20px;
    top: 35px;
    color: #ea6a00;
    z-index: 1; }
  .book-online .form-group.date {
    background: url(../img/icons/calendar-icon.png) no-repeat 215px; }

.contact-form {
  position: relative; }
  .contact-form .form-group {
    padding: 10px 0; }
  .contact-form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #696969; }
  .contact-form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #696969; }
  .contact-form :-ms-input-placeholder {
    /* IE 10+ */
    color: #696969; }
  .contact-form :-moz-placeholder {
    /* Firefox 18- */
    color: #696969; }
  .contact-form label {
    font-weight: 100;
    font-size: 23px;
    text-align: left;
    width: 100%;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1000px) {
      .contact-form label {
        font-size: 18px; } }
  .contact-form input {
    width: 96%;
    /* Landscape phones and down */
    float: left;
    height: 50px;
    margin: 5px 0;
    padding-left: 16px;
    color: #696969;
    border: none;
    border-radius: 0; }
    @media only screen and (max-width: 1204px) {
      .contact-form input {
        width: 100%; } }
  .contact-form input[type="submit"] {
    float: right;
    background: #ea6a00;
    color: #ffffff;
    border-radius: 0px;
    font-weight: 600;
    width: 160px;
    /* Landscape phones and down */
    position: relative;
    right: 15px;
    border: none; }
    @media only screen and (max-width: 1204px) {
      .contact-form input[type="submit"] {
        width: 100%;
        right: 0px; } }
  .contact-form input[type="submit"]:hover {
    background: #ed1c24; }
  .contact-form textarea {
    width: 98%;
    /* Landscape phones and down */
    height: 150px;
    display: inline-block;
    padding: 15px;
    float: left;
    color: #696969;
    border: none;
    border-radius: 0; }
    @media only screen and (max-width: 1204px) {
      .contact-form textarea {
        width: 100%; } }
  .contact-form span {
    font-style: italic;
    font-size: 13px;
    padding: 15px 0;
    display: block; }
  .contact-form .sec_code {
    position: absolute;
    top: 8px;
    right: 20px;
    width: 75px; }

/************************************************************************************
SOCIAL MENU
*************************************************************************************/
.social-menu i {
  font-size: 20px; }

.social-menu a.cyrcle {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  border: none;
  margin-right: 5px;
  background: #eee; }

.social-menu a.cyrcle:link, .social-menu a.cyrcle:visited {
  color: #ffffff;
  background: #eee; }

.social-menu a.cyrcle:hover, .social-menu a.cyrcle:focus {
  color: #ffffff;
  background: #ea6a00; }

.social-menu a.square {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  margin-right: 5px;
  padding-top: 5px;
  font-size: 20px;
  text-align: center;
  background: #696969;
  display: inline-block; }

.social-menu a.last {
  margin-right: 0px; }

.social-menu a:link, .social-menu a:visited {
  color: #231a0e; }

.social-menu a:hover, .social-menu a:focus {
  color: #ea6a00; }

.social-menu.block {
  width: 250px;
  display: inline-block;
  text-align: center; }
  .social-menu.block li {
    width: 80px;
    padding: 5px;
    display: inline-block;
    color: #343333; }

/************************************************************************************
SLIDER
*************************************************************************************/
.slider-wrapper {
  position: relative; }
  .slider-wrapper .caption {
    position: absolute;
    width: 680px;
    margin: 0 auto;
    left: 0;
    right: 0px;
    top: 40vh;
    z-index: 1;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    line-height: 46px;
    display: none;
    /* Landscape phones and down */ }
    .slider-wrapper .caption span {
      display: block;
      color: #ea6a00;
      font-size: 50px;
      line-height: 60px;
      margin: 25px auto; }
    @media only screen and (max-width: 1204px) {
      .slider-wrapper .caption {
        display: none; } }
  .slider-wrapper .book-online {
    position: absolute;
    bottom: 23vh;
    left: 0px;
    right: 0px;
    width: 975px;
    margin: 0 auto;
    background: #b3b0a9c4;
    padding: 15px;
    z-index: 1;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1204px) {
      .slider-wrapper .book-online {
        bottom: 0;
        width: 100%;
        background: #b3b0a9; } }
  .slider-wrapper .scroll-down {
    position: absolute;
    bottom: 16vh;
    width: 265px;
    height: 50px;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    right: 0px;
    left: 0px;
    color: #ffffff;
    display: inline-block;
    z-index: 99;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1204px) {
      .slider-wrapper .scroll-down {
        display: none; } }

.slider-wrapper::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  background: #000000;
  display: block;
  pointer-events: none; }

/************************************************************************************
PHOTOS GALLERY
*************************************************************************************/
.masonry-gallery {
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0 auto; }
  .masonry-gallery .gallery-item.style1 {
    width: 285px;
    height: 415px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      .masonry-gallery .gallery-item.style1 {
        width: 230px;
        height: 380px; } }
  .masonry-gallery .gallery-item.style2 {
    width: 235px;
    height: 250px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      .masonry-gallery .gallery-item.style2 {
        width: 230px; } }
  .masonry-gallery .gallery-item.style3 {
    width: 480px;
    height: 345px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      .masonry-gallery .gallery-item.style3 {
        width: 230px;
        height: 345px; } }
  .masonry-gallery .gallery-item.style4 {
    width: 285px;
    height: 180px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      .masonry-gallery .gallery-item.style4 {
        width: 230px;
        height: 160px; } }
  .masonry-gallery .gallery-item {
    /* Landscape phones and down */
    float: left;
    position: relative;
    display: inline-block;
    margin: 5px;
    background: trasparent;
    clear: both;
    overflow: hidden;
    z-index: 1; }
    @media only screen and (max-width: 992px) {
      .masonry-gallery .gallery-item {
        margin-bottom: 10px; } }
    .masonry-gallery .gallery-item span {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -ms-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
      background: url(../img/icons/hover.png) no-repeat center rgba(234, 106, 0, 0.5);
      cursor: pointer;
      color: #ffffff;
      display: none; }
  .masonry-gallery .gallery-item:hover span {
    display: block;
    transform: scale(1.02); }

.gallery {
  display: block;
  width: 100%;
  margin: 25px auto;
  padding-left: 1%;
  /* Landscape phones and down */
  /* Landscape phones and down */ }
  @media only screen and (max-width: 762px) {
    .gallery {
      padding: 0 4%; } }
  .gallery > .row {
    margin: 1.5% auto;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 762px) {
      .gallery > .row {
        margin: 0 auto; } }
  .gallery .gallery-item {
    z-index: 1;
    /* Landscape phones and down */ }
    .gallery .gallery-item span {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -ms-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
      background: url(../img/icons/hover2.png) no-repeat center rgba(234, 106, 0, 0.5);
      cursor: pointer;
      color: #ffffff;
      display: none; }
    @media only screen and (max-width: 762px) {
      .gallery .gallery-item {
        margin: 10px auto; } }
  .gallery .gallery-item:hover span {
    display: block;
    width: 95%; }
  .gallery .gallery-item img {
    width: 95%;
    margin-left: 0; }
  .gallery .gallery-item.big img {
    width: 96.5%; }
  .gallery .gallery-item.big:hover span {
    display: block;
    width: 96.5%; }
  @media only screen and (max-width: 762px) {
    .gallery .gallery-item:hover span {
      display: block;
      width: 100%; }
    .gallery .gallery-item img {
      width: 100%;
      margin-left: 0; }
    .gallery .gallery-item.big img {
      width: 100%;
      margin: 0 auto; }
    .gallery .gallery-item.big span {
      right: 0;
      left: 0;
      margin: 0 auto; }
    .gallery .gallery-item.big:hover span {
      display: block;
      width: 100%;
      margin: 0 auto; } }
  .gallery .gallery-item.small a {
    max-width: 500px;
    display: block;
    margin: 0 auto;
    position: relative;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 762px) {
      .gallery .gallery-item.small a {
        margin: 0 auto;
        max-width: 450px; } }
  .gallery .gallery-item.big a {
    max-width: 750px;
    display: block;
    margin: 0 auto;
    position: relative;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 762px) {
      .gallery .gallery-item.big a {
        margin: 0 auto;
        max-width: 450px; } }
  .gallery .button {
    text-align: center;
    max-width: 622px;
    margin: 22px auto;
    margin-left: 0;
    display: block;
    font-size: 25px;
    letter-spacing: 4px;
    background: #c5c4bd;
    /* Landscape phones and down */
    /* Landscape phones and down */ }
    .gallery .button a.border {
      margin: 9px; }
    .gallery .button a {
      padding: 12px 216px;
      display: inline-block;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 1320px) {
        .gallery .button a {
          padding: 1.5% 31%;
          font-size: 20px; } }
    @media only screen and (max-width: 762px) {
      .gallery .button {
        margin: 0;
        font-size: 20px;
        width: 98%;
        margin-right: 2%;
        max-width: 450px; }
        .gallery .button a {
          padding: 2%;
          width: 94%;
          display: inline-block; } }
    @media only screen and (max-width: 762px) {
      .gallery .button {
        margin: 0;
        font-size: 20px;
        width: 100%;
        margin: 0 auto;
        max-width: 450px; }
        .gallery .button a {
          padding: 1%;
          width: 95%;
          display: inline-block; } }
  .gallery .button:hover {
    background: #1e1e1e; }

/************************************************************************************
GALLERIES owl
*************************************************************************************/
.carousel-gallery {
  position: relative;
  padding: 25px 0; }
  .carousel-gallery .gallery-item {
    position: relative; }
    .carousel-gallery .gallery-item span {
      position: absolute;
      top: 0;
      text-align: center;
      width: 100%;
      height: 100%;
      opacity: 0.0;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -ms-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
      background: url(../img/icons/hover.png) no-repeat center rgba(234, 106, 0, 0.5);
      cursor: pointer;
      display: none; }
  .carousel-gallery .gallery-item:hover span {
    display: block;
    opacity: 0.8; }

.teaser-gallery {
  position: relative;
  padding: 25px 0; }
  .teaser-gallery .teaser-hover {
    position: absolute;
    top: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    padding: 25%;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    background: #ed1c24;
    color: #000000;
    cursor: pointer;
    display: none; }
    .teaser-gallery .teaser-hover p {
      line-height: 20px;
      font-size: 21px; }
    .teaser-gallery .teaser-hover span {
      display: inline-block;
      font-family: "Roboto", sans-serif;
      border-top: solid 2px #eee;
      padding-top: 10px;
      margin-top: 15px; }
  .teaser-gallery .teaser-item:hover > .teaser-hover {
    display: block;
    opacity: 0.8; }

/************************************************************************************
MAP
*************************************************************************************/
.map {
  overflow: hidden;
  width: 100%;
  clear: both;
  position: relative; }

.map #map-canvas, .map #map-canvas-homepage {
  width: 100%;
  height: 479px;
  border-bottom: solid 1px #ea6a00;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 762px) {
    .map #map-canvas, .map #map-canvas-homepage {
      height: 300px; } }

.map-wrapper {
  padding-top: 15px; }

.map-top-shadow {
  position: absolute;
  height: 20px;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.3); }

.map-bottom-shadow {
  position: absolute;
  height: 20px;
  bottom: -20px;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.3); }

#map-popup-box {
  display: none; }
  #map-popup-box .map #map-canvas {
    width: 1000px;
    height: 600px; }

.map-tabs {
  /* Landscape phones and down */ }
  @media only screen and (max-width: 762px) {
    .map-tabs {
      display: none; } }

/************************************************************************************
OFFER MODAL
*************************************************************************************/
.modal {
  top: 25% !important;
  text-align: center; }

.modal-body {
  position: relative;
  padding: 20px 60px; }

.modal-body ul li {
  display: list-item;
  list-style-type: disc; }

.modal-header {
  text-align: center; }

.modal-footer {
  padding: 15px;
  text-align: center;
  border: none; }

.modal-footer .btn-default {
  width: 25%;
  background: #ed1c24;
  color: #ffffff; }
