@CHARSET "UTF-8";
/* ==========================================================================
   Cross-browser RESET
   ========================================================================== */
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, figure, legend, fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

img {
  height: auto;
  border: none;
  /* ie8 */
  display: block;
  /* fix the img bottom margin default  */
  max-width: 100%;
  margin: 0 auto; }

a img {
  border: none; }

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

.bx-wrapper {
  margin: 0 auto; }

.bx-wrapper .bx-viewport {
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  left: 0px; }
  .bx-wrapper .bx-viewport li {
    padding: 0px; }

/* ==========================================================================
   Bootstrap reset
   ========================================================================== */
.row {
  margin: 0px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px; }

.nav-tabs {
  font-weight: 500;
  border: none;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .nav-tabs > li {
    margin-right: 15px;
    border-right: solid 1px #000;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 4px; }
    .nav-tabs > li a {
      cursor: pointer;
      color: #000000; }
  .nav-tabs > li:last-child {
    border: none; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover {
  border: none;
  background: none;
  outline: none;
  color: #878787; }

.nav-tabs > li > a:hover, .nav-tabs > li > a {
  border: none;
  background: none;
  margin: 0; }

/**
 * Responsive mixin. The media breakpoints are as defined
 * in the twitter bootstrap framework:
 *
 * - phone
 * - tablet-portrait
 * - tablet-landscape-desktop
 * - large-desktop
 *
 * Additional parameters for tagetting retina and non-retina
 * devices
 *
 * - retina
 * - non-retina
 *
 * Moreover, a specific value in px can be passed which is
 * used to generate a max-width media query.
 */
/* ==========================================================================
Load custom fonts
========================================================================== */
@font-face {
  font-family: 'Publico-Roman';
  src: url("fonts/Publico-Roman.eot");
  src: url("fonts/Publico-Roman.woff") format("woff"), url("fonts/Publico-Roman.ttf") format("truetype"), url("fonts/Publico-Roman.svg#Publico-Roman") format("svg"), url("fonts/Publico-Roman.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PublicoBanner-MediumItalic';
  src: url("fonts/PublicoBanner-MediumItalic.eot");
  src: url("fonts/PublicoBanner-MediumItalic.woff") format("woff"), url("fonts/PublicoBanner-MediumItalic.ttf") format("truetype"), url("fonts/PublicoBanner-MediumItalic.svg#PublicoBanner-MediumItalic") format("svg"), url("fonts/PublicoBanner-MediumItalic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

/* ==========================================================================
   General
   ========================================================================== */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  -webkit-text-size-adjust: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  overflow-x: hidden;
  position: relative;
  margin: 0 auto;
  color: #eee;
  background: #ffffff;
  overflow-x: hidden;
  position: relative; }

.content-width-outer {
  margin: 0 auto;
  max-width: 1600px;
  position: relative; }

.content-width {
  margin: 0 auto;
  max-width: 1320px;
  position: relative; }

.content-width-inner {
  margin: 0 auto;
  max-width: 1160px;
  position: relative;
  padding: 0 7px; }

.content-padding {
  padding: 0px 15px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1320px) {
    .content-padding {
      padding: 0px 15px; } }

.content-padding-xlarge {
  padding: 0px 2%;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1320px) {
    .content-padding-xlarge {
      padding: 0px 2%; } }

.top-padding {
  padding-top: 75px; }

.top-bottom-padding-large {
  padding: 30px 0;
  overflow: hidden;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .top-bottom-padding-large {
      padding: 10px 0; } }

.top-bottom-padding {
  padding: 20px 0;
  overflow: hidden;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1320px) {
    .top-bottom-padding {
      padding: 7px 0; } }

.top-bottom-padding-small {
  padding: 7px 0;
  overflow: hidden; }

.side-padding {
  padding: 0 20px; }

.side-padding-large {
  padding: 0 30px; }

.left-padding {
  padding-left: 20px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1160px) {
    .left-padding {
      padding: 0; } }

.right-padding {
  padding-right: 20px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1160px) {
    .right-padding {
      padding: 0; } }

.right-padding-large {
  padding-right: 30px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1160px) {
    .right-padding-large {
      padding: 0; } }

.left-padding-large {
  padding-left: 30px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1160px) {
    .left-padding-large {
      padding: 0; } }

.no-padding {
  padding: 0px; }

.top-bottom-margin {
  margin: 20px 0; }

.top-bottom-margin-large {
  margin: 30px 0; }

.side-margin {
  margin: 0 20px; }

.left-margin {
  margin-left: 20px; }

.right-margin {
  margin-right: 20px; }

.no-margin {
  margin: 0px; }

hr {
  border-color: #dbdbdb; }

.fa {
  font-size: 22px !important; }

h1 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background: #000000;
  line-height: 32px;
  font-size: 32px;
  letter-spacing: 2px;
  font-weight: 300;
  /* Landscape phones and down */
  z-index: 1;
  overflow: hidden;
  text-align: left;
  display: inline-block;
  padding: 5px;
  margin: 20px 0; }
  @media only screen and (max-width: 992px) {
    h1 {
      font-size: 22px;
      text-align: center;
      margin: 10px 0; } }

h2 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background: #000000;
  line-height: 32px;
  font-size: 32px;
  letter-spacing: 2px;
  font-weight: 300;
  /* Landscape phones and down */
  z-index: 1;
  overflow: hidden;
  text-align: left;
  display: inline-block;
  padding: 5px;
  margin: 25px 0; }
  @media only screen and (max-width: 992px) {
    h2 {
      font-size: 22px;
      margin: 15px 0;
      text-align: center; } }

h3 {
  color: #696969;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  /* Landscape phones and down */
  padding: 5px 0;
  font-weight: 100;
  text-align: left;
  display: block; }
  @media only screen and (max-width: 992px) {
    h3 {
      font-size: 18px;
      text-align: center; } }
  h3 span {
    color: #dbdbdb;
    font-size: 30px;
    padding: 15px 0;
    font-weight: 500;
    display: block; }

h4 {
  color: #000000;
  font-size: 18px;
  /* Landscape phones and down */
  font-weight: 700;
  padding: 8px 0; }
  @media only screen and (max-width: 992px) {
    h4 {
      font-size: 14px;
      padding: 5px 0; } }
  h4 span {
    color: #ffffff; }

strong {
  font-weight: bold;
  color: #595959; }
  strong span {
    color: #696969; }

ul {
  padding: 0;
  display: inline; }

p {
  padding: 5px 0; }

/*****Element/tag selectors********/
li, ol, dl {
  padding: 5px 0;
  list-style-type: none;
  display: inline; }

li.last, ol.last, dl.last {
  padding: 0px; }

/***********Links***************/
a:link, a:visited {
  text-decoration: none;
  color: #131313; }

a:hover, a:focus {
  text-decoration: none;
  color: #595959; }

/************************************************************************************
HELPER CLASSES
*************************************************************************************/
.clear {
  clear: both; }

.hidden {
  display: none !important;
  visibility: hidden; }

.img-responsive {
  width: 100%; }

.center-align {
  text-align: center; }

.right-align {
  text-align: right;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1160px) {
    .right-align {
      text-align: center; } }

.left-align {
  text-align: left;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1160px) {
    .left-align {
      text-align: center; } }

.right {
  float: right; }

.left {
  float: right; }

.clear {
  clear: both; }

.sticky, .fixed {
  position: fixed !important;
  top: 0px !important;
  z-index: 999999 !important;
  background: #ffffff; }

.padding-right {
  padding-right: 5%;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .padding-right {
      padding-right: 0; } }

.padding-left {
  padding-left: 5%;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .padding-left {
      padding-left: 0; } }

.pattern {
  background: url(../img/pattern.png) repeat center; }

.check {
  width: 46px;
  height: 46px;
  margin: 0 auto;
  display: inline-block;
  background: url(../img/icons/check.png) repeat center; }

.stretched {
  letter-spacing: 2px; }

.border-bottom {
  border-bottom: solid 1px #686868; }

.highlight {
  color: #dbdbdb; }

.highlight-text {
  color: #010101;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1160px) {
    .highlight-text {
      font-size: 18px; } }

.background-color1 {
  background: #eee; }

.background-color2 {
  background: #dbdbdb; }

.background-color3 {
  background: #878787; }

.background-color4 {
  background: #686868; }

.background-color5 {
  background: #696969; }

.background-color6 {
  background: #595959; }

.background-color7 {
  background: #ffffff; }

.background-color8 {
  background: #000000; }

.background-color9 {
  background: #131313; }

.background-color10 {
  background: #525252; }

.color1 {
  background: #fee7d5 !important; }

.color2 {
  background: #f8f6e9 !important; }

.color3 {
  background: #dcc7b2 !important; }

.color4 {
  background: #fee7d6 !important; }

.color5 {
  background: #f8f5e9 !important; }

.image-border {
  border: solid 2px #ffffff;
  max-width: 777px;
  width: 100%;
  height: 100%;
  right: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 auto;
  text-indent: -9999px; }

.image-border:hover {
  background: url(../img/icons/hover2.png) no-repeat center;
  background-color: rgba(0, 0, 0, 0.5); }

.right-line-big::after {
  content: "";
  width: 100%;
  display: inline-block;
  height: 15px;
  left: 25%;
  right: 0px;
  border-bottom: solid 2px #dbdbdb;
  text-align: center;
  position: absolute;
  top: 22px;
  float: right;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1160px) {
    .right-line-big::after {
      display: none; } }

.right-line-big {
  display: block;
  font-style: italic;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1160px) {
    .right-line-big {
      text-align: center; } }

.left-line, .right-line {
  display: inline-block; }

.left-line::before {
  content: "";
  width: 60px;
  display: inline-block;
  height: 15px;
  left: -15px;
  right: 0px;
  border-bottom: solid 2px #dbdbdb;
  text-align: center;
  position: relative;
  right: 0;
  top: -8px; }

.right-line::after {
  content: "";
  width: 60px;
  display: inline-block;
  height: 15px;
  left: 15px;
  right: 0px;
  border-bottom: solid 2px #dbdbdb;
  text-align: center;
  position: relative;
  top: -8px; }

.decor::before {
  content: "";
  width: 130px;
  display: inline-block;
  height: 45px;
  left: -25px;
  background: url(../img/icons/decor-left.png) no-repeat center;
  text-align: center;
  position: relative;
  right: 0;
  top: 5px; }

.decor::after {
  content: "";
  width: 130px;
  display: inline-block;
  height: 45px;
  right: -25px;
  background: url(../img/icons/decor-right.png) no-repeat center;
  text-align: center;
  position: relative;
  top: 5px; }

.scrollToTop {
  width: 60px;
  height: 60px;
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 18px;
  padding: 20px;
  background: #eee;
  color: #dbdbdb;
  z-index: 999; }

a.scrollToTop:link, a.scrollToTop:visited {
  color: #dbdbdb; }

.stars1 {
  display: inline-block;
  height: 65px;
  width: 100%;
  background: url(../img/icons/stars.png) no-repeat center;
  text-align: center;
  margin: 0 auto;
  position: relative;
  right: 0;
  left: 0px;
  bottom: 0; }

.overlay {
  background: rgba(48, 55, 122, 0.85); }

.lines {
  display: block;
  height: 40px;
  background: url(../img/lines-header.png) repeat-x center; }

.line1 {
  display: inline-block;
  height: 10px;
  width: 100%;
  background: url(../img/bg-line.png) no-repeat left bottom;
  text-align: center;
  margin: 0 auto;
  position: relative;
  right: 0;
  top: 12px; }

.line2 {
  display: inline-block;
  height: 10px;
  width: 100%;
  background: url(../img/bg-line.png) no-repeat left bottom;
  text-align: center;
  margin: 0 auto;
  position: relative;
  right: 0;
  top: -12px; }

.stars2 {
  display: inline-block;
  height: 50px;
  background: url(../img/icons/stars2.png) no-repeat center;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  right: 0;
  left: 0px;
  bottom: 25px; }

.fixed-info {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 9999;
  padding: 0.5% 2%;
  text-align: right;
  /* Landscape phones and down */
  font-size: 14px;
  color: #645d5d; }
  .fixed-info .copyright {
    position: absolute;
    top: 10px;
    /* Landscape phones and down */
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      .fixed-info .copyright {
        position: relative;
        top: 0; } }
    @media only screen and (max-width: 762px) {
      .fixed-info .copyright {
        display: none; } }
    .fixed-info .copyright p {
      left: 0;
      float: left;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 992px) {
        .fixed-info .copyright p {
          float: none;
          text-align: center; } }
  @media only screen and (max-width: 992px) {
    .fixed-info {
      text-align: center;
      z-index: 9999;
      padding: 2% 2%; } }
  .fixed-info span {
    font-size: 20px;
    padding: 20px; }
  .fixed-info p {
    padding: 0; }
  .fixed-info a:link, .fixed-info a:visited {
    text-decoration: none;
    color: #000000; }
  .fixed-info a:hover, .fixed-info a:focus {
    text-decoration: none;
    color: #686868; }

.title-align-mobile {
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .title-align-mobile {
      text-align: center; } }

.white-box-wrapper {
  height: 450px;
  position: relative; }

.white-box {
  background: #ffffffeb;
  max-width: 50%;
  position: absolute;
  padding: 2% 4%;
  top: 0;
  height: 90%;
  font-size: 20px;
  line-height: 28px;
  /* Landscape phones and down */
  text-align: left;
  color: #000000; }
  @media only screen and (max-width: 992px) {
    .white-box {
      font-size: 16px;
      line-height: 16px; } }

.white-box.right {
  right: 0; }

.white-box.left {
  left: 0; }

.banner-overlay {
  background: rgba(0, 0, 0, 0.75);
  padding: 40px 0;
  color: #fff;
  text-align: center; }
  .banner-overlay p {
    max-width: 30%;
    margin: 20px auto;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    line-height: 30px;
    /* Landscape phones and down */
    letter-spacing: 2px;
    display: block;
    font-weight: 100;
    border-bottom: solid 1px #fff; }
    @media only screen and (max-width: 992px) {
      .banner-overlay p {
        max-width: 30%;
        font-size: 14px;
        line-height: 20px; } }
  .banner-overlay span {
    max-width: 40%;
    margin: 20px auto;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 600;
    line-height: 40px;
    /* Landscape phones and down */
    display: block; }
    @media only screen and (max-width: 992px) {
      .banner-overlay span {
        max-width: 50%;
        font-size: 24px;
        line-height: 30px; } }

.banner-overlay-small {
  background: rgba(0, 0, 0, 0.75);
  padding: 20px 0;
  color: #fff;
  text-align: center; }
  .banner-overlay-small p {
    max-width: 30%;
    margin: 10px auto;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    line-height: 30px;
    /* Landscape phones and down */
    letter-spacing: 2px;
    display: block;
    font-weight: 100;
    border-bottom: solid 1px #fff; }
    @media only screen and (max-width: 992px) {
      .banner-overlay-small p {
        max-width: 30%;
        font-size: 14px;
        line-height: 20px; } }
  .banner-overlay-small span {
    max-width: 40%;
    margin: 10px auto;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 600;
    line-height: 40px;
    /* Landscape phones and down */
    display: block; }
    @media only screen and (max-width: 992px) {
      .banner-overlay-small span {
        max-width: 50%;
        font-size: 24px;
        line-height: 30px; } }

.faq-title {
  position: relative;
  padding-left: 40px;
  margin-bottom: 15px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 20px; }

.faq-content {
  padding-left: 40px;
  margin: 15px 0; }

.faq-title::before {
  content: "";
  width: 40px;
  height: 30px;
  display: inline-block;
  position: absolute;
  left: 0;
  background: url(../img/icons/faq.png) no-repeat 0px 0px;
  background-size: 50%; }

.faq-title2 {
  position: relative;
  padding-left: 40px;
  margin-bottom: 15px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 20px; }

.faq-title2::before {
  content: "";
  width: 40px;
  height: 30px;
  display: inline-block;
  position: absolute;
  left: 0;
  background: url(../img/icons/tick.png) no-repeat 0px 0px;
  background-size: 50%; }

.contact-info-box {
  background: #faf7eb;
  padding: 40px; }

/************************************************************************************
BUTTONS
*************************************************************************************/
.button2 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 100;
  display: inline-block;
  background: #dbdbdb;
  position: relative;
  margin: 5px; }
  .button2 a {
    padding: 8px 24px;
    display: inline-block; }
  .button2 a:link, .button2 a:visited {
    color: #ffffff; }
  .button2 a:hover {
    color: #ffffff; }
  .button2 a.border {
    border: solid 1px #ffffff;
    margin: 5px; }

.button2:hover {
  background: #686868;
  color: #ffffff; }

.button2:hover a {
  color: #ffffff; }

.button {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 2px;
  display: inline-block;
  background: #dcc7b3;
  position: relative;
  margin: 5px; }
  .button a {
    padding: 8px 24px;
    display: inline-block; }
  .button a:link, .button a:visited {
    color: #131313; }
  .button a:hover {
    color: #131313; }
  .button a.border {
    border: solid 1px #ffffff;
    margin: 5px; }

.button:hover {
  background: #dbdbdb;
  color: #ffffff; }

.button:hover a {
  color: #ffffff; }

/************************************************************************************
HICHLIGHTS
*************************************************************************************/
.hightlight1 {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/icons/highlight1.png) no-repeat center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.hightlight2 {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/icons/highlight2.png) no-repeat center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.hightlight3 {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/icons/highlight3.png) no-repeat center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.hightlight4 {
  display: block;
  width: 60px;
  height: 45px;
  background: url(../img/icons/highlight4.png) no-repeat center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.hightlight5 {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/icons/highlight5.png) no-repeat center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.hightlight6 {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/icons/highlight6.png) no-repeat center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

/************************************************************************************
INFO ICONS
*************************************************************************************/
.info-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px 0; }

.info1 {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url(../img/icons/info1.png) repeat 0px;
  padding-left: 15px;
  padding-right: 15px; }

.info2 {
  display: inline-block;
  width: 90px;
  height: 26px;
  background: url(../img/icons/info2.png) repeat center;
  text-indent: -9999px;
  margin-top: 5px; }

.info3 {
  display: inline-block;
  width: 40px;
  height: 30px;
  background: url(../img/icons/info3.png) repeat center;
  text-indent: -9999px; }

.info4 {
  display: inline-block;
  width: 40px;
  height: 30px;
  background: url(../img/icons/info4.png) repeat center;
  text-indent: -9999px; }

.info5 {
  display: inline-block;
  width: 40px;
  height: 30px;
  background: url(../img/icons/info5.png) repeat center;
  text-indent: -9999px; }

.people {
  display: inline-block;
  width: 100px;
  height: 35px;
  background: url(../img/icons/people.png) no-repeat right;
  padding-top: 10px;
  padding-right: 20px;
  position: absolute;
  right: 25px;
  text-align: right;
  font-size: 18px;
  color: #dbdbdb;
  top: 90px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .people {
      position: relative;
      top: 0;
      text-align: center;
      padding: 10px 0;
      font-size: 16px;
      right: 0px;
      padding-right: 25px; } }

.line {
  display: block;
  width: 100%;
  height: 35px;
  background: url(../img/icons/line.png) no-repeat left; }

/************************************************************************************
BOXES
*************************************************************************************/
.location-box {
  position: absolute;
  bottom: 100px;
  width: 400px;
  height: 300px;
  left: 5%;
  color: #000000;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 762px) {
    .location-box {
      display: none; } }
  .location-box h3 {
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 4px;
    color: #878787; }
  .location-box ul {
    display: block;
    color: #000000;
    font-size: 20px;
    padding: 20px 0;
    letter-spacing: 4px; }
    .location-box ul li {
      display: block;
      height: 30px; }
      .location-box ul li span {
        padding: 0;
        color: #878787; }
  .location-box .contents {
    background: #f0f7f7;
    margin: 15px;
    padding: 15px;
    border: solid 1px #dbdbdb;
    text-align: center;
    height: 270px; }
  .location-box p {
    color: #000000;
    font-size: 20px;
    padding: 20px 0; }
  .location-box span {
    font-size: 16px;
    display: inline-block;
    padding: 15px 0; }

/************************************************************************************
TOOLTIP BOX
*************************************************************************************/
div:hover > .tooltip {
  height: 165px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  left: 50%;
  position: absolute;
  top: -110%; }

.tooltip {
  font-size: 14px;
  line-height: 18px;
  -webkit-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  transform-origin: bottom center;
  bottom: 0;
  left: 50%;
  position: absolute;
  margin-left: -120px;
  top: -100%; }

.tooltip {
  -webkit-transition: height 0.2s ease-in-out,opacity 0.2s ease-in-out,transform 0.2s ease-in-out;
  -ms-transition: height 0.2s ease-in-out,opacity 0.2s ease-in-out,transform 0.2s ease-in-out;
  transition: height 0.2s ease-in-out,opacity 0.2s ease-in-out,transform 0.2s ease-in-out;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  width: 65%;
  height: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  bottom: 0;
  opacity: 0; }
  .tooltip .tooltip-inner {
    position: absolute;
    left: 0;
    display: block;
    background: #dbdbdb;
    border-radius: 15px;
    color: #fff;
    width: 200px;
    height: 130px;
    height: auto;
    border: solid 2px #fff;
    padding: 15px; }
  .tooltip .tooltip-inner:after {
    content: "";
    position: absolute;
    top: 99%;
    left: 30%;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid #dbdbdb;
    margin-left: 23px; }

/************************************************************************************
HEADER
*************************************************************************************/
header {
  transition: all 500ms ease-in;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 999;
  height: 96px;
  top: 0px;
  background: #ffffff; }
  header .row {
    position: relative; }
  header .logo {
    position: absolute;
    display: inline-block;
    padding: 10px;
    left: 0;
    z-index: 1; }
    header .logo a {
      display: block;
      width: 86px;
      height: 72px;
      background: url(../img/logo.png) no-repeat center; }
  header .navigation-box {
    z-index: 999;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    position: relative;
    color: #ffffff;
    font-size: 20px;
    width: 30vw;
    min-width: 350px;
    height: 96vh;
    position: absolute;
    right: -1000px;
    opacity: 0;
    top: 0;
    background: #000000;
    color: #fff;
    transition: all 500ms ease-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    padding-right: 4vw;
    padding-left: 8vw;
    padding-bottom: 2vh;
    padding-top: 0vh; }
    header .navigation-box .social {
      display: block;
      width: 100%;
      background: #000000;
      font-size: 26px;
      padding: 3vh 0;
      font-family: "Open Sans", sans-serif;
      text-align: right;
      border-top: solid 2px #686868; }
      header .navigation-box .social a:link, header .navigation-box .social a:visited {
        color: #686868;
        margin-left: 10px; }
      header .navigation-box .social a:hover, header .navigation-box .social a:focus {
        color: #ffffff; }
    header .navigation-box .close-menu span {
      content: "";
      display: block;
      height: 12vh;
      width: 5vw;
      min-width: 80px;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: 0;
      background: url(../img/icons/close.png) no-repeat center;
      background-size: 40%;
      cursor: pointer; }
    header .navigation-box nav {
      height: 55%;
      display: block; }
      header .navigation-box nav ul {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between; }
        header .navigation-box nav ul li {
          display: block;
          text-align: right;
          transition: all 250ms ease-out;
          position: relative;
          /* Landscape phones and down */ }
          header .navigation-box nav ul li a:link, header .navigation-box nav ul li a:visited {
            padding: 4px;
            color: #ffffff; }
          header .navigation-box nav ul li a:hover, header .navigation-box nav ul li a:focus {
            color: #eee; }
          header .navigation-box nav ul li i {
            color: #686868;
            margin-left: 5px; }
          header .navigation-box nav ul li span {
            position: absolute;
            font-size: 14px;
            right: -2vw;
            top: 5px;
            color: #68686885; }
          @media only screen and (max-width: 992px) {
            header .navigation-box nav ul li span {
              display: none; } }
        header .navigation-box nav ul li:hover a, header .navigation-box nav ul li.active a {
          background: #ffffff;
          color: #000000; }
        header .navigation-box nav ul li:hover li a, header .navigation-box nav ul li.active li a {
          background: none; }
        header .navigation-box nav ul li.submenu:hover > a {
          background: #000;
          color: #ffffff;
          pointer-events: none; }
        header .navigation-box nav ul li.submenu ul {
          display: none;
          padding: 5px 0; }
          header .navigation-box nav ul li.submenu ul li {
            transition: initial;
            margin: 0;
            padding: 0; }
            header .navigation-box nav ul li.submenu ul li a {
              margin: 0;
              padding: 0;
              font-size: 14px;
              color: #686868; }
          header .navigation-box nav ul li.submenu ul li:hover a, header .navigation-box nav ul li.submenu ul li.active a {
            background: none;
            color: #ffffff; }
        header .navigation-box nav ul li.submenu.opened ul {
          display: block; }
  header #dropdown {
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 0;
    width: 110px;
    font-weight: 500;
    height: 20px;
    margin: 20px 0;
    top: 20px;
    color: #878787;
    z-index: 2; }
  header #dropdown:hover::after {
    transition: ease-in 350ms all;
    height: 20px;
    width: 45px;
    background: url(../img/icons/menu_invert.png) no-repeat center; }
  header #dropdown::after {
    content: "";
    display: block;
    height: 20px;
    width: 45px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    background: url(../img/icons/menu.png) no-repeat center; }

/* ==========================================================================
   main styling
   ========================================================================== */
main {
  position: relative;
  clear: both;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 96px;
  line-height: 22px;
  color: #231a0e; }
  main i {
    font-size: 35px; }
  main .main-content {
    text-align: center;
    padding: 25px 0; }
    main .main-content p {
      padding: 10px 0; }
    main .main-content .two-column-text {
      padding: 25px 0;
      column-count: 2;
      column-gap: 50px;
      text-align: left; }
      main .main-content .two-column-text p {
        padding: 0; }
    main .main-content ul {
      padding: 10px 15px;
      text-align: left;
      display: block;
      columns: 2;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 750px) {
        main .main-content ul {
          text-align: center;
          padding: 0; } }
      main .main-content ul li {
        display: block;
        padding: 5px 0;
        color: #000000; }
        main .main-content ul li a:link, main .main-content ul li a:visited {
          color: #eee; }
        main .main-content ul li a:hover, main .main-content ul li a:focus, main .main-content ul li a.active {
          color: #dbdbdb; }
      main .main-content ul i {
        display: inline-block;
        color: #dbdbdb;
        margin-right: 10px;
        margin-bottom: -3px; }
    main .main-content strong {
      font-weight: 700;
      color: #595959; }

main.no-slider {
  padding-top: 100px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1320px) {
    main.no-slider {
      padding-top: 0px; } }

/* ==========================================================================
   sections styling
   ========================================================================== */
.home-section .main-content {
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  font-family: "Montserrat", sans-serif;
  /* Landscape phones and down */ }
  .home-section .main-content h1 {
    display: inline-block;
    text-align: left;
    line-height: 32px;
    font-size: 32px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      .home-section .main-content h1 {
        line-height: 22px;
        font-size: 22px;
        text-align: center; } }
  @media only screen and (max-width: 992px) {
    .home-section .main-content {
      text-align: center; } }

section.services-teasers {
  padding: 25px 0;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    section.services-teasers {
      text-align: center; }
      section.services-teasers h2 {
        text-align: center; } }
  section.services-teasers .teaser-image {
    position: relative;
    margin-right: 10%;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      section.services-teasers .teaser-image {
        margin: 0 auto; } }
    section.services-teasers .teaser-image img {
      margin-left: 0;
      width: 100%;
      max-width: 300px;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 992px) {
        section.services-teasers .teaser-image img {
          margin: 0 auto; } }
    section.services-teasers .teaser-image .image-border {
      border: solid 1px #5e5e5e;
      width: 100%;
      max-width: 300px;
      height: 100%;
      right: 0;
      position: absolute;
      left: 0;
      top: 0;
      margin: 0 auto;
      margin-left: 0;
      text-indent: -9999px;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 992px) {
        section.services-teasers .teaser-image .image-border {
          margin: 0 auto; } }
    section.services-teasers .teaser-image .image-border:hover {
      background: url(../img/icons/hover2.png) no-repeat center;
      background-color: rgba(0, 0, 0, 0.5); }
  section.services-teasers .teaser-info {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    max-width: 300px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      section.services-teasers .teaser-info {
        margin: 25px auto; } }
    section.services-teasers .teaser-info h3 {
      font-size: 20px;
      border: solid 2px #717171;
      padding: 0px;
      padding-left: 0;
      position: relative;
      margin-top: 20px;
      margin-right: 0;
      text-align: center;
      margin-left: auto; }
      section.services-teasers .teaser-info h3 span {
        font-size: 20px;
        color: #000000;
        padding: 25px 0;
        font-weight: 500;
        display: block;
        text-align: center; }
    section.services-teasers .teaser-info h3::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      border: solid 2px #959595;
      margin: 0;
      position: absolute;
      top: -9px;
      left: 12px; }
    section.services-teasers .teaser-info h3::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      border: solid 2px #d0d0d0;
      margin: 0;
      position: absolute;
      top: 6px;
      left: 6px; }
  section.services-teasers .teaser-info:hover {
    opacity: 0.65; }

section.focus-area {
  padding: 25px 0; }
  section.focus-area .tree-wrapper h2 {
    margin-bottom: 0;
    padding: 0; }
  section.focus-area .tree-wrapper h3.white {
    padding: 5px;
    background: #ffffff;
    display: inline-block; }
  section.focus-area .tree-wrapper ul {
    margin: 10px 0;
    display: block;
    font-size: 16px;
    margin-right: 15%;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      section.focus-area .tree-wrapper ul {
        margin-right: 0; } }
    section.focus-area .tree-wrapper ul li {
      color: #ffffff; }
    section.focus-area .tree-wrapper ul li:before {
      content: '\2022';
      display: inline-block;
      margin-right: 0px;
      margin: 4px;
      height: 0;
      font-weight: 900; }
  section.focus-area .tree {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    background: url(../img/icons/grey-line.png) repeat-y center top;
    display: flex;
    flex-direction: column;
    min-height: 600px;
    width: 715px;
    margin: 50px auto;
    padding-bottom: 0px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      section.focus-area .tree {
        background: none;
        width: 100%;
        margin: 30px auto; } }
    section.focus-area .tree .bright {
      align-self: flex-end;
      /* Landscape phones and down */
      padding: 6px;
      display: inline-block;
      width: 300px;
      text-align: left;
      position: relative; }
      @media only screen and (max-width: 992px) {
        section.focus-area .tree .bright {
          align-self: center;
          text-align: center; } }
    section.focus-area .tree .bright::after {
      background: url(../img/icons/bullet-left.png) no-repeat left;
      display: block;
      width: 100px;
      height: 20px;
      content: "";
      position: absolute;
      left: -60px;
      top: 12px;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 992px) {
        section.focus-area .tree .bright::after {
          display: none; } }
    section.focus-area .tree .bleft {
      align-self: flex-start;
      /* Landscape phones and down */
      padding: 10px;
      display: inline-block;
      width: 300px;
      text-align: right;
      position: relative; }
      @media only screen and (max-width: 992px) {
        section.focus-area .tree .bleft {
          align-self: center;
          text-align: center; } }
    section.focus-area .tree .bleft::after {
      background: url(../img/icons/bullet-right.png) no-repeat right;
      display: block;
      width: 100px;
      height: 20px;
      content: "";
      position: absolute;
      right: -60px;
      top: 12px;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 992px) {
        section.focus-area .tree .bleft::after {
          display: none; } }

section.contact .main-content {
  background: #e2e2e2ad;
  /* Landscape phones and down */ }
  section.contact .main-content .info {
    text-align: center;
    padding-left: 35px; }
    section.contact .main-content .info i {
      color: #dbdbdb;
      margin-right: 10px;
      font-size: 20px; }
    section.contact .main-content .info .text {
      margin: 25px 0; }
      section.contact .main-content .info .text p {
        padding: 5px 0; }
    section.contact .main-content .info h3 {
      padding-top: 25px; }
  @media only screen and (max-width: 992px) {
    section.contact .main-content .info {
      text-align: center; } }

/************************************************************************************
FOOTER
*************************************************************************************/
footer {
  position: relative;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  height: 220px;
  padding: 25px 0;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  /* Landscape phones and down */
  background: #131313;
  margin-bottom: 2%;
  /***********Links***************/ }
  @media only screen and (max-width: 992px) {
    footer {
      height: 100%;
      text-align: center;
      margin-bottom: 10%; } }
  footer a:link, footer a:visited {
    text-decoration: none;
    color: #ffffff; }
  footer a:hover, footer a:focus {
    text-decoration: none;
    color: #878787; }
  footer .top {
    font-family: "Montserrat", sans-serif;
    /***********Links***************/
    color: #000000;
    text-align: left;
    font-size: 14px;
    overflow: hidden;
    /* Landscape phones and down */ }
    footer .top .logo {
      display: inline-block;
      padding: 0;
      z-index: 1;
      width: 150px;
      float: left;
      /* Landscape phones and down */ }
      footer .top .logo a {
        display: block;
        background: url(../img/logo2.png) no-repeat center;
        height: 110px;
        width: 104px; }
      @media only screen and (max-width: 992px) {
        footer .top .logo {
          width: 100%;
          float: none; }
          footer .top .logo a {
            margin: 0 auto; } }
    footer .top h3 {
      font-size: 20px;
      margin-bottom: 20px;
      letter-spacing: 0;
      color: #5e5e5e;
      font-weight: 500;
      font-family: "Open Sans", sans-serif;
      text-align: left;
      border-bottom: solid 1px #5e5e5e;
      max-width: 40%;
      padding: 8px;
      margin-left: 0;
      padding-left: 0;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 992px) {
        footer .top h3 {
          margin: 25px auto;
          max-width: 50%;
          text-align: center; } }
    footer .top a:link, footer .top a:visited {
      text-decoration: none;
      color: #696969; }
    footer .top a:hover, footer .top a:focus {
      text-decoration: none;
      color: #dbdbdb; }
    @media only screen and (max-width: 992px) {
      footer .top {
        height: auto;
        text-align: center; } }
    footer .top .connect {
      /* Landscape phones and down */
      text-align: center; }
      @media only screen and (max-width: 992px) {
        footer .top .connect {
          padding: 0; } }
    footer .top .follow {
      float: right;
      text-align: right;
      max-width: 160px;
      /* Landscape phones and down */ }
      footer .top .follow h3 {
        max-width: 80%; }
      footer .top .follow .social-menu {
        display: inline-block;
        text-align: left;
        /* Landscape phones and down */ }
        @media only screen and (max-width: 992px) {
          footer .top .follow .social-menu {
            text-align: center; } }
        footer .top .follow .social-menu li {
          margin-right: 10px;
          display: inline-block; }
          footer .top .follow .social-menu li a:link, footer .top .follow .social-menu li a:visited {
            color: #686868;
            margin-left: 10px; }
          footer .top .follow .social-menu li a:hover, footer .top .follow .social-menu li a:focus {
            color: #ffffff; }
      @media only screen and (max-width: 992px) {
        footer .top .follow {
          float: none;
          width: 50%;
          margin: 0 auto;
          height: auto;
          text-align: center;
          max-width: initial; }
          footer .top .follow h3 {
            max-width: 50%; }
          footer .top .follow li {
            margin-left: 15px;
            display: inline-block; }
            footer .top .follow li i {
              font-size: 20px;
              color: #ffffff; }
            footer .top .follow li i:hover {
              color: #dbdbdb; } }
    footer .top .contact {
      padding: 0  1vw;
      /* Landscape phones and down */
      color: #ffffff; }
      @media only screen and (max-width: 992px) {
        footer .top .contact {
          padding: 0; } }
      footer .top .contact span {
        font-size: 14px;
        /* Landscape phones and down */
        color: #686868;
        margin-right: 5px; }
        @media only screen and (max-width: 1160px) {
          footer .top .contact span {
            font-size: 12px; } }
      footer .top .contact p {
        font-size: 14px;
        padding: 0;
        color: #ffffff;
        padding-bottom: 10px;
        margin: 0;
        /* Landscape phones and down */ }
        @media only screen and (max-width: 1160px) {
          footer .top .contact p {
            font-size: 12px; } }
      footer .top .contact a:link, footer .top .contact a:visited {
        color: #ffffff; }
      footer .top .contact a:hover, footer .top .contact a:focus, footer .top .contact a.active {
        color: #dbdbdb; }
      footer .top .contact i {
        font-size: 20px;
        /* Landscape phones and down */
        background: none;
        margin-right: 5px; }
        @media only screen and (max-width: 1160px) {
          footer .top .contact i {
            font-size: 16px; } }
    footer .top .quick-links-box {
      padding: 0 1vw;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 992px) {
        footer .top .quick-links-box {
          float: none;
          text-align: center;
          padding: 0;
          max-width: 50%;
          text-align: center;
          margin: 0 auto; }
          footer .top .quick-links-box h3 {
            max-width: 50%; } }
      footer .top .quick-links-box h3 {
        max-width: 30%; }
      footer .top .quick-links-box nav.quick-menu {
        overflow: hidden; }
        footer .top .quick-links-box nav.quick-menu ul {
          columns: 2;
          column-gap: 0;
          /* Landscape phones and down */ }
          @media only screen and (max-width: 992px) {
            footer .top .quick-links-box nav.quick-menu ul {
              columns: 1; } }
          footer .top .quick-links-box nav.quick-menu ul li {
            font-size: 14px;
            /* Landscape phones and down */
            line-height: 20px;
            display: block;
            padding: 0px;
            padding-bottom: 10px;
            color: #ffffff; }
            @media only screen and (max-width: 1160px) {
              footer .top .quick-links-box nav.quick-menu ul li {
                font-size: 12px; } }
            footer .top .quick-links-box nav.quick-menu ul li a:link, footer .top .quick-links-box nav.quick-menu ul li a:visited {
              color: #ffffff; }
            footer .top .quick-links-box nav.quick-menu ul li a:hover, footer .top .quick-links-box nav.quick-menu ul li a:focus, footer .top .quick-links-box nav.quick-menu ul li a.active {
              color: #dbdbdb; }

/* ==========================================================================
  forms
   ========================================================================== */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #dbdbdb;
  font-size: 14px; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #dbdbdb;
  font-size: 14px; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #dbdbdb;
  font-size: 14px; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #dbdbdb;
  font-size: 14px; }

.ui-datepicker .ui-datepicker-header {
  background: #dbdbdb;
  color: #ffffff; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border-color: #dbdbdb;
  background: #dbdbdb;
  color: #ffffff; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background: #dbdbdb;
  color: #ffffff; }

input, select {
  border: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: ''; }

.contact-form {
  position: relative; }
  .contact-form .form-group {
    padding: 16px 0; }
  .contact-form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #eee; }
  .contact-form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #eee; }
  .contact-form :-ms-input-placeholder {
    /* IE 10+ */
    color: #eee; }
  .contact-form :-moz-placeholder {
    /* Firefox 18- */
    color: #eee; }
  .contact-form label {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    color: #000000;
    width: 100%;
    margin: 0px; }
    .contact-form label span {
      font-weight: 400;
      font-style: normal;
      font-size: 16px; }
  .contact-form input {
    width: 96%;
    /* Landscape phones and down */
    float: left;
    height: 50px;
    margin: 5px 0;
    padding-left: 16px;
    background: #ffffff;
    border: #000000 solid 1px; }
    @media only screen and (max-width: 1160px) {
      .contact-form input {
        width: 100%; } }
  .contact-form input[type="file"] {
    background: #dbdbdb;
    color: #ffffff;
    padding: 10px; }
  .contact-form input[type="submit"] {
    float: right;
    background: #000000;
    border: #eee solid 2px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    border-radius: 0px;
    font-weight: 500;
    font-size: 22px;
    width: 200px;
    /* Landscape phones and down */
    position: relative;
    right: 15px; }
    @media only screen and (max-width: 1160px) {
      .contact-form input[type="submit"] {
        width: 100%;
        right: 0px; } }
  .contact-form input[type="submit"]:hover {
    background: #878787;
    color: #000000; }
  .contact-form textarea {
    width: 98%;
    /* Landscape phones and down */
    height: 165px;
    display: inline-block;
    padding: 20px;
    float: left;
    color: #000000;
    background: #ffffff;
    border: #000000 solid 1px; }
    @media only screen and (max-width: 1160px) {
      .contact-form textarea {
        width: 100%; } }
  .contact-form span {
    font-style: italic;
    font-size: 13px;
    padding: 15px 0;
    display: block; }
  .contact-form .sec_code {
    position: absolute;
    top: 30px;
    right: 15px;
    width: 100px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1160px) {
      .contact-form .sec_code {
        top: 92px;
        right: 0px; } }

/************************************************************************************
SOCIAL MENU
*************************************************************************************/
.social-menu i {
  font-size: 20px; }

.social-menu a.cyrcle {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  border: none;
  margin-right: 5px;
  background: #eee; }

.social-menu a.cyrcle:link, .social-menu a.cyrcle:visited {
  color: #ffffff;
  background: #eee; }

.social-menu a.cyrcle:hover, .social-menu a.cyrcle:focus {
  color: #ffffff;
  background: #dbdbdb; }

.social-menu a.square {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  margin-right: 5px;
  padding-top: 5px;
  font-size: 20px;
  text-align: center;
  background: #696969;
  display: inline-block; }

.social-menu a.last {
  margin-right: 0px; }

.social-menu a:link, .social-menu a:visited {
  color: #686868; }

.social-menu a:hover, .social-menu a:focus {
  color: #dbdbdb; }

.social-menu.block {
  width: 250px;
  display: inline-block;
  text-align: center; }
  .social-menu.block li {
    width: 80px;
    padding: 5px;
    display: inline-block;
    color: #343333; }

/************************************************************************************
SLIDER
*************************************************************************************/
.slider-wrapper {
  position: relative; }
  .slider-wrapper .caption {
    position: absolute;
    width: 550px;
    margin: 0;
    left: 0;
    right: 0px;
    top: 55vh;
    /* Landscape phones and down */
    z-index: 2;
    text-align: left;
    color: #ffffff;
    font-size: 40px;
    line-height: 46px;
    display: none;
    font-size: 23px;
    display: none;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1560px) {
      .slider-wrapper .caption {
        top: 60%; } }
    .slider-wrapper .caption span {
      color: #fff;
      font-size: 13px;
      font-weight: 600;
      line-height: 13px;
      background: #000;
      display: inline-block;
      left: 0;
      margin: 0;
      padding: 5px;
      letter-spacing: 2px;
      padding: 13px; }
    .slider-wrapper .caption p {
      font-size: 23px;
      background: #dbdbdb;
      color: #000;
      padding: 10px;
      line-height: 33px;
      letter-spacing: 2px; }
    @media only screen and (max-width: 1160px) {
      .slider-wrapper .caption {
        display: none; } }
  .slider-wrapper .book-online {
    position: absolute;
    bottom: 23vh;
    left: 0px;
    right: 0px;
    width: 975px;
    margin: 0 auto;
    background: #b3b0a9c4;
    padding: 15px;
    z-index: 1;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1160px) {
      .slider-wrapper .book-online {
        bottom: 0;
        width: 100%;
        background: #b3b0a9; } }
  .slider-wrapper .scroll-down {
    position: absolute;
    bottom: 30vh;
    width: 140px;
    height: 50px;
    padding: 3px;
    text-align: center;
    margin: 0;
    right: -100px;
    color: #000;
    display: inline-block;
    z-index: 999;
    transform: rotate(-90deg);
    font-size: 14px;
    /* Landscape phones and down */
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1320px) {
      .slider-wrapper .scroll-down {
        right: -7vw; } }
    @media only screen and (max-width: 1160px) {
      .slider-wrapper .scroll-down {
        display: none; } }
  .slider-wrapper .scroll-down::after {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    border-top: solid 1px #000;
    position: absolute;
    right: 0;
    top: 15px; }
  .slider-wrapper .scroll-down::before {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    border-top: solid 1px #000;
    position: absolute;
    left: 0;
    top: 15px; }

.slider-wrapper::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  background: #000000;
  display: none;
  pointer-events: none; }

.fotorama__arr {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 70vh;
  /* Landscape phones and down */
  margin-top: -7px; }
  @media only screen and (max-width: 1560px) {
    .fotorama__arr {
      top: 85%; } }

.fotorama__arr--prev {
  background-position: 10px 0;
  background-color: #fff;
  z-index: 999;
  left: 0; }

.fotorama__arr--next {
  background-position: -30px 0;
  background-color: #fff;
  z-index: 999;
  left: 41px; }

.fotorama__arr--disabled {
  pointer-events: none;
  cursor: default;
  opacity: 1; }

/************************************************************************************
PHOTOS GALLERY
*************************************************************************************/
.masonry-gallery {
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0 auto; }
  .masonry-gallery .gallery-item.style1 {
    width: 285px;
    height: 415px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      .masonry-gallery .gallery-item.style1 {
        width: 230px;
        height: 380px; } }
  .masonry-gallery .gallery-item.style2 {
    width: 235px;
    height: 250px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      .masonry-gallery .gallery-item.style2 {
        width: 230px; } }
  .masonry-gallery .gallery-item.style3 {
    width: 480px;
    height: 345px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      .masonry-gallery .gallery-item.style3 {
        width: 230px;
        height: 345px; } }
  .masonry-gallery .gallery-item.style4 {
    width: 285px;
    height: 180px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      .masonry-gallery .gallery-item.style4 {
        width: 230px;
        height: 160px; } }
  .masonry-gallery .gallery-item {
    /* Landscape phones and down */
    float: left;
    position: relative;
    display: inline-block;
    margin: 5px;
    background: trasparent;
    clear: both;
    overflow: hidden;
    z-index: 1; }
    @media only screen and (max-width: 992px) {
      .masonry-gallery .gallery-item {
        margin-bottom: 10px; } }
    .masonry-gallery .gallery-item span {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -ms-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
      background: url(../img/icons/hover.png) no-repeat center rgba(234, 106, 0, 0.5);
      cursor: pointer;
      color: #ffffff;
      display: none; }
  .masonry-gallery .gallery-item:hover span {
    display: block;
    transform: scale(1.02); }

.gallery {
  display: block;
  width: 100%;
  margin: 25px auto;
  padding-left: 1%;
  /* Landscape phones and down */
  /* Landscape phones and down */ }
  @media only screen and (max-width: 762px) {
    .gallery {
      padding: 0 4%; } }
  .gallery > .row {
    margin: 1.5% auto;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 762px) {
      .gallery > .row {
        margin: 0 auto; } }
  .gallery .gallery-item {
    z-index: 1;
    /* Landscape phones and down */ }
    .gallery .gallery-item span {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -ms-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
      background: url(../img/icons/hover2.png) no-repeat center rgba(234, 106, 0, 0.5);
      cursor: pointer;
      color: #ffffff;
      display: none; }
    @media only screen and (max-width: 762px) {
      .gallery .gallery-item {
        margin: 10px auto; } }
  .gallery .gallery-item:hover span {
    display: block;
    width: 95%; }
  .gallery .gallery-item img {
    width: 95%;
    margin-left: 0; }
  .gallery .gallery-item.big img {
    width: 96.5%; }
  .gallery .gallery-item.big:hover span {
    display: block;
    width: 96.5%; }
  @media only screen and (max-width: 762px) {
    .gallery .gallery-item:hover span {
      display: block;
      width: 100%; }
    .gallery .gallery-item img {
      width: 100%;
      margin-left: 0; }
    .gallery .gallery-item.big img {
      width: 100%;
      margin: 0 auto; }
    .gallery .gallery-item.big span {
      right: 0;
      left: 0;
      margin: 0 auto; }
    .gallery .gallery-item.big:hover span {
      display: block;
      width: 100%;
      margin: 0 auto; } }
  .gallery .gallery-item.small a {
    max-width: 500px;
    display: block;
    margin: 0 auto;
    position: relative;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 762px) {
      .gallery .gallery-item.small a {
        margin: 0 auto;
        max-width: 450px; } }
  .gallery .gallery-item.big a {
    max-width: 750px;
    display: block;
    margin: 0 auto;
    position: relative;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 762px) {
      .gallery .gallery-item.big a {
        margin: 0 auto;
        max-width: 450px; } }
  .gallery .button {
    text-align: center;
    max-width: 622px;
    margin: 22px auto;
    margin-left: 0;
    display: block;
    font-size: 25px;
    letter-spacing: 4px;
    background: #c5c4bd;
    /* Landscape phones and down */
    /* Landscape phones and down */ }
    .gallery .button a.border {
      margin: 9px; }
    .gallery .button a {
      padding: 12px 216px;
      display: inline-block;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 1320px) {
        .gallery .button a {
          padding: 1.5% 31%;
          font-size: 20px; } }
    @media only screen and (max-width: 762px) {
      .gallery .button {
        margin: 0;
        font-size: 20px;
        width: 98%;
        margin-right: 2%;
        max-width: 450px; }
        .gallery .button a {
          padding: 2%;
          width: 94%;
          display: inline-block; } }
    @media only screen and (max-width: 762px) {
      .gallery .button {
        margin: 0;
        font-size: 20px;
        width: 100%;
        margin: 0 auto;
        max-width: 450px; }
        .gallery .button a {
          padding: 1%;
          width: 95%;
          display: inline-block; } }
  .gallery .button:hover {
    background: #000000; }

/************************************************************************************
GALLERIES owl
*************************************************************************************/
.carousel-gallery {
  position: relative;
  padding: 25px 0; }
  .carousel-gallery .gallery-item {
    position: relative; }
    .carousel-gallery .gallery-item span {
      position: absolute;
      top: 0;
      text-align: center;
      width: 100%;
      height: 100%;
      opacity: 0.0;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -ms-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
      background: url(../img/icons/hover.png) no-repeat center rgba(234, 106, 0, 0.5);
      cursor: pointer;
      display: none; }
  .carousel-gallery .gallery-item:hover span {
    display: block;
    opacity: 0.8; }

.teaser-gallery {
  position: relative;
  padding: 25px 0; }
  .teaser-gallery .teaser-hover {
    position: absolute;
    top: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    padding: 25%;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    background: #878787;
    color: #000000;
    cursor: pointer;
    display: none; }
    .teaser-gallery .teaser-hover p {
      line-height: 20px;
      font-size: 21px; }
    .teaser-gallery .teaser-hover span {
      display: inline-block;
      font-family: "Montserrat", sans-serif;
      border-top: solid 2px #eee;
      padding-top: 10px;
      margin-top: 15px; }
  .teaser-gallery .teaser-item:hover > .teaser-hover {
    display: block;
    opacity: 0.8; }

/************************************************************************************
MAP
*************************************************************************************/
.map {
  overflow: hidden;
  width: 100%;
  clear: both;
  position: relative; }

.map #map-canvas, .map #map-canvas-homepage {
  width: 100%;
  height: 479px;
  border-bottom: solid 1px #dbdbdb;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 762px) {
    .map #map-canvas, .map #map-canvas-homepage {
      height: 300px; } }

.map-wrapper {
  padding-top: 15px; }

.map-top-shadow {
  position: absolute;
  height: 20px;
  top: 15px;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.3); }

.map-bottom-shadow {
  position: absolute;
  height: 20px;
  bottom: -20px;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.3); }

#map-popup-box {
  display: none; }
  #map-popup-box .map #map-canvas {
    width: 1000px;
    height: 600px; }

.map-tabs {
  /* Landscape phones and down */ }
  @media only screen and (max-width: 762px) {
    .map-tabs {
      display: none; } }

/************************************************************************************
OFFER MODAL
*************************************************************************************/
.modal {
  top: 25% !important;
  text-align: center; }

.modal-body {
  position: relative;
  padding: 20px 60px; }

.modal-body ul li {
  display: list-item;
  list-style-type: disc; }

.modal-header {
  text-align: center; }

.modal-footer {
  padding: 15px;
  text-align: center;
  border: none; }

.modal-footer .btn-default {
  width: 25%;
  background: #878787;
  color: #ffffff; }


  .swiper-wrapper {
    width: 100%;
    height: 86vh;
}
 @media only screen and (max-width: 762px) {
   .swiper-wrapper {
    width: 100%;
    height: 45vh;
}
 }