<?php $this->layout('base', ['page_title'=>$page_title,'page_translation' =>$page_translation,'locale' => $this->e($locale),'regions' => $regions,'theme_assets' => $theme_assets, 'theme_assets_path' => $theme_assets_path,'sliders_assets' => $sliders_assets, 'sliders_path' => $sliders_path,'galleries_assets' => $galleries_assets, 'galleries_path' => $galleries_path,'settings' => $settings]) ?>
<?php $this->start('main-content') ?>
<main>
	<div class="content-padding-xlarge">
		<?php if (isset($regions['slider'])): ?>
			<div class="row slider-wrapper">
			 	  <?php if (isset($regions['slider'])): ?>
				  	    <?php $this->insert('regions/slider', ['region' =>$regions['slider'],'theme_assets_path'=>$theme_assets_path,'sliders_path'=>$sliders_path,'sliders'=>$sliders['pages']]); ?>
				  <?php endif; ?>
				 <a href="#" class="scroll-down">SCROLL</a>
			</div>
		<?php endif; ?>
		<div class="row scroll-section home-section">
			<div class="row main-content title-align-mobile">
				<div class="row top-bottom-padding">
					<h1><?=$page_translation->title;?></h1>
					<div id="accordion">
						<?php if (isset($page_contents)): ?>
							<?php foreach($page_contents as $key => $page_content): ?>
								<div class="row card">
									<?php $this->insert('components/page-content', ['page_content' => $page_content]); ?>
								</div>
					 		<?php endforeach ?>
						<?php endif; ?>
					</div>
				</div>
			</div>
		</div>
	</div>
	<?php if (isset($regions['consulting-services'])): ?>
		<section class="row services-teasers">
			<div class="content-padding-xlarge ">
				<?php $this->insert('regions/consulting-services', ['region' =>$regions['consulting-services']]); ?>
			</div>
		</section>
	<?php endif; ?>
	<?php if (isset($regions['banner-contact'])): ?>
		<?php $this->insert('regions/banner-contact', ['region' =>$regions['banner-contact']]); ?>
	<?php endif; ?>
	<?php if (isset($regions['banner-small'])): ?>
		<?php $this->insert('regions/banner-small', ['region' =>$regions['banner-small']]); ?>
	<?php endif; ?>
	<?php if (isset($regions['banner-large'])): ?>
		<?php $this->insert('regions/banner-large', ['region' =>$regions['banner-large']]); ?>
	<?php endif; ?>
	<?php if (isset($regions['map-static'])): ?>
		<?php $this->insert('regions/map-static', ['region' =>$regions['map-static']]); ?>
		<div class="row top-bottom-padding-large"></div>
	<?php endif; ?>
</main>
<?php $this->stop() ?>