/************************************************************************************
FOOTER
*************************************************************************************/
footer{
	position:relative;
	overflow:hidden;
	text-align:center;
	font-size:14px;
	color:$site-color7;
	font-family:$font-family1;
	@include respond($breakpoint3) {
		height: auto;
		text-align:center;
	}
	background: $site-color9;
	/***********Links***************/
	a:link, a:visited {
		text-decoration: none;
		color:$site-color7;
	}
	a:hover, a:focus {
		text-decoration: none;
		color:$site-color3;
	}
	.top{
		.logo {
		    display: inline-block;
		    padding:0;
		    z-index:1;
		    width: 150px;
		    float: left;
		   	a{
					display: block;
					background: url(../img/logo-footer.png) no-repeat center;
					background-size: 100%;
					height: 150px;   	
		   	}
		    @include respond($breakpoint3) {
		    	width: 100%;
		    	float: none;
		    	a{
		    		margin: 0 auto;
		    		height: 80px;   	
		    		background: url(../img/logo-footer.png) no-repeat center;
		    	}
		    }

		}		
		h3{
			font-size: 20px;
			margin-bottom: 20px;
			letter-spacing: 0;
			color: #444444;
			font-weight: 500;
			font-family:$font-family1;
		}
		font-family:$font-family1;
		/***********Links***************/
		a:link, a:visited {
			text-decoration: none;
			color:$site-color5;
		}
		a:hover, a:focus {
			text-decoration: none;
			color:$site-color2;
		}
		color:$site-color8;
		padding:25px 0;
		text-align:left;
		font-size: 14px;
		overflow: hidden;
		@include respond($breakpoint3) {
			height: auto;
			 text-align:center;
		}
		.connect{
			    @include respond($breakpoint3) {
			    	padding: 10px 0;
			    }
			text-align: center;	
		}
		.follow{
			float: right;
			text-align: right;
		    height: 150px;
		    width: 150px;
			.social-menu{
			    display: inline-block;
			    text-align: right;
				li{
					margin-left: 20px;
					display: inline-block;
					i{
						font-size: 24px;
						color: $site-color7;
					}
					i:hover{
						color: $site-color2;
					}
				}
			}
			@include respond($breakpoint3) {
				float: none;
				width: 50%;
				margin: 0 auto;
				height: auto;
				text-align: center;
				.social-menu{
				    display: inline-block;
				    text-align: center;
					li{
						margin-left: 15px;
						display: inline-block;
						i{
							font-size: 20px;
							color: $site-color7;
						}
						i:hover{
							color: $site-color2;
						}
					}
				}
			}	
		}
		.contact{
			padding: 0  25px;
			    @include respond($breakpoint3) {
			    	padding: 10px 0;
			    }
			.text{
				span{
					font-size: 18px;
					color: $site-color7;
					margin-right: 5px;
				}
				color: $site-color8;
				p{
					font-size: 16px;
					padding: 0;
					padding-bottom: 10px;
					margin: 0;
				}
				a:link, a:visited{
					color: $site-color8;
				}  
				a:hover, a:focus, a.active{
					color:$site-color2;
				} 				
				i{		
					background: none;
					margin-right: 5px;
				}
			}			
		}
		.quick-links-box{
			padding: 0  50px;
			h3{
				padding-left: 20px;
			}
			@include respond($breakpoint3) {
				float: none;
				text-align: center;
				h3::after{
					margin: 0 auto;
					top:10px;		
				}
				padding:10px 0;
			}
		  	nav.quick-menu{
		      overflow:hidden;
		    	ul{
		    		li{
					    font-size: 18px;
					    line-height: 24px;
					    display:block;
					    padding:0px;
					    padding-bottom:0px;
					    color: $site-color7;
					    span{
					    	font-size: 16px;
					   		display:block;
					   		color: $site-color8;
					   		padding-left: 20px;
					    }
						a:link, a:visited{
							color: $site-color7;
						}  
						a:hover, a:focus, a.active{
							color:$site-color2;
						}    		
		    		}
		    		li::before{
						content:"";
						width:8px;
						height:16px;
						display:inline-block;
		    			color: $site-color2;
		    			margin-right: 10px;
		    			margin-bottom: -3px;
		    			background: url(../img/icons/arrow.png) no-repeat center;
		    		}
		    	}
		  }	
		}
	}
	.bottom{
		border-top: solid 2px $site-color7;
		/***********Links***************/
		a:link, a:visited {
			text-decoration: none;
			color:$site-color1;
		}
		a:hover, a:focus {
			text-decoration: none;
			color:$site-color1;
		}
		color: $site-color8;
		font-size: 14px;
		padding:15px 0;
		font-weight:100;
		font-family:$font-family3;
		.copy p{
			float:left;
		}
		.created p{
			float:right;
		}
		@include respond($breakpoint4) {
			.copy p{
				float:none;
			}
			.created p{
				float:none;
			}
		}
		.created a{
			font-weight: bold;
			color: #313131;
		}
		.created a:hover, .created a:focus{
			font-weight: bold;
			color: $site-color2;
		}
	}
}
