/************************************************************************************
HEADER
*************************************************************************************/
header{
	transition: all 250ms ease-in;
	position: fixed;
	width:100%;
	z-index:999;
    background: rgba(0, 0, 0, 0.15);
    @include respond($breakpoint2) {
    	background: rgba(74, 126, 165, 0.9);
    	position: relative;
    }
    @include respond($breakpoint3) {
    	height: 66px;
    }
    height: 100px;
	.logo {
	    display: inline-block;
	    padding:5px 0;
	    z-index:1;
	   	a{
				display: block;
				background: url(../img/logo.png) no-repeat left;
				height: 80px;   	
	   	}
	   	  @include respond($breakpoint2) {
		   	a{
			    display: block;
			    width: 100px;
			    margin-left: 5%;
			    background: url(../img/logo.png) no-repeat top;
			    background-size: 80%;
			    height: 55px;
 	
		   	}	   	  
	   	  }
	}
    .navigation{
    	font-family:$font-family1;
    	font-weight: 400;
	    position: relative;
	    color:$site-color5;
	    font-size: 16px;
	    padding:36px 0;
        ul{
        	display: flex;
        	flex-direction: row;
        	justify-content: space-between;
        	align-items: center;
        	padding-right: 50px;
        	@include respond($breakpoint2) {
        		display: block; 
        		padding-right: 0px;
        		text-align: center;
        	}
        	li{
				a:link, a:visited{
					color:$site-color7;
					padding: 10px 0;
					padding-bottom: 38px;
				}
				a:hover, a:focus{
					border-bottom: solid 3px $site-color1;
				}
				a.active{
					border-bottom: solid 3px $site-color1;
        		}
			    @include respond($breakpoint2) {
				    padding: 25px 0;
				    width: 100%;
				    display: inline-block;
				    text-align: center;
				    font-size: 16px;
				    z-index: 1;
				    a:link, a:visited {
				    	padding-bottom: 18px;
				    }
		  		}
        	}
        }
   		@include respond($breakpoint2) {
			position: absolute;
			right: 0;
			margin: 0;
			left: 0;
			top: 61px;
			padding-top: 0;
			padding-right: 0px;
			padding-left: 0px;
			width: 100%;
			z-index: 1;
   		}
   		.menu{
   			@include respond($breakpoint2) {
			    position: relative;
			    top: 5px;
			    margin:0px;
			    width: 100%;
			    background: rgba(74, 126, 165, 0.9);
			    display: none;
			    padding: 25px 0;
   			}
   		}
    }
    .book-now{
	    background: rgba(255, 255, 255, 0.5);
	    height: 100px;
	    display: flex;
	    flex-direction: row;
	    justify-content: center;
	    align-items: center;
	    font-size: 16px;
	    font-weight: 500;
	    padding: 0 20px;
	    text-align: center;
	    font-family:$font-family1;
	    a{
	    	color: $site-color7;
	    }
	    @include respond($breakpoint2) {
	    	position: absolute;
	    	right: 8%;
			height: 66px;
			display: flex;
				    flex-direction: row;
				    justify-content: center;
				    align-items: center;
				    font-size: 15px;
				    padding: 0 20px;
	    }
    }
    .book-now:hover{
    	background: rgba(0, 0, 0, 0.5);
    }
    #dropdown{
    	display:none;
		cursor: pointer;
		font-size: 15px;
		position: absolute;
		right: 2.5%;
		top: -45px;
    	color:$site-color7;
    	z-index: 10;
	    @include respond($breakpoint2) {
		    display:block;
		    color:$site-color7;
  		}
    }
     #dropdown.active{
     	color: $site-color7;
     
     }
}
header.sticky{
	padding-top:0px;
	background: rgba(74, 126, 165, 0.9);
}