/* ==========================================================================
   main styling
   ========================================================================== */
main{
  position: relative;
  clear: both;
  overflow: hidden;
  font-size:15px;
  color:$site-color8;
  font-weight: 400;
  .main-content{
   @include respond($breakpoint3) {
   	text-align: center;
   }
  	padding:20px 0;
		h2{
			display: block;
			margin: 0 auto;
			font-weight: 500;
			color: $site-color8;
			span{
				color: $site-color2;
			}
		}	
  	p{
  		padding:10px 0;
  	}
   	ul{
   		li{
		    font-size: 14px;
		    display:block;
		    padding:0px;
		    padding-bottom:0px;
		    color:$site-color8;
		    span{
		   		display:block;
		   		color: $site-color8;
		   		padding-left: 20px;
		    }
			a:link, a:visited{
				color: $site-color2;
			}  
			a:hover, a:focus, a.active{
				color:$site-color2;
			}    		
   		}
   		li::before{
			content:"";
			width:8px;
			height:16px;
			display:inline-block;
   			color: $site-color2;
   			margin-right: 10px;
   			margin-bottom: -3px;
   			background: url(../img/icons/arrow.png) no-repeat center;
   		}
   	}
	strong{
		font-weight:600;
	}
  }

	.services-section{
		h2{
		    margin-right: 30px;
		    color: $site-color7;
		}
		@include respond($breakpoint3) {
			h2{
			    margin-right: 0;
			}
			text-align: center;
			.boxes{
				margin: 25px 0;
			}
		}
	  	p{
	  		padding: 0;
	  		font-size: 14px;
	  		font-weight: 500;
	  		color: $site-color7;
	  	}
		.button2{

		    a{
		   	 	padding: 8px 24px;
				display: inline-block;
		    }
		    a:link, a:visited{
		      	color:$site-color7;
		    }
		    a:hover{
		      	color:$site-color7;
		    }
		}
	}
}
