/* ==========================================================================
   sections styling
   ========================================================================== */
section.accommodation-teasers{
	h2{
		color: $site-color10;
		font-family: $font-family1;
		font-weight: 400;
		letter-spacing: 0;
		font-size: 32px;
		line-height: 32px;
		@include respond($breakpoint3) {
			font-size: 26px;
			line-height: 26px;
			text-align: center;
		}
	}
	.teaser{
		padding:60px 0;
		@include respond($breakpoint3) {
			padding:25px 0;
		}
		.box{
			margin-top:30px;
		}

		h3{
			font-weight: 400;
			font-size:24px;
			a{
				color: $site-color8;
			}
			a:hover{
				color: $site-color2;
			}
		}
		overflow:hidden;
		position:relative;
		.image{
			position:absolute;
			top:-24px;
			@include respond($breakpoint3) {
				position:relative;
				width:100%;
			}
		}
		.image.right{
			right:-22px;
		}
		.image.left{
			left:-24px;
		}
		@include respond($breakpoint3) {
			.image.right{
				right:0px;
			}
			.image.left{
				left:0px;
			}		
		}
		.special-text1{
			.icons{
				margin: 10px 0;
				padding:10px 0;
				width:100%;
				height: 145px;
				.icons-row{
				    display: flex;
				    flex-direction: row;
				    align-items: center;
				    justify-content: space-around;
				    padding: 5px 0;
				     @include respond($breakpoint5) {
						display: inline-block;
						    text-align: left;
						    margin: 0 auto;
				     }
				    span{
				    	color: $site-color7;
				    	position: absolute;
				    	top: 35px;
				    	left: 0;
				    	width: 100%;
				    	text-align: center;
				    }
				}
			}
			font-size: 14px;
		    min-height: 420px;
		    min-width: 400px;
			padding-top:15px;
			padding-bottom:15px;
			position: relative;
			float: left;
			p{
				padding: 10px 0;
				padding-right: 25px;
			}
			@include respond($breakpoint3) {
				width:100%;
				min-width: initial;
			}
			.wrapper{
				padding-left: 25px;
			}
			.button, .button2{
				font-weight:400;
			    position: absolute;
			    bottom: 15px;
			    left: 25px;
			    right: auto;
			}	
		   @include respond($breakpoint3) {
		   		float: none;
				.wrapper{
					padding: 0;
				}
				text-align: center;
				.button, .button2{
				    position: relative;
				    margin: 15px auto;
				    left: auto;
				    right: auto;
				}			   
		   }		
		}
		.special-text1.right{
			float:right;
			padding-right:0px;
			padding-left:0px;
			text-align:right;
			p{
				padding-left: 25px;
				padding-right: 0;
			}
			@include respond($breakpoint3) {
				padding-left:0px;
				width:100%;
			}
			.wrapper{
				padding-left: 0;
				padding-right: 25px;
			}
			.button, .button2{
				font-weight:400;
			    position: absolute;
			    bottom: 15px;
			    right: 25px;
			    left: auto;
			}
		   @include respond($breakpoint3) {
		   		float: none;
				.wrapper{
					padding: 0;
				}
				text-align: center;
				.button, .button2{
					font-weight:400;
				    position: relative;
				    margin: 15px auto;
				    left: auto;
				    right: auto;
				}			   
		   }
		}
	}
}
section.accommodation{
	.icons{
		margin: 10px 0;
		padding:10px 0;
		width:100%;
		.icons-row{
			width:80%;
			@include respond($breakpoint3) {
				width:100%;
				height: auto;
				    text-align: center!important;
			}
			height: 100px;
		    display: flex;
		    flex-direction: row;
		    align-items: center;
		    margin: 0 auto;
		    justify-content: space-evenly;
		    padding: 5px 0;
		     @include respond($breakpoint5) {
				display: inline-block;
				    text-align: left;
				    margin: 0 auto;
		     }
		    span{
		    	color: $site-color7;
		    	position: absolute;
		    	top: 30px;
		    	left: 0;
		    	width: 100%;
		    	text-align: center;
		    }
		}
	}
		
}
section.sightseeing-teasers{
	h2{
		color: $site-color8;
		font-family: $font-family1;
		font-weight: 500;
		letter-spacing: 2px;
		font-size: 22px;
	}
	.teaser{
		padding:60px 0;
		@include respond($breakpoint3) {
			padding:25px 0;
		}
		.box{
			margin-top:30px;
		}
		h3{
			font-size:22px;
		}
		overflow:hidden;
		position:relative;
		.image{
			position:absolute;
			top:-24px;
			@include respond($breakpoint3) {
				position:relative;
				width:100%;
			}
		}
		.image.right{
			right:-24px;
		}
		.image.left{
			left:-24px;
		}
		@include respond($breakpoint3) {
			.image.right{
				right:0px;
			}
			.image.left{
				left:0px;
			}		
		}
		.special-text1{
			.icons{
				margin: 10px 0;
				padding:10px 0;
				width:100%;
				height: 125px;
				.icons-row{
				    display: flex;
				    flex-direction: row;
				    align-items: center;
				    justify-content: space-around;
				    padding: 5px 0;
				     @include respond($breakpoint5) {
						display: inline-block;
						    text-align: left;
						    margin: 0 auto;
				     }
				    span{
				    	color: $site-color7;
				    	position: absolute;
				    	top: 30px;
				    	left: 0;
				    	width: 100%;
				    	text-align: center;
				    }
				}
			}
			font-size: 15px;
		    min-height: 380px;
		    min-width: 400px;
		    font-weight: 400;
			padding-top:15px;
			padding-bottom:15px;
			position: relative;
			float: left;
			p{
				padding-right: 25px;
			}
			@include respond($breakpoint3) {
				width:100%;
				min-width: initial;
			}
			.wrapper{
				padding-left: 25px;
			}
			.button, .button2{
			    position: absolute;
			    bottom: 15px;
			    left: 25px;
			    right: auto;
			}	
		   @include respond($breakpoint3) {
		   		float: none;
				.wrapper{
					padding: 0;
				}
				text-align: center;
				.button, .button2{
				    position: relative;
				    margin: 15px auto;
				    left: auto;
				    right: auto;
				}			   
		   }		
		}
		.special-text1.right{
			float:right;
			padding-right:0px;
			padding-left:0px;
			text-align:right;
			p{
				padding-left: 25px;
				padding-right: 0;
			}
			@include respond($breakpoint3) {
				padding-left:0px;
				width:100%;
			}
			.wrapper{
				padding-left: 0;
				padding-right: 25px;
			}
			.button, .button2{
			    position: absolute;
			    bottom: 15px;
			    right: 25px;
			    left: auto;
			}
		   @include respond($breakpoint3) {
		   		float: none;
				.wrapper{
					padding: 0;
				}
				text-align: center;
				.button, .button2{
				    position: relative;
				    margin: 15px auto;
				    left: auto;
				    right: auto;
				}			   
		   }
		}
	}
}
section.contact{
	.main-content{
		margin: 25px 0;
		background: #eaeaea;
		.info{
			padding-left: 35px;
			i{
				color: $site-color2;
				margin-right: 10px;
				font-size: 20px;
			}
			.text{
				margin-top: 25px;
				p{
					padding: 10px 0;
				}
			}		
		}

	}
}
section.accommodation-links{
	padding: 50px 0;
	.boxes{
		background: #ececed;
		.wrapper{
			display:flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-evenly;	
			width: 100%;
			.box{
				font-size: 16px;
				width: 150px;
				height: 150px;
				a{
				    padding: 15px;
				    display: flex;
				    flex-direction: row;
				    justify-content: center;
				    height: 100%;
				    align-items: center;
				    border: solid 1px $site-color2;	
				}
				a:hover{
					color: $site-color7;
				}				
			}
			.box:hover a{
				color: $site-color7;
				border: solid 1px $site-color7;	
			}
		}


	}

	.main-content{
		margin: 25px 0;
		background: #eaeaea;
		.info{
			padding-left: 35px;
			i{
				color: $site-color2;
				margin-right: 10px;
				font-size: 20px;
			}
			.text{
				margin-top: 25px;
				p{
					padding: 10px 0;
				}
			}		
		}

	}
}
section.services{
	.service-box{
		border: solid 3px $site-color2;
		padding: 25px;
		margin: 25px auto;
		min-height: 700px;
		.page1{
		    padding-right: 30px;
    		border-right: solid 4px #eaeaea;
    		height: 100%;
		}
		.page2{
			text-align: right;
    		padding-left: 30px;
    		background: url(../img/logo-bg.png) no-repeat center 400px;
    		min-height: 640px;
		}
		@include respond($breakpoint3) {
			min-height: initial;
			text-align: center;
			.page1{
			    padding-right: 0;
	    		border: none;
	    		height: 100%;
			}
			.page2{
				text-align: center;
	    		padding-left: 0;
	    		background: url(../img/logo-bg.png) no-repeat center center;
	    		min-height: initial;
			}
					
		}
		ul{
			li{
				margin: 10px 0;
			}
	   		li::before{
				content:"";
				width:8px;
				height:16px;
				display:inline-block;
	   			color: $site-color2;
	   			margin-right: 10px;
	   			margin-bottom: -3px;
	   			background: url(../img/icons/arrow2.png) no-repeat center;
	   		}
		}
		p{
			font-size: 14px;
			line-height: 16px;
			font-weight: 500;
			padding-bottom: 15px;
		}
		h3{
			font-size: 14px;
			font-weight: 600;
			font-family: $font-family1;
			color: $site-color8;
			margin-bottom: 0;
		}
		.service1{
		    background: url(../img/icons/service1.png) no-repeat left;
		    padding-left: 35px;
		    padding-bottom: 0;
		}
		.service2{
		    background: url(../img/icons/service2.png) no-repeat left;
		    padding-left: 35px;
		    padding-bottom: 0;
		}
		.service3{
		    background: url(../img/icons/service3.png) no-repeat left;
		    padding-left: 35px;
		    padding-bottom: 0;
		}
		.service4{
		    background: url(../img/icons/service4.png) no-repeat left;
		    padding-left: 35px;
		    padding-bottom: 0;
		}
		.service5{
		    background: url(../img/icons/service5.png) no-repeat left;
		    padding-left: 35px;
		    padding-bottom: 0;
		}
		.service6{
		    background: url(../img/icons/service6.png) no-repeat left;
		    padding-left: 35px;
		    padding-bottom: 0;
		}
		.service7{
		    background: url(../img/icons/service7.png) no-repeat left;
		    padding-left: 35px;
		    padding-bottom: 0;
		}		
		.service8{
		    background: url(../img/icons/service8.png) no-repeat left;
		    padding-left: 35px;
		    padding-bottom: 0;
		}		
		
		.edge1{
		    position: absolute;
		    right: 0;
		    top: 0;
		}
		.edge2{
		    position: absolute;
		    left: 0;
		    top: 0;
		}
	}
}