/************************************************************************************
AUTHOR: Adonis Dimas for www.sitebook.gr 
YEAR: 2013-2014
Secondary stylesheet: Style.css
Distributed under GPL licence
*************************************************************************************/
@media screen and (min-width: 861px) {
	/* ensure #nav is visible on desktop version */
	header .menu .inline {
		display: block!important;
	}
}
/***********************************************************************************************************************************************
TABLET STYLING
************************************************************************************************************************************************/
@media screen and (max-width: 860px) {
header{
	height:90px;
}	
header .logo img{
	width:100%;
}
header .menu {
	width: 100%;
	padding: 0px;
	margin-bottom:30px;
	text-align: center;
	position: relative;
}
header .menu .inline {
	display:none;
	background-color: #eee;
	z-index: 100;
}
header .menu ul li{
	padding-right:0px;
	float: left;
	text-align: center;
	width: 50%;
}
header .menu ul li a{
	border: thin solid #CCC;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
header .menu li a {
	line-height: 35px;
}
header #dropmenu{
	display:block;
	cursor: pointer;
	font-size: 1.45em;
    height: 35px;
	border: thin solid #CCC;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
header #dropmenu:hover {
    background-color: #356AA0;
	color: #FFF;
}

header #dropmenu.active {
	cursor: pointer;
    font-size: 1.45em;
    height: 35px;
	PADDING-bottom: 5px;
	border: thin solid #CCC;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.content .featured {
	padding-right:0px;
	padding-left:0px;
}
.content .featured .col ul li{
	width:14%;
	padding-right:3%;
}
.content .featured .col ul li:nth-of-type(6n+6) {
		padding-right: 0px;
}
.content .category {
	padding-right:0px;
	padding-left:0px;
}
.content .category .col ul li{
	width:22%;
	padding-right:4%;
}
.content .category .col ul li:nth-of-type(4n+4) {
		padding-right: 0px;
}
.content .category .col ul li:nth-of-type(6n+1) {
	clear:none;
}
.content .category .col ul li:nth-of-type(4n+1) {
	clear:both;
}
.category .col ul li a img{
	max-width: 95%;
}

.content .carousel ul li {
	float: left;
	padding-right: 65px;
	
}
footer .footnotes .footer_menu{
	top:10px;
	width:62%;
	
}
footer .footnotes .copyleft{
	padding-left:0px;
	
}
footer .footnotes .powered li img{
width:65px;
height:65px;
}
footer .footnotes .powered{
	float:left;
	top:5px;
	bottom:5px;
}
}

/***********************************************************************************************************************************************
END TABLET STYLING
************************************************************************************************************************************************/


/***********************************************************************************************************************************************
MOBILE STYLING
************************************************************************************************************************************************/
@media screen and (max-width: 500px) {

header{
	height:70px;
}		
header .logo{
right: 5px;
width: 210px;
}
header .social_icons{
position: relative;
top: 0px;
}
header .social_icons li{
    padding-right:0px;	

}
header .social_icons li img {
	width:25px;
	height:25px;
}
.content .featured .col ul li{
	width:22%;
}

.content .featured .col ul li:nth-of-type(6n+6) {
	padding-right: 3%;
}
.content .featured .col ul li:nth-of-type(4n+4) {
	padding-right: 0px;
}
.content .category .col ul li{
	width:40%;
	padding-right:20%;
}

.content .category .col ul li:nth-of-type(4n+4) {
	padding-right: 4%;
}
.content .category .col ul li:nth-of-type(2n+2) {
	padding-right: 0px;
}
.content .carousel ul li {
	float: none;
	max-width:280px	
}
.content .carousel ul li a img{
	width:280px	
}
footer .footnotes .footer_menu{
	top:15px;
	width:50%;	
}
footer .footnotes .footer_menu li{
    display:block;	
}
	
footer .footnotes .powered {
	display:none;
}
}
/***********************************************************************************************************************************************
END MOBILE STYLING
************************************************************************************************************************************************/


/***********************************************************************************************************************************************
MOBILE STYLING SMALL
************************************************************************************************************************************************/
@media screen and (max-width: 350px) {
	
h1{
font-size:1.5em;
}
header .menu{
 top:5px;	
}
header .menu ul li{
	
	width: 100%;
}
header .social_icons{
	display:none;
}header .logo{
	bottom: 18%;
	width: 112%;
	float: none;
	right: 5%;
}


.content .featured .col ul li{
	width:45%;
	padding-right:8%;
}
.content .featured .col ul li:nth-of-type(2n) {
		padding-right: 0px;
}
.content .category .col ul li{
	width:100%;
	padding-right:0px;
}
.content .category .col ul li img{
	width:95%;
	height:auto;

}
.content .carousel ul li {
	padding-right:0px;
	max-width:200px;
}
.content .carousel ul li a img{
	max-width:200px;
}
footer .footnotes .footer_menu{
	
	width: 100%;
	font-size: 1.1em;
	text-align: center;
	padding-right: 0px;
	padding-left: 3%;
	top: 5px;

}
footer .footnotes .copyleft{
	display:none;
}
}
/***********************************************************************************************************************************************
MOBILE STYLING SMALL STYLING
************************************************************************************************************************************************/
