@CHARSET "UTF-8";
/* ==========================================================================
   Cross-browser RESET
   ========================================================================== */
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, figure, legend, fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

img {
  height: auto;
  border: none;
  /* ie8 */
  display: block;
  /* fix the img bottom margin default  */
  max-width: 100%;
  margin: 0 auto; }

a img {
  border: none; }

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

.bx-wrapper {
  margin: 0 auto; }

.bx-wrapper .bx-viewport {
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  left: 0px; }
  .bx-wrapper .bx-viewport li {
    padding: 0px; }

/* ==========================================================================
   Bootstrap reset
   ========================================================================== */
.row {
  margin: 0px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px; }

.nav-tabs {
  font-weight: 500;
  border: none;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .nav-tabs > li {
    margin-right: 15px;
    border-right: solid 1px #000;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 4px; }
    .nav-tabs > li a {
      cursor: pointer;
      color: #1e1e1e; }
  .nav-tabs > li:last-child {
    border: none; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover {
  border: none;
  background: none;
  outline: none;
  color: #a4864d; }

.nav-tabs > li > a:hover, .nav-tabs > li > a {
  border: none;
  background: none;
  margin: 0; }

/**
 * Responsive mixin. The media breakpoints are as defined
 * in the twitter bootstrap framework:
 *
 * - phone
 * - tablet-portrait
 * - tablet-landscape-desktop
 * - large-desktop
 *
 * Additional parameters for tagetting retina and non-retina
 * devices
 *
 * - retina
 * - non-retina
 *
 * Moreover, a specific value in px can be passed which is
 * used to generate a max-width media query.
 */
/* ==========================================================================
   General
   ========================================================================== */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  -webkit-text-size-adjust: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  overflow-x: hidden;
  position: relative;
  margin: 0 auto;
  color: #231a0e;
  background: #ffffff;
  overflow-x: hidden;
  position: relative; }

.content-width-outer {
  margin: 0 auto;
  max-width: 1500px;
  position: relative; }

.content-width {
  margin: 0 auto;
  max-width: 1200px;
  position: relative; }

.content-width-inner {
  margin: 0 auto;
  max-width: 1160px;
  position: relative;
  padding: 0 7px; }

.content-padding {
  padding: 0px 15px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1200px) {
    .content-padding {
      padding: 0px 15px; } }

.top-padding {
  padding-top: 75px; }

.top-bottom-padding-large {
  padding: 30px 0;
  overflow: hidden;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1200px) {
    .top-bottom-padding-large {
      padding: 15px 0; } }

.top-bottom-padding {
  padding: 20px 0;
  overflow: hidden;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1200px) {
    .top-bottom-padding {
      padding: 5px 0; } }

.top-bottom-padding-small {
  padding: 7px 0;
  overflow: hidden; }

.side-padding {
  padding: 0 20px; }

.side-padding-large {
  padding: 0 30px; }

.left-padding {
  padding-left: 20px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1204px) {
    .left-padding {
      padding: 0; } }

.right-padding {
  padding-right: 20px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1204px) {
    .right-padding {
      padding: 0; } }

.right-padding-large {
  padding-right: 30px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1204px) {
    .right-padding-large {
      padding: 0; } }

.left-padding-large {
  padding-left: 30px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1204px) {
    .left-padding-large {
      padding: 0; } }

.no-padding {
  padding: 0px; }

.top-bottom-margin {
  margin: 20px 0; }

.side-margin {
  margin: 0 20px; }

.left-margin {
  margin-left: 20px; }

.right-margin {
  margin-right: 20px; }

.no-margin {
  margin: 0px; }

hr {
  border-color: #c39e3a; }

h1 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: #c39e3a;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  /* Landscape phones and down */
  z-index: 1;
  overflow: hidden;
  text-align: left;
  display: inline-block;
  padding: 10px 0; }
  @media only screen and (max-width: 992px) {
    h1 {
      text-align: center;
      font-size: 26px; } }
  h1 span {
    color: #a4864d; }

h2 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: #c39e3a;
  font-size: 28px;
  /* Landscape phones and down */
  letter-spacing: 2px;
  font-weight: 500;
  padding: 15px 0; }
  @media only screen and (max-width: 992px) {
    h2 {
        text-align: center;
      font-size: 24px; } }

h3 {
  color: #c39e3a;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  /* Landscape phones and down */
  padding: 8px 0;
  font-weight: 500; }
  @media only screen and (max-width: 992px) {
    h3 {
        text-align: center;
      font-size: 15px; } }
  h3 span {
    color: #c39e3a;
    font-size: 30px;
    padding: 15px 0;
    font-weight: 500;
    display: block; }

h4 {
  color: #ffffff;
  font-size: 18px;
  padding: 5px 0; }
  h4 span {
    color: #a4864d; }

strong {
  font-weight: bold; }
  strong span {
    color: #c39e3a; }

ul {
  padding: 0;
  display: inline; }

p {
  padding: 5px 0; }

/*****Element/tag selectors********/
li, ol, dl {
  padding: 5px 0;
  list-style-type: none;
  display: inline; }

li.last, ol.last, dl.last {
  padding: 0px; }

/***********Links***************/
a:link, a:visited {
  text-decoration: none;
  color: #231a0e; }

a:hover, a:focus {
  text-decoration: none;
  color: #5d5d5d; }

/************************************************************************************
HELPER CLASSES
*************************************************************************************/
.clear {
  clear: both; }

.hidden {
  display: none !important;
  visibility: hidden; }

.img-responsive {
  width: 100%; }

.center-align {
  text-align: center; }

.right-align {
  text-align: right;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1204px) {
    .right-align {
      text-align: center; } }

.left-align {
  text-align: left;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1204px) {
    .left-align {
      text-align: center; } }

.right {
  float: right; }

.left {
  float: right; }

.clear {
  clear: both; }

.sticky, .fixed {
  position: fixed !important;
  top: 0px !important;
  z-index: 999 !important;
  background: #ffffff; }

.pattern {
  background: url(../img/pattern.png) repeat center; }

.check {
  width: 46px;
  height: 46px;
  margin: 0 auto;
  display: inline-block;
  background: url(../img/icons/check.png) repeat center; }

.stretched {
  letter-spacing: 2px; }

.border-bottom {
  border-bottom: solid 1px #231a0e; }

.highlight {
  color: #c39e3a; }

.highlight-text {
  color: #231a0e;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1204px) {
    .highlight-text {
      font-size: 18px; } }

.background-color1 {
  background: #231a0e; }

.background-color2 {
  background: #c39e3a; }

.background-color3 {
  background: #a4864d; }

.background-color4 {
  background: #231a0e; }

.background-color5 {
  background: #e6e6e6; }

.background-color6 {
  background: #d7d7d8; }

.background-color7 {
  background: #ffffff; }

.background-color8 {
  background: #1e1e1e; }

.background-color9 {
  background: #4a7ea5; }

.background-color10 {
  background: #626d76; }

.image-border {
  border: solid 2px #ffffff;
  max-width: 777px;
    width: 94%;
    height: 92%;
  right: 0;
  position: absolute;
  left: 0;
  top: 4%;
  margin: 0 auto;
  text-indent: -9999px; }

.image-border:hover {
  background: url(../img/icons/hover2.png) no-repeat center;
  background-color: rgba(131, 131, 31, 0.5); }

.right-line-big::after {
  content: "";
  width: 100%;
  display: inline-block;
  height: 15px;
  left: 25%;
  right: 0px;
  border-bottom: solid 2px #c39e3a;
  text-align: center;
  position: absolute;
  top: 22px;
  float: right;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1204px) {
    .right-line-big::after {
      display: none; } }

.right-line-big {
  display: block;
  font-style: italic;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1204px) {
    .right-line-big {
      text-align: center; } }

.left-line, .right-line {
  display: inline-block; }

.left-line::before {
  content: "";
  width: 60px;
  display: inline-block;
  height: 15px;
  left: -15px;
  right: 0px;
  border-bottom: solid 2px #c39e3a;
  text-align: center;
  position: relative;
  right: 0;
  top: -8px; }

.right-line::after {
  content: "";
  width: 60px;
  display: inline-block;
  height: 15px;
  left: 15px;
  right: 0px;
  border-bottom: solid 2px #c39e3a;
  text-align: center;
  position: relative;
  top: -8px; }

.decor::before {
  content: "";
  width: 130px;
  display: inline-block;
  height: 45px;
  left: -25px;
  background: url(../img/icons/decor-left.png) no-repeat center;
  text-align: center;
  position: relative;
  right: 0;
  top: 5px; }

.decor::after {
  content: "";
  width: 130px;
  display: inline-block;
  height: 45px;
  right: -25px;
  background: url(../img/icons/decor-right.png) no-repeat center;
  text-align: center;
  position: relative;
  top: 5px; }
@media only screen and (max-width: 1200px) {
  .decor::before {
    display: none; }

  .decor::after {
    display: none; }
}
.scrollToTop {
  width: 60px;
  height: 60px;
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 18px;
  padding: 20px;
  background: #231a0e;
  color: #c39e3a;
  z-index: 999; }

a.scrollToTop:link, a.scrollToTop:visited {
  color: #c39e3a; }

.stars1 {
  display: inline-block;
  height: 65px;
  width: 100%;
  background: url(../img/icons/stars.png) no-repeat center;
  text-align: center;
  margin: 0 auto;
  position: relative;
  right: 0;
  left: 0px;
  bottom: 0; }

.overlay {
  background: rgba(48, 55, 122, 0.85); }

.line1 {
  display: inline-block;
  height: 10px;
  width: 100%;
  background: url(../img/bg-line.png) no-repeat left bottom;
  text-align: center;
  margin: 0 auto;
  position: relative;
  right: 0;
  top: 12px; }

.line2 {
  display: inline-block;
  height: 10px;
  width: 100%;
  background: url(../img/bg-line.png) no-repeat left bottom;
  text-align: center;
  margin: 0 auto;
  position: relative;
  right: 0;
  top: -12px; }

.stars2 {
  display: inline-block;
  height: 50px;
  background: url(../img/icons/stars2.png) no-repeat center;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  right: 0;
  left: 0px;
  bottom: 25px; }

/************************************************************************************
BUTTONS
*************************************************************************************/
.button2 {
    font-family: "Montserrat", sans-serif;

  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 400;
  display: inline-block;
  background: #c39e3a;
  position: relative;
  margin: 5px; }
  .button2 a {
    padding: 8px 24px;
    display: inline-block; }
  .button2 a:link, .button2 a:visited {
    color: #ffffff; }
  .button2 a:hover {
    color: #ffffff; }
  .button2 a.border {
    border: solid 1px #ffffff;
    margin: 5px; }

.button2:hover {
  background: #231a0e;
  color: #ffffff; }

.button2:hover a {
  color: #ffffff; }

.button {
   font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  display: inline-block;
  background: #231a0e;
  position: relative;
  margin: 5px; }
  .button a {
    padding: 8px 24px;
    display: inline-block; }
  .button a:link, .button a:visited {
    color: #ffffff; }
  .button a:hover {
    color: #ffffff; }
  .button a.border {
    border: solid 1px #ffffff;
    margin: 5px; }

.button:hover {
  background: #c39e3a;
  color: #ffffff; }

.button:hover a {
  color: #ffffff; }

/************************************************************************************
HICHLIGHTS
*************************************************************************************/
.hightlight1 {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/icons/highlight1.png) no-repeat center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.hightlight2 {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/icons/highlight2.png) no-repeat center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.hightlight3 {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/icons/highlight3.png) no-repeat center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.hightlight4 {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/icons/highlight4.png) no-repeat center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.hightlight5 {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/icons/highlight5.png) no-repeat center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.hightlight6 {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/icons/highlight6.png) no-repeat center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

/************************************************************************************
INFO ICONS
*************************************************************************************/
.info-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px 0; }

.info1 {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url(../img/icons/info1.png) repeat 0px;
  padding-left: 15px;
  padding-right: 15px; }

.info2 {
  display: inline-block;
  width: 90px;
  height: 26px;
  background: url(../img/icons/info2.png) repeat center;
  text-indent: -9999px;
  margin-top: 5px; }

.info3 {
  display: inline-block;
  width: 40px;
  height: 30px;
  background: url(../img/icons/info3.png) repeat center;
  text-indent: -9999px; }

.info4 {
  display: inline-block;
  width: 40px;
  height: 30px;
  background: url(../img/icons/info4.png) repeat center;
  text-indent: -9999px; }

.info5 {
  display: inline-block;
  width: 40px;
  height: 30px;
  background: url(../img/icons/info5.png) repeat center;
  text-indent: -9999px; }

.people {
  display: inline-block;
  width: 100px;
  height: 35px;
  background: url(../img/icons/people.png) no-repeat right;
  padding-top: 10px;
  padding-right: 20px;
  position: absolute;
  right: 25px;
  text-align: right;
  font-size: 18px;
  color: #c39e3a;
  top: 90px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .people {
      position: relative;
      top: 0;
      text-align: center;
      padding: 10px 0;
      font-size: 16px;
      right: 0px;
      padding-right: 25px; } }

.line {
  display: block;
  width: 100%;
  height: 35px;
  background: url(../img/icons/line.png) no-repeat left; }

/************************************************************************************
BOXES
*************************************************************************************/
.location-box {
  position: absolute;
  bottom: 100px;
  width: 400px;
  height: 315px;
  left: 5%;
  color: #1e1e1e;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 762px) {
    .location-box {
      display: none; } }
  .location-box h3 {
    font-size: 18px;
    font-weight: 500;
font-family: "Montserrat", sans-serif;
    letter-spacing: 4px;
    color: #a4864d; }
  .location-box ul {
    display: block;
    color: #1e1e1e;
    font-size: 20px;
    padding: 20px 0;
    letter-spacing: 4px; }
    .location-box ul li {
      display: block;
      height: 30px; }
      .location-box ul li span {
        padding: 0;
        color: #a4864d; }
  .location-box .contents {
    background: #f0f7f7;
    margin: 15px;
    padding: 15px;
    border: solid 1px #c39e3a;
    text-align: center;
height: 285px; }
  .location-box p {
    color: #1e1e1e;
    font-size: 20px;
    padding: 20px 0; }
  .location-box span {
    font-size: 16px;
    display: inline-block;
    padding: 15px 0; }

/************************************************************************************
TOOLTIP BOX
*************************************************************************************/
div:hover > .tooltip {
  height: 165px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  left: 50%;
  position: absolute;
  top: -110%; }

.tooltip {
  font-size: 15px;
  line-height: 18px;
  -webkit-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  transform-origin: bottom center;
  bottom: 0;
  left: 50%;
  position: absolute;
  margin-left: -120px;
  top: -100%; }

.tooltip {
  -webkit-transition: height 0.2s ease-in-out,opacity 0.2s ease-in-out,transform 0.2s ease-in-out;
  -ms-transition: height 0.2s ease-in-out,opacity 0.2s ease-in-out,transform 0.2s ease-in-out;
  transition: height 0.2s ease-in-out,opacity 0.2s ease-in-out,transform 0.2s ease-in-out;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  width: 65%;
  height: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  bottom: 0;
  opacity: 0; }
  .tooltip .tooltip-inner {
    position: absolute;
    left: 0;
    display: block;
    background: #c39e3a;
    border-radius: 15px;
    color: #fff;
    width: 200px;
    height: 130px;
    height: auto;
    border: solid 2px #fff;
    padding: 15px; }
  .tooltip .tooltip-inner:after {
    content: "";
    position: absolute;
    top: 99%;
    left: 30%;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid #c39e3a;
    margin-left: 23px; }

/************************************************************************************
HEADER
*************************************************************************************/
header {
  transition: all 250ms ease-in;
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 66px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1200px) {
    header {
      position: relative;
      width: 100%;
      background: #000000d1;
      height: 100px; } }
  header .logo {
    display: inline-block;
    padding: 5px 0;
    z-index: 1;
    /* Landscape phones and down */ }
    header .logo a {
      display: block;
      background: url(../img/logo.png) no-repeat center;
      height: 100px; }
    @media only screen and (max-width: 1200px) {
      header .logo a {
        display: block;
        width: 250px;
        margin-left: 5%;
        background: url(../img/logo.png) no-repeat left;
        background-size: 100%;
        height: 80px; } }
  header .navigation {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    position: relative;
    color: #e6e6e6;
    font-size: 16px;
    padding: 45px 0;
    /* Landscape phones and down */ }
    header .navigation ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 1200px) {
        header .navigation ul {
          display: block; } }
      header .navigation ul li {
        padding-left: 2.5vw;
        position:relative;
        /* Landscape phones and down */ }

      header .navigation ul li.submenu ul {
          background-color: #c39e3ac9;
          box-shadow: 0 2px 5px rgba(0,0,0,.2);
          font-size: 14px;
          position: absolute;
          top: 100%;
          padding: 0;
          min-width: 200px;
          opacity: 0;
          visibility: hidden;
          transition: opacity .4s;
          z-index: 999;
      }
      header .navigation ul li.submenu ul li{
        display: block;
        padding:0;
      }
      header.no-slider .navigation ul li.submenu ul li a:link, header.no-slider .navigation ul li.submenu ul li a:visited{
        color: #ffffff;
      }


      header .navigation ul li.submenu:hover > ul {
          top: 100%;
          opacity: 1;
          visibility: visible;
          z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 15px 30px;
    left: 10px;
      }
      header .navigation ul li.submenu {
        left: 0;
      }

        header .navigation ul li a:link, header .navigation ul li a:visited {
          color: #ffffff;
          padding: 8px 0; }
header .navigation ul li:hover>a:after, header .navigation ul li:hover>a:before, header .navigation ul li >a.active:after, header .navigation ul li>a.active:before{
  border-color: #fff;
  width: 100%;
}

header .navigation ul li>a:after, header .navigation ul li>a:before{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-top: 2px solid transparent;
    bottom: 0;
    content: "";
    display: block;
    margin: 4px auto;
    position: relative;
    transition: width .3s ease-in-out,border-color .3s;
    width: 0;
}
        @media only screen and (max-width: 1200px) {
          header .navigation ul li {
            padding: 3vh 0;
            width: 100%;
            display: inline-block;
            text-align: center;
            font-size: 20px;
            z-index: 1; }
          header .navigation ul li.submenu ul li{
            padding: 3vh 0;
            width: 100%;
            display: inline-block;
            text-align: center;
            font-size: 20px;
            z-index: 1;
          }
          header .navigation ul li.submenu ul {
              background-color: #c39e3ac9;
              box-shadow: 0 2px 5px rgba(0,0,0,.2);
              font-size: 12px;
              position: relative;
              top: 0;
              padding: 0;
              z-index: 999;
              opacity: 1;
              visibility: visible;
              z-index: 1000;
              display: flex;
              flex-direction: column;
              align-items: left;
              justify-content: center;
              padding: 15px 30px;
              width: 100%;
              display: none;
          }
          header .navigation ul li.submenu:hover > ul {
              position: relative;
              left: 0;
              display: block;
              top:25px;
          }
          header .navigation ul li.submenu ul{
            box-shadow: none;
            background: none;
          }

    }
    @media only screen and (max-width: 1200px) {
      header .navigation {
        position: absolute;
        right: 0;
        margin: 0;
        left: 0;
        top: 100px;
        padding-top: 0;
        padding-right: 0px;
        padding-left: 0px;
        width: 100%;
        z-index: 1; } }
    header .navigation .menu {
      /* Landscape phones and down */ }
      @media only screen and (max-width: 1200px) {
        header .navigation .menu {
          position: relative;
          top: 0px;
          margin: 0px;
          width: 100%;
          height: 100%;
          background: #c39e3a;
          display: none;
          padding: 20px 0; } }
  header #dropdown {
    display: none;
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    right: 2.5%;
    top: -65px;
    color: #c39e3a;
    z-index: 10;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1200px) {
      header #dropdown {
        display: block;
        color: #c39e3a; } }
  header #dropdown.active {
    color: #c39e3a; }

header.no-slider {
  position: relative;
  height: 110px; }
  header.no-slider .navigation {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    position: relative;
    color: #e6e6e6;
    font-size: 16px;
    padding: 45px 0; }
    header.no-slider .navigation ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 1200px) {
header.no-slider .navigation{

  position: absolute;
  padding: 0;
}

        header.no-slider .navigation ul {
          display: block; } }
      header.no-slider .navigation ul li {
        padding-left: 50px;
        /* Landscape phones and down */ }
        header.no-slider .navigation ul li a:link, header.no-slider .navigation ul li a:visited {
          color: #c39e3a;
          padding: 8px 0; }
header.no-slider .navigation ul li:hover>a:after, header.no-slider .navigation ul li:hover>a:before, header.no-slider .navigation ul li >a.active:after, header.no-slider .navigation ul li>a.active:before{
  border-color: #c39e3a;
  width: 100%;
}
header.no-slider .navigation ul li.submenu li:hover>a:after, header.no-slider .navigation ul li.submenu li:hover>a:before, header.no-slider .navigation ul li.submenu li >a.active:after, header.no-slider .navigation ul li.submenu li>a.active:before{
  border-color: #fff;
  width: 100%;
}
        @media only screen and (max-width: 1200px) {
          header.no-slider .navigation ul li {
            padding: 25px 0;
            width: 100%;
            display: inline-block;
            text-align: center;
            font-size: 20px;
            z-index: 1; }
header .navigation ul li>a:after, header .navigation ul li>a:before{
  display: none;
}
        header.no-slider .navigation ul li a:link, header.no-slider .navigation ul li a:visited {
          color: #fff;
          padding: 8px 0; }
header.no-slider .navigation ul li:hover>a:after, header.no-slider .navigation ul li:hover>a:before, header.no-slider .navigation ul li >a.active:after, header.no-slider .navigation ul li>a.active:before{
  border-color: #fff;
  width: 100%;
}
        header .navigation ul li a:hover, header .navigation ul li a:focus {
          border-top: solid 1px #ffffff;
          border-bottom: solid 1px #ffffff; }
        header .navigation ul li a.active {
          border-top: solid 1px #ffffff;
          border-bottom: solid 1px #ffffff; }
          }
header.sticky .navigation ul li:hover>a:after, header.sticky .navigation ul li:hover>a:before, header.sticky .navigation ul li >a.active:after, header.sticky .navigation ul li>a.active:before{
  border-color: #c39e3a;
  width: 100%;
}
   header.sticky .navigation ul li.submenu ul {

    background: #00000094;
   }
header.sticky {
  padding-top: 0px;
  background: #00000094;
  height: 66px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1200px) {
    header.sticky {
      height: 100px;
      background: #000000d1;
      } }
  header.sticky .logo {
    /* Landscape phones and down */ }
    header.sticky .logo a {
      display: block;
      background: url(../img/logo.png) no-repeat top;
      height: 100px;
      background-size: 40%; }
    @media only screen and (max-width: 1200px) {
      header.sticky .logo a {
        display: block;
        width: 250px;
        margin-left: 5%;
        background: url(../img/logo.png) no-repeat left;
        background-size: 100%;
        height: 80px; } }
  header.sticky .navigation {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    position: relative;
    color: #e6e6e6;
    font-size: 15px;
    padding: 5px 0;
    /* Landscape phones and down */ }
    header.sticky .navigation ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
       header.sticky .navigation ul li{
        padding-bottom: 15px;
       }
       header.sticky .navigation ul li.submenu:hover > ul {
        top:98%;
       }
      header.sticky .navigation ul li a:link, header.sticky .navigation ul li a:visited {
        color: #c39e3a;
        padding: 8px 0; }
    @media only screen and (max-width: 1200px) {
      header.sticky .navigation ul li a:hover, header.sticky .navigation ul li a:focus {
        border-top: solid 1px #c39e3a;
        border-bottom: solid 1px #c39e3a; }
      header.sticky .navigation ul li a.active {
        border-top: solid 1px #c39e3a;
        border-bottom: solid 1px #c39e3a; }
      header.sticky .navigation {
        position: absolute;
        right: 0;
        margin: 0;
        left: 0;
        top: 100px;
        padding-top: 0;
        padding-right: 0px;
        padding-left: 0px;
        width: 100%;
        z-index: 1; }
        header.sticky .navigation ul {
          display: block; }
          header.sticky .navigation ul li {
            padding: 25px 0;
            width: 100%;
            display: inline-block;
            text-align: center;
            font-size: 20px;
            z-index: 1; }
            header.sticky .navigation ul li a:link, header.sticky .navigation ul li a:visited {
              color: #ffffff;
              padding: 8px 0; }
            header.sticky .navigation ul li a:hover, header.sticky .navigation ul li a:focus {
              border-top: solid 1px #ffffff;
              border-bottom: solid 1px #ffffff; }
            header.sticky .navigation ul li a.active {
              border-top: solid 1px #ffffff;
              border-bottom: solid 1px #ffffff; }
        header.sticky .navigation .menu {
          position: relative;
          top: 0px;
          margin: 0px;
          width: 100%;
          background: #c39e3a;
          display: none;
          padding: 20px 0;
          height: 75vh;
          overflow: auto;
        }
   header.sticky .navigation ul li.submenu ul {
    background: none;
   }

           }
  header.sticky #dropdown {
    color: #c39e3a; }
  header.sticky #dropdown.active {
    color: #c39e3a; }

/* ==========================================================================
   main styling
   ========================================================================== */
main {
  position: relative;
  clear: both;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #231a0e; }
  main .main-content {
    text-align: center;
    padding: 20px 0; }
    main .main-content p {
      padding: 10px; }
    main .main-content ul {
      display: inline-block;
      padding: 10px 0;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 750px) {
        main .main-content ul {
          text-align: center;
          padding: 0; } }
      main .main-content ul li {
        display: block;
        padding: 10px 0;
        color: #1e1e1e; }
        main .main-content ul li i {
          display: none; }
        main .main-content ul li a:link, main .main-content ul li a:visited {
          color: #231a0e; }
        main .main-content ul li a:hover, main .main-content ul li a:focus, main .main-content ul li a.active {
          color: #c39e3a; }
      main .main-content ul li::before {
        content: "";
        width: 8px;
        height: 16px;
        display: inline-block;
        color: #c39e3a;
        margin-right: 10px;
        margin-bottom: -3px;
        background: url(../img/icons/arrow.png) no-repeat center; }
    main .main-content strong {
      font-weight: 700;
      color: #c39e3a; }

/* ==========================================================================
   sections styling
   ========================================================================== */
.home-section {
  padding-top: 0; }
  .home-section .main-content {
    background: #e9eaeac2;
    text-align: center;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    padding-top: 50px;
    padding-bottom: 50px; }
    .home-section .main-content h1 {
      display: block;
      max-width: 500px;
      text-align: center;
      margin: 0 auto;
      line-height: 36px; }

section.accommodation-teasers h2 {
  color: #c39e3a;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 35px;
  text-align: center;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    section.accommodation-teasers h2 {
      font-size: 28px;
      text-align: center; } }

section.accommodation-teasers .teaser:nth-child(2n) {
  /* Landscape phones and down */ }
  section.accommodation-teasers .teaser:nth-child(2n) .image {
    float: right; }
  section.accommodation-teasers .teaser:nth-child(2n) .text {
    padding-right: 30px;
    padding-left: 0px; }
  @media only screen and (max-width: 992px) {
    section.accommodation-teasers .teaser:nth-child(2n) .image {
      float: none; }
    section.accommodation-teasers .teaser:nth-child(2n) .text {
      float: none;
      padding: 0; } }

section.accommodation-teasers .teaser {
  padding: 10px;
  /* Landscape phones and down */ }
  section.accommodation-teasers .teaser .text {
    padding-left: 30px;
    text-align: left;
    font-size: 15px;
    font-weight: 500; }
    section.accommodation-teasers .teaser .text h3 {
      font-size: 28px;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      letter-spacing: 0px; }
    section.accommodation-teasers .teaser .text h3 a:hover {
      color: #c39e3a; }
    section.accommodation-teasers .teaser .text h4 {
      font-size: 22px;
      letter-spacing: 4px;
      color: #c39e3a;
      margin: 15px 0; }
    section.accommodation-teasers .teaser .text p {
      padding: 15px 0; }
  @media only screen and (max-width: 992px) {
    section.accommodation-teasers .teaser .text {
      padding: 0;
      text-align: center;
      font-size: 15px;
      font-weight: 500;
      max-width: 500px;
      margin: 20px auto; }
      section.accommodation-teasers .teaser .text h3 {
        font-size: 24px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        letter-spacing: 0px; }
      section.accommodation-teasers .teaser .text h4 {
        font-size: 20px;
        letter-spacing: 4px;
        color: #c39e3a;
        margin: 5px 0; }
      section.accommodation-teasers .teaser .text p {
        padding: 5px 0; } }

section.sightseeing-teasers h2 {
  color: #c39e3a;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 28px;
  text-align: left;
  display: block;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    section.sightseeing-teasers h2 {
      font-size: 24px;
      text-align: center; } }

section.sightseeing-teasers .teaser:nth-child(2n) {
  /* Landscape phones and down */ }
  section.sightseeing-teasers .teaser:nth-child(2n) .image {
    float: right; }
  section.sightseeing-teasers .teaser:nth-child(2n) .text {
    padding-right: 30px;
    padding-left: 0px; }
  @media only screen and (max-width: 992px) {
    section.sightseeing-teasers .teaser:nth-child(2n) .image {
      float: none; }
    section.sightseeing-teasers .teaser:nth-child(2n) .text {
      float: none;
      padding: 0; } }

section.sightseeing-teasers .teaser {
  padding: 10px;
  /* Landscape phones and down */ }
  section.sightseeing-teasers .teaser .image-border:hover {
    background: none; }
  section.sightseeing-teasers .teaser .text {
    padding-left: 30px;
    text-align: left;
    font-size: 15px;
    font-weight: 400; }
    section.sightseeing-teasers .teaser .text h3 {
      font-size: 28px;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      letter-spacing: 0px; }
    section.sightseeing-teasers .teaser .text h3 a:hover {
      color: #c39e3a; }
    section.sightseeing-teasers .teaser .text h4 {
      font-size: 22px;
      letter-spacing: 4px;
      color: #c39e3a;
      margin: 15px 0; }
    section.sightseeing-teasers .teaser .text p {
      padding: 15px 0; }
  @media only screen and (max-width: 992px) {
    section.sightseeing-teasers .teaser .text {
      padding: 0;
      text-align: center;
      font-size: 15px;
      font-weight: 500;
      max-width: 500px;
      margin: 20px auto; }
      section.sightseeing-teasers .teaser .text h3 {
        font-size: 24px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        letter-spacing: 0px; }
      section.sightseeing-teasers .teaser .text h4 {
        font-size: 20px;
        letter-spacing: 4px;
        color: #c39e3a;
        margin: 5px 0; }
      section.sightseeing-teasers .teaser .text p {
        padding: 5px 0; } }

section.why-book {
  margin-bottom: 50px; }
  section.why-book .main-content {
    background: #e9eaeac2; }
  section.why-book h2 {
    font-size: 30px;
    /* Landscape phones and down */
    padding: 30px 0;
    letter-spacing: 2px; }
    @media only screen and (max-width: 1204px) {
      section.why-book h2 {
        font-size: 28px; } }
  section.why-book p {
    font-size: 22px;
    line-height: 30px;
    display: block;
    max-width: 200px;
    margin: 0 auto;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1204px) {
      section.why-book p {
        font-size: 18px;
        line-height: 26px; } }
  section.why-book .content-width-inner {
    padding: 15px 0; }

section.highlights {
  max-height: 325px;
  margin: 25px 0;
  /* Landscape phones and down */
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    section.highlights {
      max-height: initial; } }
  section.highlights .main-content {
    background: #e9eaeac2;
    padding: 0;
    text-align: center; }
  section.highlights h2 {
    /* Landscape phones and down */
    padding: 30px 0;
    letter-spacing: 2px; }
    @media only screen and (max-width: 992px) {
      section.highlights h2 {
        font-size: 28px; } }
  section.highlights p {
    font-family: "Open Sans", sans-serif;

    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    display: block;
    padding: 5px;
    max-width: 125px;
    text-align: center;
    margin: 0 auto;
    word-break: all;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      section.highlights p {
        font-size: 18px;
        line-height: 26px; } }
  section.highlights .icon {
    padding: 60px 0;
    position: relative;
    z-index: 1; }
  section.highlights .icon::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 110%;
    transform: scaleY(0);
    transform-origin: top center;
    z-index: -1;
    background: #c39e3a; }
  section.highlights .icon:hover {
    cursor: pointer; }
  section.highlights .icon:hover::after {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: all 500ms;
    transform: scaleY(1); }
  section.highlights .icon.active {
    transform: scaleY(1); }
  @media only screen and (max-width: 992px) {
    section.highlights .icon {
      padding: 30px 0; }
    section.highlights .icon:hover {
      cursor: initial;
      background: none;
      color: #1e1e1e; }
    section.highlights .icon.active {
      cursor: initial;
      background: none;
      color: #1e1e1e; } }

section.contact .main-content {
  background: #e2e2e2ad;
  /* Landscape phones and down */ }
  section.contact .main-content .info {
    text-align: left;
    padding-left: 35px; }
    section.contact .main-content .info i {
      color: #c39e3a;
      margin-right: 10px;
      font-size: 20px; }
    section.contact .main-content .info .text {
      margin: 25px 0; }
      section.contact .main-content .info .text p {
        padding: 8px 0; }
  @media only screen and (max-width: 992px) {
    section.contact .main-content .info {
      text-align: center;
      padding:0px;
      } }

/************************************************************************************
FOOTER
*************************************************************************************/
footer {
  position: relative;
  overflow: hidden;
  text-align: center;
  font-size: 15px;
  color: #ffffff;
  height: 400px;
  /* Landscape phones and down */
  background: #e6e6e6;
  background-size: cover;
  /***********Links***************/ }
  @media only screen and (max-width: 992px) {
    footer {
      height: auto;
      text-align: center; } }
  footer a:link, footer a:visited {
    text-decoration: none;
    color: #ffffff; }
  footer a:hover, footer a:focus {
    text-decoration: none;
    color: #a4864d; }
  footer .top {
    height: 336px;
    font-family: "Open Sans", sans-serif;
    /***********Links***************/
    color: #231a0e;
    padding: 35px 0;
    text-align: left;
    font-size: 16px;
    /* Landscape phones and down */ }
    footer .top .logo {
      display: inline-block;
      padding: 5px 0;
      z-index: 1;
      width: 340px;
      float: left;
      text-indent: -9999px;
      /* Landscape phones and down */ }
      footer .top .logo a {
        display: block;
        background: url(../img/logo-footer.png) no-repeat left;
        height: 180px; }
      @media only screen and (max-width: 992px) {
        footer .top .logo {
          width: 100%;
          float: none; }
          footer .top .logo a {
            margin: 0 auto;
            height: 150px;
            background: url(../img/logo-footer.png) no-repeat center; } }
    footer .top h3 {
      font-size: 20px;
      color: #231a0e;
      font-weight: 500;
      font-family: "Montserrat", sans-serif; }
    footer .top a:link, footer .top a:visited {
      text-decoration: none;
      color: #e6e6e6; }
    footer .top a:hover, footer .top a:focus {
      text-decoration: none;
      color: #c39e3a; }
    @media only screen and (max-width: 992px) {
      footer .top {
        height: auto;
        text-align: center; } }
    footer .top .connect {
      padding: 5px 0;
      /* Landscape phones and down */
      text-align: center; }
      @media only screen and (max-width: 992px) {
        footer .top .connect {
          padding: 10px 0; } }
      footer .top .connect .social-wrapper {
        max-width: 340px;
        float: left;
        /* Landscape phones and down */ }
        footer .top .connect .social-wrapper p {
          display: inline-block; }
        @media only screen and (max-width: 992px) {
          footer .top .connect .social-wrapper {
            max-width: initial;
            width: 100%;
            float: none; } }
      footer .top .connect .social-menu {
        display: inline-block; }
        footer .top .connect .social-menu li {
          padding-right: 15px; }
          footer .top .connect .social-menu li i {
            font-size: 25px;
            color: #a4864d; }
          footer .top .connect .social-menu li i:hover {
            color: #ffffff; }
    footer .top .contact {
      padding: 5px 0;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 992px) {
        footer .top .contact {
          padding: 10px 0; } }
      footer .top .contact .text {
        color: #231a0e;
        padding-top: 25px; }
        footer .top .contact .text strong {
          font-weight:500;
          color: #a4864d; }
        footer .top .contact .text p {
          padding: 2px 0;
          margin: 0; }
    footer .top .quick-links-box {
      /* Landscape phones and down */
      padding: 5px 0; }
      @media only screen and (max-width: 992px) {
        footer .top .quick-links-box {
          float: none;
          text-align: center;
          padding: 10px 0; }
          footer .top .quick-links-box h3::after {
            margin: 0 auto;
            top: 10px; } }
      footer .top .quick-links-box nav.quick-menu {
        padding-top: 25px;
        overflow: hidden; }
        footer .top .quick-links-box nav.quick-menu ul li {
          font-size: 15px;
          display: block;
          padding: 0px;
          padding-bottom: 10px;
          color: #231a0e; }
          footer .top .quick-links-box nav.quick-menu ul li i {
            display: none; }
          footer .top .quick-links-box nav.quick-menu ul li a:link, footer .top .quick-links-box nav.quick-menu ul li a:visited {
            color: #231a0e; }
          footer .top .quick-links-box nav.quick-menu ul li a:hover, footer .top .quick-links-box nav.quick-menu ul li a:focus, footer .top .quick-links-box nav.quick-menu ul li a.active {
            color: #c39e3a; }
        footer .top .quick-links-box nav.quick-menu ul li::before {
          content: "";
          width: 8px;
          height: 16px;
          display: inline-block;
          color: #c39e3a;
          margin-right: 10px;
          margin-bottom: -3px;
          background: url(../img/icons/arrow.png) no-repeat center; }
  footer .bottom {
    border-top: solid 1px #c39e3a;
    /***********Links***************/
    color: #231a0e;
    font-size: 15px;
    padding: 12px 0;
    font-weight: 100;
    font-family: "Source Sans Pro"; }
    footer .bottom a:link, footer .bottom a:visited {
      text-decoration: none;
      color: #231a0e; }
    footer .bottom a:hover, footer .bottom a:focus {
      text-decoration: none;
      color: #231a0e; }
    footer .bottom .copy p {
      float: left; }
    footer .bottom .created p {
      float: right; }
    footer .bottom .created a {
      font-weight: bold;
      color: #231a0e; }
    footer .bottom .created a:hover, footer .bottom .created a:focus {
      font-weight: bold;
      color: #231a0e; }

/* ==========================================================================
  forms
   ========================================================================== */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #c39e3a;
  font-size: 15px; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #c39e3a;
  font-size: 15px; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #c39e3a;
  font-size: 15px; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #c39e3a;
  font-size: 15px; }

.ui-datepicker .ui-datepicker-header {
  background: #c39e3a;
  color: #ffffff; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border-color: #c39e3a;
  background: #c39e3a;
  color: #ffffff; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background: #c39e3a;
  color: #ffffff; }

input, select {
  border: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: ''; }

.book-online {
  padding: 0;
  /* Landscape phones and down */
  margin: 3vh 0;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1200px) {
    .book-online {
      margin: 0; } }
  .book-online form {
    margin: 20px auto;
    text-align: center; }
  .book-online #book-online-resp {
    width: 100%;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    display: block;
    height: 50px;
    line-height: 50px;
    display: none;
    color: #ffffff;
    background: #c39e3a;
    /* Landscape phones and down */ }
    .book-online #book-online-resp a {
      color: #ffffff; }
    .book-online #book-online-resp a:hover {
      color: #ffffff; }
    @media only screen and (max-width: 1200px) {
      .book-online #book-online-resp {
        display: block; } }
  .book-online a#book-online-resp:hover, .book-online a#book-online-resp:focus {
    color: #ffffff; }
  @media only screen and (max-width: 1200px) {
    .book-online form {
      display: none; }
    .book-online h2 {
      display: none; } }
  .book-online .form-group {
    position: relative;
    padding: 0 5px;
    border-radius: 5px;
    /* Landscape phones and down */ }
    .book-online .form-group label {
      font-size: 16px;
      font-family: "Open Sans", sans-serif;
      display: block;
      letter-spacing: 2px;
      font-weight: 500;
      height: 35px;
      text-align: left; }
    @media only screen and (max-width: 1140px) {
      .book-online .form-group {
        width: 100%;
        text-align: center; } }
    .book-online .form-group i {
      position: absolute;
      left: 115px;
      top: 8px;
      font-size: 22px;
      color: #ffffff;
      /* Landscape phones and down */
      /* Landscape phones and down */ }
      @media only screen and (max-width: 1140px) {
        .book-online .form-group i {
          left: 68%; } }
      @media only screen and (max-width: 450px) {
        .book-online .form-group i {
          left: 60%; } }
    .book-online .form-group select {
      /* Landscape phones and down */
      width: 240px;
      height: 50px;
      background: none;
      color: #c39e3a;
      font-size: 17px;
      border: solid 2px #c39e3a;
      outline: none;
position: relative;
    top: -0.01vh;
      padding: 10px;
      background: none;
      border-radius: 2px; }
      @media only screen and (max-width: 1140px) {
        .book-online .form-group select {
          width: 50%; } }
    .book-online .form-group select option {
      background: #c39e3a;
      color: #ffffff;
      box-shadow: inset 20px 20px #f00; }
    .book-online .form-group select option:disabled {
      color: #ffffff; }
    .book-online .form-group input {
      width: 240px;
      /* Landscape phones and down */
      height: 50px;
      background: none;
      padding: 10px;
      border: solid 2px #c39e3a;
      outline: none;
      color: #c39e3a;
      font-size: 17px;
      border-radius: 2px; }
      @media only screen and (max-width: 1140px) {
        .book-online .form-group input {
          width: 50%; } }
  .book-online input[type="submit"] {
    position: relative;
    width: 240px;
    padding: 10px;
    margin: 0 auto;
    height: 50px;
    font-size: 17px;
    position: relative;
    top: -0.01vh;
    background: none;
    color: #ffffff;
    background: #c39e3a;
    border: solid 1px #c39e3a;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1140px) {
      .book-online input[type="submit"] {
        margin: 0 24%;
        left: 0;
        right: 0;
        top: 10px;
        width: 48%; } }
  .book-online input[type="submit"]:hover {
    background: #ffffff;
    color: #c39e3a; }
  .book-online ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #c39e3a;
    font-size: 17px; }
  .book-online ::-moz-placeholder {
    /* Firefox 19+ */
    color: #c39e3a;
    font-size: 17px; }
  .book-online :-ms-input-placeholder {
    /* IE 10+ */
    color: #c39e3a;
    font-size: 17px; }
  .book-online :-moz-placeholder {
    /* Firefox 18- */
    color: #c39e3a;
    font-size: 17px; }
  .book-online .form-group.select {
    background: url(../img/icons/up-down.png) no-repeat 215px;
    position: relative; }
  .book-online .form-group.select i {
    position: absolute;
    right: 20px;
    top: 35px;
    color: #c39e3a;
    z-index: 1; }
  .book-online .form-group.date {
    background: url(../img/icons/calendar-icon.png) no-repeat 215px; }

.contact-form {
  position: relative; }
  .contact-form .form-group {
    padding: 10px 0; }
  .contact-form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #231a0e; }
  .contact-form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #231a0e; }
  .contact-form :-ms-input-placeholder {
    /* IE 10+ */
    color: #231a0e; }
  .contact-form :-moz-placeholder {
    /* Firefox 18- */
    color: #231a0e; }
  .contact-form label {
    font-weight: 100;
    font-size: 23px;
    text-align: left;
    width: 100%;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1000px) {
      .contact-form label {
        font-size: 18px; } }
  .contact-form input {
    width: 96%;
    /* Landscape phones and down */
    float: left;
    height: 50px;
    margin: 5px 0;
    padding-left: 16px;
    color: #231a0e;
    border: none;
    border-radius: 0; }
    @media only screen and (max-width: 1204px) {
      .contact-form input {
        width: 100%; } }
  .contact-form input[type="submit"] {
    float: right;
    background: #c39e3a;
    color: #ffffff;
    border-radius: 0px;
    font-weight: 500;
    width: 160px;
    /* Landscape phones and down */
    position: relative;
    right: 15px;
    border: none; }
    @media only screen and (max-width: 1204px) {
      .contact-form input[type="submit"] {
        width: 100%;
        right: 0px; } }
  .contact-form input[type="submit"]:hover {
    background: #ffffff;
    color: #c39e3a; }
  .contact-form textarea {
    width: 98%;
    /* Landscape phones and down */
    height: 150px;
    display: inline-block;
    padding: 15px;
    float: left;
    color: #231a0e;
    border: none;
    border-radius: 0; }
    @media only screen and (max-width: 1204px) {
      .contact-form textarea {
        width: 100%; } }
  .contact-form span {
    font-style: italic;
    font-size: 13px;
    padding: 15px 0;
    display: block; }
  .contact-form .sec_code {
    position: absolute;
    top: 8px;
    right: 20px;
    width: 75px; }

/************************************************************************************
SOCIAL MENU
*************************************************************************************/
.social-menu i {
  font-size: 20px; }

.social-menu a.cyrcle {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  border: none;
  margin-right: 5px;
  background: #231a0e; }

.social-menu a.cyrcle:link, .social-menu a.cyrcle:visited {
  color: #ffffff;
  background: #231a0e; }

.social-menu a.cyrcle:hover, .social-menu a.cyrcle:focus {
  color: #ffffff;
  background: #c39e3a; }

.social-menu a.square {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  margin-right: 5px;
  padding-top: 5px;
  font-size: 20px;
  text-align: center;
  background: #e6e6e6;
  display: inline-block; }

.social-menu a.last {
  margin-right: 0px; }

.social-menu a:link, .social-menu a:visited {
  color: #231a0e; }

.social-menu a:hover, .social-menu a:focus {
  color: #c39e3a; }

.social-menu.block {
  width: 250px;
  display: inline-block;
  text-align: center; }
  .social-menu.block li {
    width: 80px;
    padding: 5px;
    display: inline-block;
    color: #343333; }

/************************************************************************************
SLIDER
*************************************************************************************/
.slider-wrapper {
  position: relative;
  min-height: 80vh;
   }
  .slider-wrapper .caption {
    position: absolute;
    width: 680px;
    margin: 0 auto;
    left: 0;
    right: 0px;
    top: 28vh;
    /* Landscape phones and down */
    z-index: 1;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    display: none;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1200px) {
    .slider-wrapper {
  min-height: initial;
   }
      .slider-wrapper .caption {
        top: 20vh; } }
    .slider-wrapper .caption span {
      display: block;
      color: #c39e3a;
      font-size: 57px;
      line-height: 77px;
      margin: 25px auto; }
    @media only screen and (max-width: 1204px) {
      .slider-wrapper .caption {
        display: none; } }
  .slider-wrapper .book-online {
    position: absolute;
    bottom: 23vh;
    left: 0px;
    right: 0px;
    width: 975px;
    margin: 0 auto;
    background: #b3b0a9c4;
    padding: 15px;
    z-index: 1;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1204px) {
      .slider-wrapper .book-online {
        bottom: 0;
        width: 100%;
        background: #b3b0a9; } }
  .slider-wrapper .scroll-down {
    position: absolute;
    bottom: 10vh;
    width: 265px;
    height: 80px;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    right: 0px;
    left: 0px;
    color: #ffffff;
    display: inline-block;
    z-index: 99;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1204px) {
      .slider-wrapper .scroll-down {
        display: none; } }

.slider-wrapper::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background: #000000;
  display: block;
  pointer-events: none; }

/************************************************************************************
PHOTOS GALLERY
*************************************************************************************/
.masonry-gallery {
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0 auto; }
  .masonry-gallery .gallery-item.style1 {
    width: 285px;
    height: 415px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      .masonry-gallery .gallery-item.style1 {
        width: 230px;
        height: 380px; } }
  .masonry-gallery .gallery-item.style2 {
    width: 235px;
    height: 250px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      .masonry-gallery .gallery-item.style2 {
        width: 230px; } }
  .masonry-gallery .gallery-item.style3 {
    width: 480px;
    height: 345px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      .masonry-gallery .gallery-item.style3 {
        width: 230px;
        height: 345px; } }
  .masonry-gallery .gallery-item.style4 {
    width: 285px;
    height: 180px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      .masonry-gallery .gallery-item.style4 {
        width: 230px;
        height: 160px; } }
  .masonry-gallery .gallery-item {
    /* Landscape phones and down */
    float: left;
    position: relative;
    display: inline-block;
    margin: 5px;
    background: trasparent;
    clear: both;
    width: 235px;
    overflow: hidden;
    z-index: 1; }
    @media only screen and (max-width: 992px) {
      .masonry-gallery .gallery-item {
        margin-bottom: 10px; } }
    .masonry-gallery .gallery-item span {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -ms-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
      background: url(../img/icons/hover.png) no-repeat center rgba(131, 131, 31, 0.5);
      cursor: pointer;
      color: #ffffff;
      display: none; }
  .masonry-gallery .gallery-item:hover span {
    display: block;
    transform: scale(1.02); }

.gallery {
  display: block;
  width: 100%;
  margin: 25px auto; }
  .gallery .gallery-item {
    z-index: 1; }
    .gallery .gallery-item span {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -ms-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
      background: url(../img/icons/hover2.png) no-repeat center rgba(131, 131, 31, 0.5);
      cursor: pointer;
      color: #ffffff;
      display: none; }
  .gallery .gallery-item:hover span {
    display: block; }
  .gallery .gallery-item.small a {
    max-width: 366px;
    display: block;
    margin: 0 auto;
    position: relative;
    /* Landscape phones and down */
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      .gallery .gallery-item{
        margin:5px 0;
      }
      .gallery .gallery-item.small a {
        margin-right: 3%; } }
    @media only screen and (max-width: 762px) {
      .gallery .gallery-item.small a {
        margin: 0 auto; } }
  .gallery .gallery-item.big a {
    max-width: 560px;
    display: block;
    margin: 0 auto;
    position: relative;
    /* Landscape phones and down */
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      .gallery .gallery-item.big a {
        margin-right: 2%; } }
    @media only screen and (max-width: 762px) {
      .gallery .gallery-item.big a {
        margin: 0 auto; } }
  .gallery .button {
    text-align: center;
    max-width: 555px;
    margin: 20px auto;
    display: block;
    font-size: 22px;
    letter-spacing: 4px;
    background: #c39e3a;
    /* Landscape phones and down */
    /* Landscape phones and down */ }
    .gallery .button a.border {
      margin: 10px; }
    .gallery .button a {
      padding: 10px 180px;
      display: inline-block; }
    @media only screen and (max-width: 992px) {
      .gallery .button {
        margin: 0;
        font-size: 20px;
        width: 98%;
        margin-right: 2%; }
        .gallery .button a {
          padding: 2%;
          width: 94%;
          display: inline-block; } }
    @media only screen and (max-width: 762px) {
      .gallery .button {
        margin: 0;
        font-size: 20px;
        width: 100%;
        margin: 0 auto; }
        .gallery .button a {
          padding: 2%;
          width: 94%;
          display: inline-block; } }
  .gallery .button:hover {
    background: #1e1e1e; }

/************************************************************************************
GALLERIES owl
*************************************************************************************/
.carousel-gallery {
  position: relative;
  padding: 25px 0; }
  .carousel-gallery .gallery-item {
    position: relative; }
    .carousel-gallery .gallery-item span {
      position: absolute;
      top: 0;
      text-align: center;
      width: 100%;
      height: 100%;
      opacity: 0.0;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -ms-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
      background: url(../img/icons/hover.png) no-repeat center rgba(37, 150, 201, 0.5);
      cursor: pointer;
      display: none; }
  .carousel-gallery .gallery-item:hover span {
    display: block;
    opacity: 0.8; }

.teaser-gallery {
  position: relative;
  padding: 25px 0; }
  .teaser-gallery .teaser-hover {
    position: absolute;
    top: 0;
    font-family: "Source Sans Pro";
    font-size: 22px;
    padding: 25%;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    background: #a4864d;
    color: #000000;
    cursor: pointer;
    display: none; }
    .teaser-gallery .teaser-hover p {
      line-height: 20px;
      font-size: 21px; }
    .teaser-gallery .teaser-hover span {
      display: inline-block;
      font-family: "Montserrat", sans-serif;
      border-top: solid 2px #231a0e;
      padding-top: 10px;
      margin-top: 15px; }
  .teaser-gallery .teaser-item:hover > .teaser-hover {
    display: block;
    opacity: 0.8; }

/************************************************************************************
MAP
*************************************************************************************/
.map {
  overflow: hidden;
  width: 100%;
  clear: both;
  position: relative; }

.map #map-canvas, .map #map-canvas-homepage {
  width: 100%;
  height: 500px;
  border-bottom: solid 1px #c39e3a;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 762px) {
    .map #map-canvas, .map #map-canvas-homepage {
      height: 500px; } }

.map-wrapper {
  padding-top: 30px; }

.map-top-shadow {
  position: absolute;
  height: 20px;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.3); }

.map-bottom-shadow {
  position: absolute;
  height: 20px;
  bottom: -20px;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.3); }

#map-popup-box {
  display: none; }
  #map-popup-box .map #map-canvas {
    width: 1000px;
    height: 500px; }

.map-tabs {
  /* Landscape phones and down */ }
  @media only screen and (max-width: 762px) {
    .map-tabs {
      display: none; } }

/************************************************************************************
OFFER MODAL
*************************************************************************************/
.modal {
  top: 25% !important;
  text-align: center; }

.modal-body {
  position: relative;
  padding: 20px 60px; }

.modal-body ul li {
  display: list-item;
  list-style-type: disc; }

.modal-header {
  text-align: center; }

.modal-footer {
  padding: 15px;
  text-align: center;
  border: none; }

.modal-footer .btn-default {
  width: 25%;
  background: #a4864d;
  color: #ffffff; }


section.accommodation-links {
padding: 0;
    padding-bottom: 10px; }
  section.accommodation-links .boxes {}
    section.accommodation-links .boxes .wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 100%; }
      section.accommodation-links .boxes .wrapper .box {
        font-size: 16px;
        width: 150px;
        height: 150px; }
        section.accommodation-links .boxes .wrapper .box a {
          padding: 15px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          height: 100%;
          align-items: center;
          border: solid 1px #c39e3a; }
        section.accommodation-links .boxes .wrapper .box a:hover {
    color: #ffffff;
    border: solid 1px #ffffff;
    background: #c39e3a; }
      section.accommodation-links .boxes .wrapper .box:hover a {
        color: #ffffff;
        border: solid 1px #ffffff; }
  section.accommodation-links .main-content {
    margin: 25px 0;
    background: #eaeaea; }
    section.accommodation-links .main-content .info {
      padding-left: 35px; }
      section.accommodation-links .main-content .info i {
        color: #c39e3a;
        margin-right: 10px;
        font-size: 20px; }
      section.accommodation-links .main-content .info .text {
        margin-top: 25px; }
        section.accommodation-links .main-content .info .text p {
          padding: 10px 0; }


.fotorama__caption{
    position: absolute!important;
    width: 680px!important;
    margin: 0 auto!important;
    left: 0!important;
    right: 0px!important;
    top: 28vh!important;
    z-index: 1!important;
    text-align: center!important;
    font-family: "Montserrat", sans-serif!important;
    font-weight: 500!important;
    color: #ffffff!important;
    font-size: 30px!important;
    line-height: 36px!important;
    color: #fff;
}
.fotorama__caption__wrap{
  background:none!important;
  background-color: transparent!important;
}
.fotorama__caption span{
    display: block;
    color: #c39e3a;
    font-size: 57px;
    line-height: 77px;
    margin: 25px auto;
}

 @media only screen and (max-width: 1204px) {
  .fotorama__caption{
    display: none!important;
  }
 }