/* ==========================================================================
   Bootstrap reset
   ========================================================================== */
.row {
   	margin: 0px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}
.nav-tabs{
	font-weight: 500;
    border: none;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    display: block;	
    >li{
    	font-weight: 500;
    	font-size: 16px;
    	letter-spacing: 4px;
    	height: auto;
    	a{
    		
    		cursor: pointer;
    	    	color: $site-color2;
    	
    	}
    }
    >li:last-child{
    	border: none;
    }
	
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a:hover{
	border: none;
	background: #e1e1e1;
	outline: none;
	color: $site-color2;
	padding: 8px;
}
.nav-tabs>li>a:hover, .nav-tabs>li>a{
	border: none;
	background: none;
	margin: 0;
	padding: 8px;
}

.panel-default>.panel-heading{
	font-size: 15px;
	font-family: $font-family1;
    color: $site-color7;
    background-color: $site-color2;
    border-color: #ddd;	
    a{
     color: $site-color7;
    }
    padding-left: 0px;
}
.panel-title .trigger:before {
  content: '\f068';
  font-family: 'FontAwesome';
  vertical-align: text-bottom;
  margin-right: 10px;
  border: solid 1px #4a7ea5;
  padding: 15px;
  font-weight: 100;
  font-size: 20px;
  background: #fff;
  color: #4a7ea5;
}

.panel-title .trigger.collapsed:before {
  content: '\f067';
  margin-right: 10px;
  border: solid 1px #fff;
  padding: 15px;
  font-weight: 100;
  font-size: 20px;
  background: #4a7ea5;
  color: #fff;
}