/************************************************************************************
BUTTONS
*************************************************************************************/
.button2{
	font-family:$font-family1;
	font-size:15px;
	letter-spacing: 1px;
    font-weight: 500;
    display: inline-block;
    background: none;
    border: solid 2px $site-color2;
    position:relative;
    margin: 10px 0;
    border-radius: 0;
    a{
   	 	padding: 8px 24px;
		display: inline-block;
    }
    a:link, a:visited{
      	color:$site-color8;
    }
    a:hover{
      	color:$site-color8;
    }
}
.button2:hover{
		background:$site-color4;
		color:$site-color7;
}
.button2:hover a{
		color:$site-color7;	
}
.button{
	font-family:$font-family1;
	font-size:15px;
	letter-spacing: 1px;
    font-weight: 500;
    display: inline-block;
    background: $site-color2;
    border: solid 2px $site-color3;
    position:relative;
    margin: 10px 0;
    border-radius: 0;
    a{
   	 	padding: 8px 24px;
		display: inline-block;
    }
    a:link, a:visited{
      	color:$site-color7;
    }
    a:hover{
      	color:$site-color7;
    }
}
.button:hover{
		background:$site-color4;
		color:$site-color7;
}
.button:hover a{
		color:$site-color7;	
}
/************************************************************************************
HOVER BOXES
*************************************************************************************/
.text-boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;	
    height: 200px;
    @include respond($breakpoint3) {
    	height: auto;
    	display: block;
    }	
}
.boxes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;	
    height: 170px;
    @include respond($breakpoint3) {
    	height: auto;
    	display: block;
    }
	.box{
		border:solid 2px $site-color2;
	    width: 136px;
	    height: 136px;
	    font-family:$font-family2;
	    font-size:16px;
	    display: flex;
	    font-weight: 600;
	    flex-direction: row;
	    align-items: center;
	    justify-content: center;
	    text-align: center;
	    margin-right: 0;
	    color: $site-color7;
	    p{
	    	font-weight: 600;
	    	 font-family:$font-family1;
	    	padding: 20px;
	    }
	  	 @include respond($breakpoint3) {
		    margin: 25px auto;
		    width: 50%;
		}
	}
	.box:hover{
		background:$site-color2;
		color:$site-color7;	
	}
	
}
/************************************************************************************
HICHLIGHTS
*************************************************************************************/
.hightlight1{
	display: block;
    width: 60px;
    height: 60px;
    background: url(../img/icons/highlight1.png) no-repeat center;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.hightlight2{
	display: block;
    width: 60px;
    height: 60px;
    background: url(../img/icons/highlight2.png) no-repeat center;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.hightlight3{
	display: block;
    width: 60px;
    height: 60px;
    background: url(../img/icons/highlight3.png) no-repeat center;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.hightlight4{
	display: block;
    width: 60px;
    height: 45px;
    background: url(../img/icons/highlight4.png) no-repeat center;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.hightlight5{
	display: block;
    width: 60px;
    height: 60px;
    background: url(../img/icons/highlight5.png) no-repeat center;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.hightlight6{
	display: block;
    width: 60px;
    height: 60px;
    background: url(../img/icons/highlight6.png) no-repeat center;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/************************************************************************************
INFO ICONS
*************************************************************************************/
.info-icons{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 0;
}
.info1{
	display: inline-block;
    width: 60px;
    height: 55px;
    background: url(../img/icons/info1.png) no-repeat top;
    position: relative;    
}
.info2{
	display: inline-block;
    width: 60px;
    height: 55px;
    background: url(../img/icons/info2.png) no-repeat top;
    position: relative;    
}
.info3{
	display: inline-block;
    width: 60px;
    height: 55px;
    background: url(../img/icons/info3.png) no-repeat top;
    position: relative;    
}
.info4{
	display: inline-block;
    width: 60px;
    height: 55px;
    background: url(../img/icons/info4.png) no-repeat top;
    position: relative;    
}
.info5{
	display: inline-block;
    width: 60px;
    height: 55px;
    background: url(../img/icons/info5.png) no-repeat top;
    position: relative;    
}
.info6{
	display: inline-block;
    width: 60px;
    height: 55px;
    background: url(../img/icons/info6.png) no-repeat top;
    position: relative;    
}
.info7{
	display: inline-block;
    width: 60px;
    height: 55px;
    background: url(../img/icons/info7.png) no-repeat top;
    position: relative;    
}
.info8{
	display: inline-block;
    width: 60px;
    height: 55px;
    background: url(../img/icons/info8.png) no-repeat top;
    position: relative;
}

.people{
    display: inline-block;
    width: 100px;
    height: 35px;
    background: url(../img/icons/people.png) no-repeat right;
    padding-top: 10px;
    padding-right: 20px;
    position: absolute;
    right: 25px;
    text-align: right;
    font-size: 18px;
    color: $site-color2;
    top: 90px;
    @include respond($breakpoint3) {
		position: relative;
	    top: 0;
	    text-align: center;
	    padding: 10px 0;
	    font-size: 16px;
	    right: 0px; 
	    padding-right: 25px;   
    }
}


.line{
	display: block;
	width: 100%;
	height: 35px;
	background: url(../img/icons/line.png) no-repeat left;
}


/************************************************************************************
BOXES
*************************************************************************************/
.location-box{
	position: absolute;
    bottom: 0;
    width: 380px;
    height: 100%;
    left: 10%;
    color:$site-color8;
    border: solid 1px $site-color2;
    font-family:$font-family1;
    background: rgba(255, 255, 255, 0.85);
    z-index: 1;
    	@include respond($breakpoint4) {
    		display: none;
    	}
    h3{
    	background: $site-color2;
    	font-size: 14px;
    	font-weight: 500;
    	font-family: $font-family1;
    	letter-spacing: 2px;
    	color: $site-color7;
    	padding: 15px 0;
    	position: relative;
    }
    .sightseeing::before{
	    content: '';
	    display: inline-block;
	    width: 25px;
	    height: 25px;
	    background: url(../img/icons/ICON-1.png) no-repeat left;
	    position: absolute;
	    left: 50px;
	    top: 10px;
	}
	.suites::before{
	    content: '';
	    display: inline-block;
	    width: 25px;
	    height: 25px;
	    background: url(../img/icons/ICON-2.png) no-repeat left;
	    position: absolute;
	    left: 50px;
	    top: 10px;
	}
    ul{
        display: block;
   		color:$site-color2;
    	font-size: 14px;
    	padding:20px 0;
    	letter-spacing: 4px;
    	li{
    		display: block;
    		height: auto;
   			width: 100%;
    		color: $site-color2;
    		margin: 0;
    		padding: 0;
    		
    	}
    }
    .contents{
    	margin: 30px 0;
	    text-align: center;
	    height: 100%;
    }
    p{
    	color:$site-color8;
    	font-size:20px;
    	padding:20px 0;
    }
    span{
	    font-size: 13px;
	    border-radius: 25px;
	    border: solid 1px;
	    padding: 3px 8px;
	    height: 25px;
	    width: 25px;
	    text-align: center;
	    margin-right: 10px;
	    display: inline-block;
    }
}