/************************************************************************************
HELPER CLASSES
*************************************************************************************/
.clear {
	clear: both;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.img-responsive{
	width:100%;
}
.center-align{
	text-align:center;
}
.right-align{
	text-align:right;
	@include respond($breakpoint2) {
		text-align:center;
	}
}
.left-align{
	text-align:left;
	@include respond($breakpoint2) {
		text-align:center;
	}
}
.right{
	float:right;
}
.left{
	float:right;
}
.clear{
	clear:both;
}
.sticky, .fixed{
	position:fixed!important;
	top:0px!important;
	z-index:999999!important;
	background:$site-color7;
}
.heading-line{
	background: url(../img/heading-line.png) repeat center;
	height: 60px;
}
.special-title{
	font-size: 24px;
	font-family: $font-family1;
	color: $site-color10;
	span{
		color: $site-color2;
	}
}
.check{	
	width: 46px;
	height: 46px;
	margin: 0 auto;
	display: inline-block;
	background: url(../img/icons/check.png) repeat center;
}
.stretched{
	letter-spacing:2px;
}
.border-bottom{
	border-bottom:solid 1px $site-color4;
}
.highlight{
	color:$site-color2;
}
.highlight-text{
	color:$site-color1;
	font-size: 22px;
	font-family: $font-family3;
	font-style: italic;
	@include respond($breakpoint2) {
		font-size: 18px;
	}
}
.border1{
	border:2px solid $site-color2;
}
.background-color1{
	background:$site-color1;
}
.background-color2{
	background:$site-color2;
}
.background-color3{
	background:$site-color3;
}
.background-color4{
	background:$site-color4;
}
.background-color5{
	background:$site-color5;
}
.background-color6{
	background:$site-color6;
}
.background-color7{
	background:$site-color7;
}
.background-color8{
	background:$site-color8;
}
.background-color9{
	background:$site-color9;
}
.background-color10{
	background:$site-color10;
}
.image-border{
    border: solid 2px $site-color7;
    max-width: 777px;
    width: 95%;
    height: 95%;
    right: 0;
    position: absolute;
    left: 0;
    top: 2.5%;
    margin: 0 auto;
}
.image-border:hover {
    background: url(../img/icons/hover2.png) no-repeat center;
    background-color: rgba(131, 131, 31, 0.5);
}
.right-line-big::after{
    content: "";
    width: 100%;
    display: inline-block;
    height: 15px;
    left: 25%;
    right: 0px;
    border-bottom: solid 2px $site-color2;
    text-align: center;
    position: absolute;
    top: 22px;
    float: right;
	@include respond($breakpoint2) {
		display: none;
	}	
}
.right-line-big{
	display: block;
	font-style: italic;
	@include respond($breakpoint2) {
		text-align: center;
	}
}
.left-line, .right-line{
	display: inline-block;
}
.left-line::before{
	content: "";
	width: 60px;
	display: inline-block;
	height: 15px;
	left: -15px;
	right: 0px;
	border-bottom: solid 2px $site-color2;
	text-align: center;
	position: relative;
	right: 0;
	top: -8px;	
}
.right-line::after{
	content: "";
	width: 60px;
	display: inline-block;
	height: 15px;
	left: 15px;
	right: 0px;
	border-bottom: solid 2px $site-color2;
	text-align: center;
	position: relative;
	top: -8px;	
}
.scrollToTop{
	width: 60px;
    height: 60px;
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 18px;
    padding: 20px;
    background:$site-color1;
    color:$site-color2;
    z-index:999;
}
a.scrollToTop:link, a.scrollToTop:visited{
	color:$site-color2;
}
.stars1{
    display: inline-block;
    height: 65px;
    width: 100%;
    background: url(../img/icons/stars.png) no-repeat center;
    text-align: center;
    margin: 0 auto;
    position: relative;
    right: 0;
    left: 0px;
    bottom: 0;	
}
.overlay{
	background: rgba(48, 55, 122, 0.85);
}
.line1{
	display: inline-block;
	height: 10px;
	width: 100%;
	background: url(../img/bg-line.png) no-repeat left bottom;
	text-align: center;
	margin: 0 auto;
	position: relative;
	right: 0;
	top: 12px;		
}
.line2{
	display: inline-block;
	height: 10px;
	width: 100%;
	background: url(../img/bg-line.png) no-repeat left bottom;
	text-align: center;
	margin: 0 auto;
	position: relative;
	right: 0;
	top: -12px;		
}
.stars2{
    display: inline-block;
    height: 50px;
    background: url(../img/icons/stars2.png) no-repeat center;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0px;
    bottom: 25px;	
}