@CHARSET "UTF-8";
$font-family1 : 'Raleway';
$font-family2 : 'Open Sans', sans-serif;
$font-family3 : 'Roboto', sans-serif;
$site-color1: #f0f0f0;
$site-color2: #4a7ea5;
$site-color3: #6fabd4;
$site-color4: #5e90b3;
$site-color5: #e6e6e6;
$site-color6: #cedde8;
$site-color7: #ffffff;
$site-color8: #444444;
$site-color9: #8eb1ca;
$site-color10:#a4a5a5;
$links-color: #4a7ea5; 
$hover-color: #6fabd4; 
$content-width-outer:1600px;
$content-width:1360px;
$content-width-inner:1160px;
$content-width-inner2:940px;
$breakpoint1:1360;
$breakpoint2:1160;
$breakpoint3:992;
$breakpoint4:762;
$breakpoint5:550;
$breakpoint6:399;
$site-padding-large:30px;
$site-padding:20px;
$site-padding-mobile:7px;
$site-margin-large:30px;
$site-margin:20px;
$site-margin-mobile:10px;
@import 'reset';
@import 'bootstrap-reset';
@import 'responsive';
@import 'general';
@import 'helper-classes';
@import 'elements';
@import 'regions/header';
@import 'regions/main';
@import 'regions/sections';
@import 'regions/footer';
@import 'components/forms';
@import 'components/menus';
@import 'components/sliders';
@import 'components/galleries';
@import 'components/maps';
@import 'components/modals';