.login {
  max-width: 550px;
  text-align:center;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.login .signin-heading{
	text-align:center;
}
.login .signin-heading,
.login .checkbox {
  margin-bottom: 30px;
}
.login .checkbox {
  font-weight: normal;
  margin-left: 30px;
  
}
.login .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.login .form-control:focus {
  z-index: 2;
}
.login input {
  margin-bottom: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}