@CHARSET "UTF-8";
/* ==========================================================================
   Cross-browser RESET
   ========================================================================== */
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, figure, legend, fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

img {
  height: auto;
  border: none;
  /* ie8 */
  display: block;
  /* fix the img bottom margin default  */
  max-width: 100%;
  margin: 0 auto; }

a img {
  border: none; }

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

.bx-wrapper {
  margin: 0 auto; }

.bx-wrapper .bx-viewport {
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  left: 0px; }
  .bx-wrapper .bx-viewport li {
    padding: 0px; }

/* ==========================================================================
   Bootstrap reset
   ========================================================================== */
.row {
  margin: 0px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px; }

.nav-tabs {
  font-weight: 500;
  border: none;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  display: block; }
  .nav-tabs > li {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 4px;
    height: auto; }
    .nav-tabs > li a {
      cursor: pointer;
      color: #4a7ea5; }
  .nav-tabs > li:last-child {
    border: none; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover {
  border: none;
  background: #e1e1e1;
  outline: none;
  color: #4a7ea5;
  padding: 8px; }

.nav-tabs > li > a:hover, .nav-tabs > li > a {
  border: none;
  background: none;
  margin: 0;
  padding: 8px; }

.panel-default > .panel-heading {
  font-size: 15px;
  font-family: "Raleway";
  color: #ffffff;
  background-color: #4a7ea5;
  border-color: #ddd;
  padding-left: 0px; }
  .panel-default > .panel-heading a {
    color: #ffffff; }

.panel-title .trigger:before {
  content: '\f068';
  font-family: 'FontAwesome';
  vertical-align: text-bottom;
  margin-right: 10px;
  border: solid 1px #4a7ea5;
  padding: 15px;
  font-weight: 100;
  font-size: 20px;
  background: #fff;
  color: #4a7ea5; }

.panel-title .trigger.collapsed:before {
  content: '\f067';
  margin-right: 10px;
  border: solid 1px #fff;
  padding: 15px;
  font-weight: 100;
  font-size: 20px;
  background: #4a7ea5;
  color: #fff; }

/**
 * Responsive mixin. The media breakpoints are as defined
 * in the twitter bootstrap framework:
 *
 * - phone
 * - tablet-portrait
 * - tablet-landscape-desktop
 * - large-desktop
 *
 * Additional parameters for tagetting retina and non-retina
 * devices
 *
 * - retina
 * - non-retina
 *
 * Moreover, a specific value in px can be passed which is
 * used to generate a max-width media query.
 */
/* ==========================================================================
   General
   ========================================================================== */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  -webkit-text-size-adjust: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  overflow-x: hidden;
  position: relative;
  margin: 0 auto;
  color: #444444;
  background: #ffffff;
  overflow-x: hidden;
  position: relative; }

.content-width-outer {
  margin: 0 auto;
  max-width: 1600px;
  position: relative; }

.content-width {
  margin: 0 auto;
  max-width: 1360px;
  position: relative; }

.content-width-inner {
  margin: 0 auto;
  max-width: 1160px;
  position: relative; }

.content-width-inner2 {
  margin: 0 auto;
  max-width: 940px;
  position: relative; }

.content-padding {
  padding: 0px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .content-padding {
      padding: 0px 15px; } }

.top-padding {
  padding-top: 75px; }

.top-bottom-padding-large {
  padding: 30px 0;
  overflow: hidden;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1360px) {
    .top-bottom-padding-large {
      padding: 20px 0; } }

.top-bottom-padding {
  padding: 20px 0;
  overflow: hidden;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1360px) {
    .top-bottom-padding {
      padding: 7px 0; } }

.top-bottom-padding-small {
  padding: 7px 0;
  overflow: hidden; }

.side-padding {
  padding: 0 20px; }

.side-padding-large {
  padding: 0 30px; }

.left-padding {
  padding-left: 20px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1160px) {
    .left-padding {
      padding: 0; } }

.right-padding {
  padding-right: 20px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1160px) {
    .right-padding {
      padding: 0; } }

.right-padding-large {
  padding-right: 30px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1160px) {
    .right-padding-large {
      padding: 0; } }

.left-padding-large {
  padding-left: 30px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1160px) {
    .left-padding-large {
      padding: 0; } }

.no-padding {
  padding: 0px; }

.top-bottom-margin {
  margin: 20px 0; }

.side-margin {
  margin: 0 20px; }

.left-margin {
  margin-left: 20px; }

.right-margin {
  margin-right: 20px; }

.no-margin {
  margin: 0px; }
.two-column p{
      -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    column-gap:50px;
}
@media only screen and (max-width: 750px) {
  .two-column p{
      -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    column-gap:0px;
  }
}
hr {
  border-color: #4a7ea5; }

h1 {
  position: relative;
  font-family: "Raleway";
  color: #4a7ea5;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  /* Landscape phones and down */
  z-index: 1;
  overflow: hidden;
  text-align: left;
  display: inline-block;
  padding: 10px 0; }
  @media only screen and (max-width: 992px) {
    h1 {
      font-size: 25px; } }
  h1 span {
    color: #6fabd4; }

h2 {
  letter-spacing: 2px;
  position: relative;
  font-family: "Raleway";
  color: #4a7ea5;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  /* Landscape phones and down */
  font-weight: 500;
  padding: 10px 0; }
  @media only screen and (max-width: 992px) {
    h2 {
      font-size: 25px; } }

h3 {
  color: #4a7ea5;
  font-family: "Raleway";
  font-size: 20px;
  /* Landscape phones and down */
  padding: 5px 0;
  font-weight: 600; }
  @media only screen and (max-width: 992px) {
    h3 {
      font-size: 15px; } }
  h3 span {
    color: #4a7ea5;
    font-size: 32px;
    padding: 10px 0;
    font-weight: 500;
    display: block; }

h4 {
  color: #ffffff;
  font-size: 18px;
  padding: 5px 0; }
  h4 span {
    color: #6fabd4; }

strong {
  font-weight: bold; }
  strong span {
    color: #4a7ea5; }

ul {
  padding: 0;
  display: inline; }

p {
  padding: 5px 0; }

/*****Element/tag selectors********/
li, ol, dl {
  padding: 5px 0;
  list-style-type: none;
  display: inline; }

li.last, ol.last, dl.last {
  padding: 0px; }

/***********Links***************/
a:link, a:visited {
  text-decoration: none;
  color: #4a7ea5; }

a:hover, a:focus {
  text-decoration: none;
  color: #6fabd4; }

/************************************************************************************
HELPER CLASSES
*************************************************************************************/
.clear {
  clear: both; }

.hidden {
  display: none !important;
  visibility: hidden; }

.img-responsive {
  width: 100%; }

.center-align {
  text-align: center; }

.right-align {
  text-align: right;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1160px) {
    .right-align {
      text-align: center; } }

.left-align {
  text-align: left;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1160px) {
    .left-align {
      text-align: center; } }

.right {
  float: right; }

.left {
  float: right; }

.clear {
  clear: both; }

.sticky, .fixed {
  position: fixed !important;
  top: 0px !important;
  z-index: 999 !important;
  background: #ffffff; }

.heading-line {
  background: url(../img/heading-line.png) repeat center;
  height: 60px; }

.special-title {
  font-size: 24px;
  font-family: "Raleway";
  color: #a4a5a5; }
  .special-title span {
    color: #4a7ea5; }

.check {
  width: 46px;
  height: 46px;
  margin: 0 auto;
  display: inline-block;
  background: url(../img/icons/check.png) repeat center; }

.stretched {
  letter-spacing: 2px; }

.border-bottom {
  border-bottom: solid 1px #5e90b3; }

.highlight {
  color: #4a7ea5; }

.highlight-text {
  color: #f0f0f0;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1160px) {
    .highlight-text {
      font-size: 18px; } }

.border1 {
  border: 2px solid #4a7ea5; }

.background-color1 {
  background: #f0f0f0; }

.background-color2 {
  background: #4a7ea5; }

.background-color3 {
  background: #6fabd4; }

.background-color4 {
  background: #5e90b3; }

.background-color5 {
  background: #e6e6e6; }

.background-color6 {
  background: #cedde8; }

.background-color7 {
  background: #ffffff; }

.background-color8 {
  background: #444444; }

.background-color9 {
  background: #8eb1ca; }

.background-color10 {
  background: #a4a5a5; }

.image-border {
  border: solid 2px #ffffff;
  max-width: 777px;
  width: 95%;
  height: 95%;
  right: 0;
  position: absolute;
  left: 0;
  top: 2.5%;
  margin: 0 auto; }

.image-border:hover {
  background: url(../img/icons/hover2.png) no-repeat center;
  background-color: rgba(131, 131, 31, 0.5); }

.right-line-big::after {
  content: "";
  width: 100%;
  display: inline-block;
  height: 15px;
  left: 25%;
  right: 0px;
  border-bottom: solid 2px #4a7ea5;
  text-align: center;
  position: absolute;
  top: 22px;
  float: right;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1160px) {
    .right-line-big::after {
      display: none; } }

.right-line-big {
  display: block;
  font-style: italic;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1160px) {
    .right-line-big {
      text-align: center; } }

.left-line, .right-line {
  display: inline-block; }

.left-line::before {
  content: "";
  width: 60px;
  display: inline-block;
  height: 15px;
  left: -15px;
  right: 0px;
  border-bottom: solid 2px #4a7ea5;
  text-align: center;
  position: relative;
  right: 0;
  top: -8px; }

.right-line::after {
  content: "";
  width: 60px;
  display: inline-block;
  height: 15px;
  left: 15px;
  right: 0px;
  border-bottom: solid 2px #4a7ea5;
  text-align: center;
  position: relative;
  top: -8px; }

.scrollToTop {
  width: 60px;
  height: 60px;
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 18px;
  padding: 20px;
  background: #f0f0f0;
  color: #4a7ea5;
  z-index: 999; }

a.scrollToTop:link, a.scrollToTop:visited {
  color: #4a7ea5; }

.stars1 {
  display: inline-block;
  height: 65px;
  width: 100%;
  background: url(../img/icons/stars.png) no-repeat center;
  text-align: center;
  margin: 0 auto;
  position: relative;
  right: 0;
  left: 0px;
  bottom: 0; }

.overlay {
  background: rgba(48, 55, 122, 0.85); }

.line1 {
  display: inline-block;
  height: 10px;
  width: 100%;
  background: url(../img/bg-line.png) no-repeat left bottom;
  text-align: center;
  margin: 0 auto;
  position: relative;
  right: 0;
  top: 12px; }

.line2 {
  display: inline-block;
  height: 10px;
  width: 100%;
  background: url(../img/bg-line.png) no-repeat left bottom;
  text-align: center;
  margin: 0 auto;
  position: relative;
  right: 0;
  top: -12px; }

.stars2 {
  display: inline-block;
  height: 50px;
  background: url(../img/icons/stars2.png) no-repeat center;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  right: 0;
  left: 0px;
  bottom: 25px; }

/************************************************************************************
BUTTONS
*************************************************************************************/
.button2 {
  font-family: "Raleway";
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 500;
  display: inline-block;
  background: none;
  border: solid 2px #4a7ea5;
  position: relative;
  margin: 10px 0;
  border-radius: 0; }
  .button2 a {
    padding: 8px 24px;
    display: inline-block; }
  .button2 a:link, .button2 a:visited {
    color: #444444; }
  .button2 a:hover {
    color: #444444; }

.button2:hover {
  background: #5e90b3;
  color: #ffffff; }

.button2:hover a {
  color: #ffffff; }

.button {
  font-family: "Raleway";
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 500;
  display: inline-block;
  background: #4a7ea5;
  border: solid 2px #6fabd4;
  position: relative;
  margin: 10px 0;
  border-radius: 0; }
  .button a {
    padding: 8px 24px;
    display: inline-block; }
  .button a:link, .button a:visited {
    color: #ffffff; }
  .button a:hover {
    color: #ffffff; }

.button:hover {
  background: #5e90b3;
  color: #ffffff; }

.button:hover a {
  color: #ffffff; }

/************************************************************************************
HOVER BOXES
*************************************************************************************/
.text-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .text-boxes {
      height: auto;
      display: block; } }

.boxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 170px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .boxes {
      height: auto;
      display: block; } }
  .boxes .box {
    border: solid 2px #4a7ea5;
    width: 136px;
    height: 136px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    display: flex;
    font-weight: 600;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 0;
    color: #ffffff;
    /* Landscape phones and down */ }
    .boxes .box p {
      font-weight: 600;
      font-family: "Raleway";
      padding: 20px; }
    @media only screen and (max-width: 992px) {
      .boxes .box {
        margin: 25px auto;
        width: 50%; } }
  .boxes .box:hover {
    background: #4a7ea5;
    color: #ffffff; }

/************************************************************************************
HICHLIGHTS
*************************************************************************************/
.hightlight1 {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/icons/highlight1.png) no-repeat center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.hightlight2 {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/icons/highlight2.png) no-repeat center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.hightlight3 {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/icons/highlight3.png) no-repeat center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.hightlight4 {
  display: block;
  width: 60px;
  height: 45px;
  background: url(../img/icons/highlight4.png) no-repeat center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.hightlight5 {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/icons/highlight5.png) no-repeat center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.hightlight6 {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/icons/highlight6.png) no-repeat center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

/************************************************************************************
INFO ICONS
*************************************************************************************/
.info-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px 0; }

.info1 {
  display: inline-block;
  width: 60px;
  height: 55px;
  background: url(../img/icons/info1.png) no-repeat top;
  position: relative; }

.info2 {
  display: inline-block;
  width: 60px;
  height: 55px;
  background: url(../img/icons/info2.png) no-repeat top;
  position: relative; }

.info3 {
  display: inline-block;
  width: 60px;
  height: 55px;
  background: url(../img/icons/info3.png) no-repeat top;
  position: relative; }

.info4 {
  display: inline-block;
  width: 60px;
  height: 55px;
  background: url(../img/icons/info4.png) no-repeat top;
  position: relative; }

.info5 {
  display: inline-block;
  width: 60px;
  height: 55px;
  background: url(../img/icons/info5.png) no-repeat top;
  position: relative; }

.info6 {
  display: inline-block;
  width: 60px;
  height: 55px;
  background: url(../img/icons/info6.png) no-repeat top;
  position: relative; }

.info7 {
  display: inline-block;
  width: 60px;
  height: 55px;
  background: url(../img/icons/info7.png) no-repeat top;
  position: relative; }

.info8 {
  display: inline-block;
  width: 60px;
  height: 55px;
  background: url(../img/icons/info8.png) no-repeat top;
  position: relative; }

.people {
  display: inline-block;
  width: 100px;
  height: 35px;
  background: url(../img/icons/people.png) no-repeat right;
  padding-top: 10px;
  padding-right: 20px;
  position: absolute;
  right: 25px;
  text-align: right;
  font-size: 18px;
  color: #4a7ea5;
  top: 90px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .people {
      position: relative;
      top: 0;
      text-align: center;
      padding: 10px 0;
      font-size: 16px;
      right: 0px;
      padding-right: 25px; } }

.line {
  display: block;
  width: 100%;
  height: 35px;
  background: url(../img/icons/line.png) no-repeat left; }

/************************************************************************************
BOXES
*************************************************************************************/
.location-box {
  position: absolute;
  bottom: 0;
  width: 380px;
  height: 100%;
  left: 10%;
  color: #444444;
  border: solid 1px #4a7ea5;
  font-family: "Raleway";
  background: rgba(255, 255, 255, 0.85);
  z-index: 1;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 762px) {
    .location-box {
      display: none; } }
  .location-box h3 {
    background: #4a7ea5;
    font-size: 14px;
    font-weight: 500;
    font-family: "Raleway";
    letter-spacing: 2px;
    color: #ffffff;
    padding: 15px 0;
    position: relative; }
  .location-box .sightseeing::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../img/icons/ICON-1.png) no-repeat left;
    position: absolute;
    left: 50px;
    top: 10px; }
  .location-box .suites::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../img/icons/ICON-2.png) no-repeat left;
    position: absolute;
    left: 50px;
    top: 10px; }
  .location-box ul {
    display: block;
    color: #4a7ea5;
    font-size: 14px;
    padding: 5px 0;
    letter-spacing: 4px; }
    .location-box ul li {
      display: block;
      height: auto;
      width: 100%;
      color: #4a7ea5;
      margin: 0;
      padding: 0; }
  .location-box .contents {
    margin: 30px 0;
    text-align: center;
    height: 100%; }
  .location-box p {
    color: #444444;
    font-size: 20px;
    padding: 20px 0; }
  .location-box span {
    font-size: 13px;
    border-radius: 25px;
    border: solid 1px;
    padding: 3px 8px;
    height: 25px;
    width: 25px;
    text-align: center;
    margin-right: 10px;
    display: inline-block; }

/************************************************************************************
HEADER
*************************************************************************************/
header {
  transition: all 250ms ease-in;
  position: fixed;
  width: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.15);
  /* Landscape phones and down */
  /* Landscape phones and down */
  height: 100px; }
  @media only screen and (max-width: 1160px) {
    header {
      background: rgba(74, 126, 165, 0.9);
      position: relative; } }
  @media only screen and (max-width: 992px) {
    header {
      height: 66px; } }
  header .logo {
    display: inline-block;
    padding: 5px 0;
    z-index: 1;
    /* Landscape phones and down */ }
    header .logo a {
      display: block;
      background: url(../img/logo.png) no-repeat left;
      height: 80px; }
    @media only screen and (max-width: 1160px) {
      header .logo a {
        display: block;
        width: 100px;
        margin-left: 5%;
        background: url(../img/logo.png) no-repeat top;
        background-size: 80%;
        height: 55px; } }
  header .navigation {
    font-family: "Raleway";
    font-weight: 600;
    position: relative;
    color: #e6e6e6;
    font-size: 16px;
    padding: 36px 0;
    /* Landscape phones and down */ }
    header .navigation ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-right: 50px;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 1160px) {
        header .navigation ul {
          display: block;
          padding-right: 0px;
          text-align: center; } }
      header .navigation ul li {
        /* Landscape phones and down */ }
        header .navigation ul li a:link, header .navigation ul li a:visited {
          color: #ffffff;
          padding: 10px 0;
          padding-bottom: 38px; }
        header .navigation ul li a:hover, header .navigation ul li a:focus {
          border-bottom: solid 3px #f0f0f0; }
        header .navigation ul li a.active {
          border-bottom: solid 3px #f0f0f0; }
        @media only screen and (max-width: 1160px) {
          header .navigation ul li {
            padding: 25px 0;
            width: 100%;
            display: inline-block;
            text-align: center;
            font-size: 16px;
            z-index: 1; }
            header .navigation ul li a:link, header .navigation ul li a:visited {
              padding-bottom: 18px; } }
    @media only screen and (max-width: 1160px) {
      header .navigation {
        position: absolute;
        right: 0;
        margin: 0;
        left: 0;
        top: 61px;
        padding-top: 0;
        padding-right: 0px;
        padding-left: 0px;
        width: 100%;
        z-index: 1; } }
    header .navigation .menu {
      /* Landscape phones and down */ }
      @media only screen and (max-width: 1160px) {
        header .navigation .menu {
          position: relative;
          top: 5px;
          margin: 0px;
          width: 100%;
          background: rgba(74, 126, 165, 0.9);
          display: none;
          padding: 25px 0; } }
  header .book-now {
    background: rgba(255, 255, 255, 0.5);
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    padding: 0 20px;
    text-align: center;
    font-family: "Raleway";
    /* Landscape phones and down */ }
    header .book-now a {
      color: #ffffff; }
    @media only screen and (max-width: 1160px) {
      header .book-now {
        position: absolute;
        right: 8%;
        height: 66px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        padding: 0 20px; } }
  header .book-now:hover {
    background: rgba(0, 0, 0, 0.5); }
  header #dropdown {
    display: none;
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    right: 2.5%;
    top: -45px;
    color: #ffffff;
    z-index: 10;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1160px) {
      header #dropdown {
        display: block;
        color: #ffffff; } }
  header #dropdown.active {
    color: #ffffff; }

header.sticky {
  padding-top: 0px;
  background: rgba(74, 126, 165, 0.9); }

/* ==========================================================================
   main styling
   ========================================================================== */
main {
  position: relative;
  clear: both;
  overflow: hidden;
  font-size: 15px;
  color: #444444;
  font-weight: 400; }
  main .main-content {
    /* Landscape phones and down */
    padding: 20px 0; }
    @media only screen and (max-width: 992px) {
      main .main-content {
        text-align: center; }
        main .main-content .collapse-group
        {
          text-align: left;
        }

      }
      main .main-content h2 span {
        color: #4a7ea5; }
    main .main-content p {
      padding: 10px 0; }
    main .main-content ul li {
      font-size: 15px;
      display: block;
      padding: 0px;
      padding-bottom: 0px;
      color: #444444; }
      main .main-content ul li span {
        display: block;
        color: #444444;
        padding-left: 20px; }
      main .main-content ul li a:link, main .main-content ul li a:visited {
        color: #4a7ea5; }
      main .main-content ul li a:hover, main .main-content ul li a:focus, main .main-content ul li a.active {
        color: #4a7ea5; }
    main .main-content ul li::before {
      content: "";
      width: 8px;
      height: 16px;
      display: inline-block;
      color: #4a7ea5;
      margin-right: 10px;
      margin-bottom: -3px;
      background: url(../img/icons/arrow.png) no-repeat center; }
    main .main-content strong {
      font-weight: 600; }
  main .services-section {
    /* Landscape phones and down */ }
    main .services-section h2 {
      margin-right: 30px;
      color: #ffffff; }
    @media only screen and (max-width: 992px) {
      main .services-section {
        text-align: center; }
        main .services-section h2 {
          margin-right: 0; }
        main .services-section .boxes {
          margin: 25px 0; } }
    main .services-section p {
      padding: 0;
      font-size: 14px;
      font-weight: 500;
      color: #ffffff; }
    main .services-section .button2 a {
      padding: 8px 24px;
      display: inline-block; }
    main .services-section .button2 a:link, main .services-section .button2 a:visited {
      color: #ffffff; }
    main .services-section .button2 a:hover {
      color: #ffffff; }

/* ==========================================================================
   sections styling
   ========================================================================== */
section.accommodation-teasers h2 {
  color: #a4a5a5;
  font-family: "Raleway";
  font-weight: 400;
  letter-spacing: 0;
  font-size: 32px;
  line-height: 32px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    section.accommodation-teasers h2 {
      font-size: 26px;
      line-height: 26px;
      text-align: center; } }

section.accommodation-teasers .teaser {
  padding: 60px 0;
  /* Landscape phones and down */
  overflow: hidden;
  position: relative;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    section.accommodation-teasers .teaser {
      padding: 25px 0; } }
  section.accommodation-teasers .teaser .box {
    margin-top: 30px; }
  section.accommodation-teasers .teaser h3 {
    font-weight: 400;
    font-size: 24px; }
    section.accommodation-teasers .teaser h3 a {
      color: #444444; }
    section.accommodation-teasers .teaser h3 a:hover {
      color: #4a7ea5; }
  section.accommodation-teasers .teaser .image {
    position: absolute;
    top: -24px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      section.accommodation-teasers .teaser .image {
        position: relative;
        width: 100%; } }
  section.accommodation-teasers .teaser .image.right {
    right: -22px; }
  section.accommodation-teasers .teaser .image.left {
    left: -24px; }
  @media only screen and (max-width: 992px) {
    section.accommodation-teasers .teaser .image.right {
      right: 0px; }
    section.accommodation-teasers .teaser .image.left {
      left: 0px; } }
  section.accommodation-teasers .teaser .special-text1 {
    font-size: 14px;
    min-height: 420px;
    min-width: 400px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    float: left;
    /* Landscape phones and down */
    /* Landscape phones and down */ }
    section.accommodation-teasers .teaser .special-text1 .icons {
      margin: 10px 0;
      padding: 10px 0;
      width: 100%;
      height: 145px; }
      section.accommodation-teasers .teaser .special-text1 .icons .icons-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 5px 0;
        /* Landscape phones and down */ }
        @media only screen and (max-width: 550px) {
          section.accommodation-teasers .teaser .special-text1 .icons .icons-row {
            display: inline-block;
            text-align: left;
            margin: 0 auto; } }
        section.accommodation-teasers .teaser .special-text1 .icons .icons-row span {
          color: #ffffff;
          position: absolute;
          top: 35px;
          left: 0;
          width: 100%;
          text-align: center; }
    section.accommodation-teasers .teaser .special-text1 p {
      padding: 10px 0;
      padding-right: 25px; }
    @media only screen and (max-width: 992px) {
      section.accommodation-teasers .teaser .special-text1 {
        width: 100%;
        min-width: initial; } }
    section.accommodation-teasers .teaser .special-text1 .wrapper {
      padding-left: 25px; }
    section.accommodation-teasers .teaser .special-text1 .button, section.accommodation-teasers .teaser .special-text1 .button2 {
      font-weight: 400;
      position: absolute;
      bottom: 15px;
      left: 25px;
      right: auto; }
    @media only screen and (max-width: 992px) {
      section.accommodation-teasers .teaser .special-text1 {
        float: none;
        text-align: center; }
        section.accommodation-teasers .teaser .special-text1 .wrapper {
          padding: 0; }
        section.accommodation-teasers .teaser .special-text1 .button, section.accommodation-teasers .teaser .special-text1 .button2 {
          position: relative;
          margin: 30px auto;
          margin-bottom: 0;
          left: auto;
          right: auto; } }
  section.accommodation-teasers .teaser .special-text1.right {
    float: right;
    padding-right: 0px;
    padding-left: 0px;
    text-align: right;
    /* Landscape phones and down */
    /* Landscape phones and down */ }
    section.accommodation-teasers .teaser .special-text1.right p {
      padding-left: 25px;
      padding-right: 0; }
    @media only screen and (max-width: 992px) {
      section.accommodation-teasers .teaser .special-text1.right {
        padding-left: 0px;
        width: 100%; } }
    section.accommodation-teasers .teaser .special-text1.right .wrapper {
      padding-left: 0;
      padding-right: 25px; }
    section.accommodation-teasers .teaser .special-text1.right .button, section.accommodation-teasers .teaser .special-text1.right .button2 {
      font-weight: 400;
      position: absolute;
      bottom: 15px;
      right: 25px;
      left: auto; }
    @media only screen and (max-width: 992px) {
      section.accommodation-teasers .teaser .special-text1.right {
        float: none;
        text-align: center; }
        section.accommodation-teasers .teaser .special-text1.right .wrapper {
          padding: 0; }
        section.accommodation-teasers .teaser .special-text1.right .button, section.accommodation-teasers .teaser .special-text1.right .button2 {
          font-weight: 400;
          position: relative;
          margin: 30px auto;
          margin-bottom: 0px;
          left: auto;
          right: auto; } }

section.accommodation .icons {
  margin: 10px 0;
  padding: 10px 0;
  width: 100%; }
  section.accommodation .icons .icons-row {
    width: 80%;
    /* Landscape phones and down */
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    justify-content: space-evenly;
    padding: 5px 0;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      section.accommodation .icons .icons-row {
        width: 100%;
        height: auto;
        text-align: center !important; } }
    @media only screen and (max-width: 550px) {
      section.accommodation .icons .icons-row {
        display: inline-block;
        text-align: left;
        margin: 0 auto; } }
    section.accommodation .icons .icons-row span {
      color: #ffffff;
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      text-align: center; }

section.sightseeing-teasers h2 {
  color: #444444;
  font-family: "Raleway";
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 22px; }

section.sightseeing-teasers .teaser {
  padding: 60px 0;
  /* Landscape phones and down */
  overflow: hidden;
  position: relative;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    section.sightseeing-teasers .teaser {
      padding: 25px 0; } }
  section.sightseeing-teasers .teaser .box {
    margin-top: 30px; }
  section.sightseeing-teasers .teaser h3 {
    font-size: 22px; }
  section.sightseeing-teasers .teaser .image {
    position: absolute;
    top: -24px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      section.sightseeing-teasers .teaser .image {
        position: relative;
        width: 100%; } }
  section.sightseeing-teasers .teaser .image.right {
    right: -24px; }
  section.sightseeing-teasers .teaser .image.left {
    left: -24px; }
  @media only screen and (max-width: 992px) {
    section.sightseeing-teasers .teaser .image.right {
      right: 0px; }
    section.sightseeing-teasers .teaser .image.left {
      left: 0px; } }
  section.sightseeing-teasers .teaser .special-text1 {
    font-size: 15px;
    min-height: 380px;
    min-width: 400px;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    float: left;
    /* Landscape phones and down */
    /* Landscape phones and down */ }
    section.sightseeing-teasers .teaser .special-text1 .icons {
      margin: 10px 0;
      padding: 10px 0;
      width: 100%;
      height: 125px; }
      section.sightseeing-teasers .teaser .special-text1 .icons .icons-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 5px 0;
        /* Landscape phones and down */ }
        @media only screen and (max-width: 550px) {
          section.sightseeing-teasers .teaser .special-text1 .icons .icons-row {
            display: inline-block;
            text-align: left;
            margin: 0 auto; } }
        section.sightseeing-teasers .teaser .special-text1 .icons .icons-row span {
          color: #ffffff;
          position: absolute;
          top: 30px;
          left: 0;
          width: 100%;
          text-align: center; }
    section.sightseeing-teasers .teaser .special-text1 p {
      padding-right: 25px; }
    @media only screen and (max-width: 992px) {
      section.sightseeing-teasers .teaser .special-text1 {
        width: 100%;
        min-width: initial; } }
    section.sightseeing-teasers .teaser .special-text1 .wrapper {
      padding-left: 25px; }
    section.sightseeing-teasers .teaser .special-text1 .button, section.sightseeing-teasers .teaser .special-text1 .button2 {
      position: absolute;
      bottom: 15px;
      left: 25px;
      right: auto; }
    @media only screen and (max-width: 992px) {
      section.sightseeing-teasers .teaser .special-text1 {
        float: none;
        text-align: center; }
        section.sightseeing-teasers .teaser .special-text1 .wrapper {
          padding: 0; }
        section.sightseeing-teasers .teaser .special-text1 .button, section.sightseeing-teasers .teaser .special-text1 .button2 {
          position: relative;
          margin: 15px auto;
          left: auto;
          right: auto; } }
  section.sightseeing-teasers .teaser .special-text1.right {
    float: right;
    padding-right: 0px;
    padding-left: 0px;
    text-align: right;
    /* Landscape phones and down */
    /* Landscape phones and down */ }
    section.sightseeing-teasers .teaser .special-text1.right p {
      padding-left: 25px;
      padding-right: 0; }
    @media only screen and (max-width: 992px) {
      section.sightseeing-teasers .teaser .special-text1.right {
        padding-left: 0px;
        width: 100%; } }
    section.sightseeing-teasers .teaser .special-text1.right .wrapper {
      padding-left: 0;
      padding-right: 25px; }
    section.sightseeing-teasers .teaser .special-text1.right .button, section.sightseeing-teasers .teaser .special-text1.right .button2 {
      position: absolute;
      bottom: 15px;
      right: 25px;
      left: auto; }
    @media only screen and (max-width: 992px) {
      section.sightseeing-teasers .teaser .special-text1.right {
        float: none;
        text-align: center; }
        section.sightseeing-teasers .teaser .special-text1.right .wrapper {
          padding: 0; }
        section.sightseeing-teasers .teaser .special-text1.right .button, section.sightseeing-teasers .teaser .special-text1.right .button2 {
          position: relative;
          margin: 15px auto;
          left: auto;
          right: auto; } }

section.contact .main-content {
  margin: 25px 0;
  background: #eaeaea; }
  section.contact .main-content .info {
    padding-left: 35px; }
    section.contact .main-content .info i {
      color: #4a7ea5;
      margin-right: 10px;
      font-size: 20px; }
    section.contact .main-content .info .text {
      margin-top: 25px; }
      section.contact .main-content .info .text p {
        padding: 10px 0; }

section.accommodation-links {
padding: 0;
    padding-bottom: 10px; }
  section.accommodation-links .boxes {
    background: #ececed; }
    section.accommodation-links .boxes .wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 100%; }
      section.accommodation-links .boxes .wrapper .box {
        font-size: 16px;
        width: 150px;
        height: 150px; }
        section.accommodation-links .boxes .wrapper .box a {
          padding: 15px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          height: 100%;
          align-items: center;
          border: solid 1px #4a7ea5; }
        section.accommodation-links .boxes .wrapper .box a:hover {
          color: #ffffff; }
      section.accommodation-links .boxes .wrapper .box:hover a {
        color: #ffffff;
        border: solid 1px #ffffff; }
  section.accommodation-links .main-content {
    margin: 25px 0;
    background: #eaeaea; }
    section.accommodation-links .main-content .info {
      padding-left: 35px; }
      section.accommodation-links .main-content .info i {
        color: #4a7ea5;
        margin-right: 10px;
        font-size: 20px; }
      section.accommodation-links .main-content .info .text {
        margin-top: 25px; }
        section.accommodation-links .main-content .info .text p {
          padding: 10px 0; }

section.services .service-box {
  padding: 25px;
  margin: 25px auto;
  min-height: 700px;
  /* Landscape phones and down */ }
  section.services .service-box h3{

    margin: 10px 0;
  }
  section.services .service-box .page1 {
    padding-right: 30px;
    border-right: solid 4px #eaeaea;
    height: 100%; }
  section.services .service-box .page2 {
    text-align: right;
    padding-left: 30px;
    background: url(../img/logo-bg.png) no-repeat center 400px;
    min-height: 640px; }
  @media only screen and (max-width: 992px) {
    section.services .service-box {
      min-height: initial;
      text-align: center; }
      section.services .service-box .page1 {
        padding-right: 0;
        border: none;
        height: 100%; }
      section.services .service-box .page2 {
        text-align: center;
        padding-left: 0;
        background: url(../img/logo-bg.png) no-repeat center center;
        min-height: initial; } }
  section.services .service-box ul li {
    margin: 10px 0; }
  section.services .service-box ul li::before {
    content: "";
    width: 8px;
    height: 16px;
    display: inline-block;
    color: #4a7ea5;
    margin-right: 10px;
    margin-bottom: -3px;
    background: url(../img/icons/arrow2.png) no-repeat center; }
      section.services .service-box{
        text-align: center;
      }
  section.services .service-box p {
    font-size: 15px;
    line-height: 16px;
    font-weight: 400;
    color: #444444;
    text-align: center;
    padding-bottom: 15px; }
  section.services .service-box .service1 {
    background: url(../img/icons/service1.png) no-repeat 35% 0;
    padding-left: 0;
    padding-bottom: 0;
  }
  section.services .service-box .service2 {
    background: url(../img/icons/service2.png) no-repeat 35% 0;
    padding-left: 0;
    padding-bottom: 0;
  }
  section.services .service-box .service3 {
    background: url(../img/icons/service3.png) no-repeat 35% 0;
    padding-left: 0;
    padding-bottom: 0;

  }
  section.services .service-box .service4 {
    background: url(../img/icons/service4.png) no-repeat 35% 0;
    padding-left: 0;
    padding-bottom: 0;

     }
  section.services .service-box .service5 {
    background: url(../img/icons/service5.png) no-repeat 35% 0;
    padding-left: 0;
    padding-bottom: 0;

     }
  section.services .service-box .service6 {
    background: url(../img/icons/service6.png) no-repeat 35% 0;
    padding-left: 0;
    padding-bottom: 0;
  }
  section.services .service-box .service7 {
    background: url(../img/icons/service7.png) no-repeat 35% 0;
    padding-left: 0;
    padding-bottom: 0;
     }
  section.services .service-box .service8 {
    background: url(../img/icons/service8.png) no-repeat 35% 0;
    padding-left: 0;
    padding-bottom: 0;
     }
  section.services .service-box .edge1 {
    position: absolute;
    right: 0;
    top: 0; }
  section.services .service-box .edge2 {
    position: absolute;
    left: 0;
    top: 0; }

/************************************************************************************
FOOTER
*************************************************************************************/
footer {
  position: relative;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  font-family: "Raleway";
  /* Landscape phones and down */
  background: #8eb1ca;
  /***********Links***************/ }
  @media only screen and (max-width: 992px) {
    footer {
      height: auto;
      text-align: center; } }
  footer a:link, footer a:visited {
    text-decoration: none;
    color: #ffffff; }
  footer a:hover, footer a:focus {
    text-decoration: none;
    color: #6fabd4; }
  footer .top {
    font-family: "Raleway";
    /***********Links***************/
    color: #444444;
    padding: 25px 0;
    text-align: left;
    font-size: 14px;
    overflow: hidden;
    /* Landscape phones and down */ }
    footer .top .logo {
      display: inline-block;
      padding: 0;
      z-index: 1;
      width: 150px;
      float: left;
      /* Landscape phones and down */ }
      footer .top .logo a {
        display: block;
        background: url(../img/logo-footer.png) no-repeat center;
        background-size: 100%;
        height: 150px; }
      @media only screen and (max-width: 992px) {
        footer .top .logo {
          width: 100%;
          float: none; }
          footer .top .logo a {
            margin: 0 auto;
            height: 100px;
            background: url(../img/logo-footer.png) no-repeat center; } }
    footer .top h3 {
      font-size: 20px;
      margin-bottom: 20px;
      letter-spacing: 0;
      color: #444444;
      font-weight: 500;
      font-family: "Raleway"; }
    footer .top a:link, footer .top a:visited {
      text-decoration: none;
      color: #e6e6e6; }
    footer .top a:hover, footer .top a:focus {
      text-decoration: none;
      color: #4a7ea5; }
    @media only screen and (max-width: 992px) {
      footer .top {
        height: auto;
        text-align: center; } }
    footer .top .connect {
      /* Landscape phones and down */
      text-align: center; }
      @media only screen and (max-width: 992px) {
        footer .top .connect {
          padding: 10px 0; } }
    footer .top .follow {
      float: right;
      text-align: right;
      height: 150px;
      width: 150px;
      /* Landscape phones and down */ }
      footer .top .follow .social-menu {
        display: inline-block;
        text-align: right; }
        footer .top .follow .social-menu li {
          margin-left: 20px;
          display: inline-block; }
          footer .top .follow .social-menu li i {
            font-size: 24px;
            color: #ffffff; }
          footer .top .follow .social-menu li i:hover {
            color: #4a7ea5; }
      @media only screen and (max-width: 992px) {
        footer .top .follow {
          float: none;
          width: 50%;
          margin: 0 auto;
          height: auto;
          text-align: center; }
          footer .top .follow .social-menu {
            display: inline-block;
            text-align: center; }
            footer .top .follow .social-menu li {
              margin-left: 15px;
              display: inline-block; }
              footer .top .follow .social-menu li i {
                font-size: 20px;
                color: #ffffff; }
              footer .top .follow .social-menu li i:hover {
                color: #4a7ea5; } }
    footer .top .contact {
      padding: 0  25px;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 992px) {
        footer .top .contact {
          padding: 10px 0; } }
      footer .top .contact .text {
        color: #444444; }
        footer .top .contact .text span {
          font-size: 18px;
          color: #ffffff;
          margin-right: 5px; }
        footer .top .contact .text p {
          font-size: 16px;
          padding: 0;
          padding-bottom: 10px;
          margin: 0; }
        footer .top .contact .text a:link, footer .top .contact .text a:visited {
          color: #444444; }
        footer .top .contact .text a:hover, footer .top .contact .text a:focus, footer .top .contact .text a.active {
          color: #4a7ea5; }
        footer .top .contact .text i {
          background: none;
          margin-right: 5px; }
    footer .top .quick-links-box {
      padding: 0 50px;
      /* Landscape phones and down */ }
      footer .top .quick-links-box h3 {
        padding-left: 20px; }
      @media only screen and (max-width: 992px) {
        footer .top .quick-links-box {
          float: none;
          text-align: center;
          padding: 10px 0; }
          footer .top .quick-links-box h3::after {
            margin: 0 auto;
            top: 10px; } }
      footer .top .quick-links-box nav.quick-menu {
        overflow: hidden; }
        footer .top .quick-links-box nav.quick-menu ul li {
          font-size: 18px;
          line-height: 24px;
          display: block;
          padding: 0px;
          padding-bottom: 0px;
          color: #ffffff; }
          footer .top .quick-links-box nav.quick-menu ul li span {
            font-size: 16px;
            display: block;
            color: #444444;
            padding-left: 20px; }
          footer .top .quick-links-box nav.quick-menu ul li a:link, footer .top .quick-links-box nav.quick-menu ul li a:visited {
            color: #ffffff; }
          footer .top .quick-links-box nav.quick-menu ul li a:hover, footer .top .quick-links-box nav.quick-menu ul li a:focus, footer .top .quick-links-box nav.quick-menu ul li a.active {
            color: #4a7ea5; }
        footer .top .quick-links-box nav.quick-menu ul li::before {
          content: "";
          width: 8px;
          height: 16px;
          display: inline-block;
          color: #4a7ea5;
          margin-right: 10px;
          margin-bottom: -3px;
          background: url(../img/icons/arrow.png) no-repeat center; }
  footer .bottom {
    border-top: solid 2px #ffffff;
    /***********Links***************/
    color: #444444;
    font-size: 14px;
    padding: 15px 0;
    font-weight: 100;
    font-family: "Roboto", sans-serif;
    /* Landscape phones and down */ }
    footer .bottom a:link, footer .bottom a:visited {
      text-decoration: none;
      color: #f0f0f0; }
    footer .bottom a:hover, footer .bottom a:focus {
      text-decoration: none;
      color: #f0f0f0; }
    footer .bottom .copy p {
      float: left; }
    footer .bottom .created p {
      float: right; }
    @media only screen and (max-width: 762px) {
      footer .bottom .copy p {
        float: none; }
      footer .bottom .created p {
        float: none; } }
    footer .bottom .created a {
      font-weight: bold;
      color: #313131; }
    footer .bottom .created a:hover, footer .bottom .created a:focus {
      font-weight: bold;
      color: #4a7ea5; }

/* ==========================================================================
  forms
   ========================================================================== */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #444444;
  font-size: 14px; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #444444;
  font-size: 14px; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #444444;
  font-size: 14px; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #444444;
  font-size: 14px; }

.ui-datepicker .ui-datepicker-header {
  background: #4a7ea5;
  color: #ffffff; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border-color: #4a7ea5;
  background: #4a7ea5;
  color: #ffffff; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background: #4a7ea5;
  color: #ffffff; }

input, select {
  border: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: ''; }

.book-online {
  padding: 30px 0;
  /* Landscape phones and down */
  margin: 15px 0;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1160px) {
    .book-online {
      padding: 15px 0; } }
  .book-online #book-online-resp {
    width: 100%;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    display: block;
    height: 15px;
    line-height: 15px;
    display: none;
    color: #f0f0f0;
    /* Landscape phones and down */ }
    .book-online #book-online-resp a {
      color: #ffffff; }
    @media only screen and (max-width: 1160px) {
      .book-online #book-online-resp {
        display: block; } }
  .book-online a#book-online-resp:hover, .book-online a#book-online-resp:focus {
    color: #f0f0f0; }
  @media only screen and (max-width: 1160px) {
    .book-online .book-online-form {
      display: none; } }
  .book-online .form-group {
    position: relative;
    text-align: center;
    margin-right: 10px;
    font-family: "Raleway";
    /* Landscape phones and down */ }
    .book-online .form-group label {
      font-size: 10px;
      font-family: "Roboto", sans-serif;
      display: block;
      color: #ffffff;
      border-bottom: solid 1px #dedbda;
      letter-spacing: 2px;
      font-weight: 300; }
    @media only screen and (max-width: 1140px) {
      .book-online .form-group {
        width: 100%;
        text-align: center; } }
    .book-online .form-group i {
      position: absolute;
      left: 115px;
      top: 8px;
      font-size: 22px;
      color: #ffffff;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 1140px) {
        .book-online .form-group i {
          left: 68%; } }
    .book-online .form-group select {
      /* Landscape phones and down */
      width: 340px;
      height: 40px;
      background: none;
      color: #ffffff;
      font-size: 20px;
      border-bottom: solid 1px #ffffff;
      outline: none;
      background-color: none;
      text-align: center; }
      @media only screen and (max-width: 1140px) {
        .book-online .form-group select {
          width: 50%; } }
    .book-online .form-group select option {
      background: #6fabd4;
      color: #444444;
      box-shadow: inset 20px 20px #f00; }
    .book-online .form-group select option:disabled {
      color: #ffffff; }
    .book-online .form-group input {
      text-align: left;
      width: 100%;
      /* Landscape phones and down */
      height: 35px;
      background: none;
      border: solid 1px #ffffff;
      outline: none;
      color: #ffffff;
      font-size: 16px;
      position: relative;
      padding: 10px; }
      @media only screen and (max-width: 1140px) {
        .book-online .form-group input {
          width: 50%; } }
    .book-online .form-group input[type=number] {
      background: none;
      height: 35px;
      background: none;
      color: #ffffff;
      font-size: 16px;
      border-bottom: solid 1px #ffffff;
      outline: none;
      color: #ffffff;
      background-color: none;
      text-align: left;
      padding: 10px; }
    .book-online .form-group input[type=number]::-webkit-inner-spin-button {
      opacity: 1; }
  .book-online input[type="submit"] {
    position: relative;
    width: 200px;
    padding: 10px;
    height: 36px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    background: #4a7ea5;
    color: #ffffff;
    letter-spacing: 2px;
    border: none;
    float: right;
    font-family: "Raleway"; }
  .book-online input[type="submit"]:hover {
    opacity: 0.9; }
  .book-online ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ffffff;
    font-size: 16px; }
  .book-online ::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffff;
    font-size: 16px; }
  .book-online :-ms-input-placeholder {
    /* IE 10+ */
    color: #ffffff;
    font-size: 16px; }
  .book-online :-moz-placeholder {
    /* Firefox 18- */
    color: #ffffff;
    font-size: 16px; }
  .book-online .form-group.select {
    width: 100px;
    position: relative; }
    .book-online .form-group.select input {
      padding-left: 15px; }
  .book-online .form-group.select i {
    position: absolute;
    right: 20px;
    top: 35px;
    color: #4a7ea5;
    z-index: 1; }
  .book-online .form-group.date {
    width: 150px;
    margin-right: 30px; }
  .book-online .form-group.number {
    width: 150px;
    margin-right: 30px; }
  .book-online .form-group.select {
    background: url(../img/icons/up-down.png) no-repeat 220px 60px;
    position: relative; }
  .book-online .form-group.select i {
    position: absolute;
    right: 20px;
    top: 35px;
    color: #4a7ea5;
    z-index: 1; }
  .book-online .form-group.date {
    background: url(../img/icons/calendar-icon.png) no-repeat 125px 10px; }

.contact-form {
  position: relative; }
  .contact-form .form-group {
    margin: 15px 0; }
  .contact-form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #8c99a9; }
  .contact-form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #8c99a9; }
  .contact-form :-ms-input-placeholder {
    /* IE 10+ */
    color: #8c99a9; }
  .contact-form :-moz-placeholder {
    /* Firefox 18- */
    color: #8c99a9; }
  .contact-form label {
    font-weight: 100;
    font-size: 23px;
    text-align: left;
    width: 100%;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1000px) {
      .contact-form label {
        font-size: 18px; } }
  .contact-form input {
    width: 94%;
    /* Landscape phones and down */
    float: left;
    height: 40px;
    margin: 5px 0;
    padding-left: 16px;
    color: #8c99a9;
    border: none;
    border-radius: 0; }
    @media only screen and (max-width: 992px) {
      .contact-form input {
        width: 100%; } }
  .contact-form input[type="submit"] {
    float: right;
    background: #4a7ea5;
    color: #ffffff;
    border-radius: 0px;
    font-weight: 600;
    width: 160px;
    padding-left: 0;
    /* Landscape phones and down */
    position: relative;
    right: 25px;
    border: none; }
    @media only screen and (max-width: 992px) {
      .contact-form input[type="submit"] {
        width: 100%;
        right: 0px; } }
  .contact-form input[type="submit"]:hover {
    background: #6fabd4; }
  .contact-form textarea {
    width: 97%;
    /* Landscape phones and down */
    height: 160px;
    display: inline-block;
    padding: 16px;
    float: left;
    color: #8c99a9;
    border: none;
    border-radius: 0; }
    @media only screen and (max-width: 992px) {
      .contact-form textarea {
        width: 100%; } }
  .contact-form span {
    font-style: italic;
    font-size: 13px;
    padding: 15px 0;
    display: block; }
  .contact-form .sec_code {
    position: absolute;
    top: 8px;
    right: 20px;
    width: 75px; }

/************************************************************************************
SOCIAL MENU
*************************************************************************************/
.social-menu i {
  font-size: 20px; }

.social-menu a.cyrcle {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  border: none;
  margin-right: 5px;
  background: #f0f0f0; }

.social-menu a.cyrcle:link, .social-menu a.cyrcle:visited {
  color: #ffffff;
  background: #f0f0f0; }

.social-menu a.cyrcle:hover, .social-menu a.cyrcle:focus {
  color: #ffffff;
  background: #4a7ea5; }

.social-menu a.square {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  margin-right: 5px;
  padding-top: 5px;
  font-size: 20px;
  text-align: center;
  background: #e6e6e6;
  display: inline-block; }

.social-menu a.last {
  margin-right: 0px; }

.social-menu a:link, .social-menu a:visited {
  color: #5e90b3; }

.social-menu a:hover, .social-menu a:focus {
  color: #4a7ea5; }

.social-menu.block {
  width: 250px;
  display: inline-block;
  text-align: center; }
  .social-menu.block li {
    width: 80px;
    padding: 5px;
    display: inline-block;
    color: #343333; }

/************************************************************************************
SLIDER
*************************************************************************************/
.slider-wrapper {
  position: relative;
  min-height: 100vh;
   }
  .slider-wrapper .caption {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0px;
    top: 40vh;
    /* Landscape phones and down */
    z-index: 1;
    text-align: center;
    font-family: "Raleway";
    font-weight: 400;
    letter-spacing: 1px;
    color: #ffffff;
    font-size: 46px;
    text-shadow: 3px 3px 1px black;
    line-height: 46px;
    display: none;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1360px) {
      .slider-wrapper{
        min-height: initial;
      }
      .slider-wrapper .caption {
        top: 30vh; } }
    .slider-wrapper .caption span {
      color: #4a7ea5; }
    @media only screen and (max-width: 992px) {
      .slider-wrapper .caption {
        display: none; } }
  .slider-wrapper .language-selector-buttons {
    position: absolute;
    font-family: "Raleway";
    font-size: 14px;
    top: 25vh;
    right: 5vw;
    z-index: 2;
    text-align: center;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1160px) {
      .slider-wrapper .language-selector-buttons {
        top: 5vw; } }
    .slider-wrapper .language-selector-buttons ul li a {
      display: block;
      width: 65px;
      height: 45px;
      padding: 12px;
      margin-bottom: 5px;
      color: #444444;
      background: #c4e6ff; }
    .slider-wrapper .language-selector-buttons ul li a.active, .slider-wrapper .language-selector-buttons ul li a:hover {
      color: #4a7ea5;
      background: #c4e6ff;
      opacity: 0.8; }
  .slider-wrapper .book-online {
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
    width: 100%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    z-index: 1;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1160px) {
      .slider-wrapper .book-online {
        bottom: 0;
        width: 100%;
        padding: 20px;
        background: #4a7ea5; } }
  .slider-wrapper .scroll-down {
    position: absolute;
    bottom: 16vh;
    width: 265px;
    height: 80px;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    right: 0px;
    left: 0px;
    color: #ffffff;
    display: inline-block;
    z-index: 99;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1160px) {
      .slider-wrapper .scroll-down {
        display: none; } }
  .slider-wrapper .fotorama__arr {
    /* Landscape phones and down */ }
    @media only screen and (max-width: 762px) {
      .slider-wrapper .fotorama__arr {
        display: none; } }

.slider-wrapper::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #000000;
  display: block;
  pointer-events: none; }

/************************************************************************************
PHOTOS GALLERY
*************************************************************************************/
.masonry-gallery {
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0 auto; }
  .masonry-gallery .gallery-item.style1 {
    width: 285px;
    height: 415px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      .masonry-gallery .gallery-item.style1 {
        width: 230px;
        height: 380px; } }
  .masonry-gallery .gallery-item.style2 {
    width: 235px;
    height: 250px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      .masonry-gallery .gallery-item.style2 {
        width: 230px; } }
  .masonry-gallery .gallery-item.style3 {
    width: 480px;
    height: 345px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      .masonry-gallery .gallery-item.style3 {
        width: 230px;
        height: 345px; } }
  .masonry-gallery .gallery-item.style4 {
    width: 285px;
    height: 180px;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      .masonry-gallery .gallery-item.style4 {
        width: 230px;
        height: 160px; } }
  .masonry-gallery .gallery-item {
    /* Landscape phones and down */
    float: left;
    position: relative;
    display: inline-block;
    margin: 5px;
    background: trasparent;
    clear: both;
    overflow: hidden;
    z-index: 1;
    width: 235px;
    height: auto;
     }
    @media only screen and (max-width: 992px) {
  .masonry-gallery .gallery-item {
    /* Landscape phones and down */
    float: left;
    position: relative;
    display: inline-block;
    margin: 5px;
    background: trasparent;
    clear: both;
    overflow: hidden;
    z-index: 1; }


      .masonry-gallery .gallery-item {
        margin-bottom: 10px; } }
    .masonry-gallery .gallery-item span {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -ms-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
      background: url(../img/icons/hover3.png) no-repeat center rgba(74, 126, 165, 0.5);
          background-size: cover;
      cursor: pointer;
      color: #ffffff;
      display: none; }
  .masonry-gallery .gallery-item:hover span {
    display: block;
    transform: scale(1.02); }

.masonry-gallery2 {
  display: block;
  width: 100%;
  /* Landscape phones and down */
  overflow: hidden; }
  @media only screen and (max-width: 992px) {
    .masonry-gallery2 {
      margin: 0 auto; } }
  .masonry-gallery2 .gallery-item {
    /* Landscape phones and down */
    float: left;
    position: relative;
    display: inline-block;
    background: trasparent;
    clear: both;
    overflow: hidden;
    z-index: 1; }
    @media only screen and (max-width: 992px) {
      .masonry-gallery2 .gallery-item {
        margin-bottom: 10px; } }
    .masonry-gallery2 .gallery-item span {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -ms-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
      background: url(../img/icons/hover3.png) no-repeat center rgba(74, 126, 165, 0.5);
          background-size: cover;
      cursor: pointer;
      color: #ffffff;
      display: none; }
  .masonry-gallery2 .gallery-item:hover span {
    display: block;
    transform: scale(1.02); }
  .masonry-gallery2 .gallery-item img {
    width: 100%; }

.gallery {
  display: block;
  width: 100%;
  margin: 25px auto; }
  .gallery .gallery-item {
    z-index: 1; }
    .gallery .gallery-item span {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -ms-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
      background: url(../img/icons/hover3.png) no-repeat center rgba(74, 126, 165, 0.5);
          background-size: cover;
      cursor: pointer;
      color: #ffffff;
      display: none; }
  .gallery .gallery-item:hover span {
    display: block; }
  .gallery .gallery-item.small a {
    max-width: 366px;
    display: block;
    margin: 0 auto;
    position: relative;
    /* Landscape phones and down */
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      .gallery .gallery-item.small a {
        margin-right: 3%; } }
    @media only screen and (max-width: 762px) {
      .gallery .gallery-item.small a {
        margin: 0 auto; } }
  .gallery .gallery-item.big a {
    max-width: 560px;
    display: block;
    margin: 0 auto;
    position: relative;
    /* Landscape phones and down */
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      .gallery .gallery-item.big a {
        margin-right: 2%; } }
    @media only screen and (max-width: 762px) {
      .gallery .gallery-item.big a {
        margin: 0 auto; } }
  .gallery .button {
    text-align: center;
    max-width: 555px;
    margin: 20px auto;
    display: block;
    font-size: 25px;
    letter-spacing: 4px;
    background: rgba(35, 26, 14, 0.8);
    /* Landscape phones and down */
    /* Landscape phones and down */ }
    .gallery .button a.border {
      margin: 10px; }
    .gallery .button a {
      padding: 10px 190px;
      display: inline-block; }
    @media only screen and (max-width: 992px) {
      .gallery .button {
        margin: 0;
        font-size: 20px;
        width: 98%;
        margin-right: 2%; }
        .gallery .button a {
          padding: 2%;
          width: 94%;
          display: inline-block; } }
    @media only screen and (max-width: 762px) {
      .gallery .button {
        margin: 0;
        font-size: 20px;
        width: 100%;
        margin: 0 auto; }
        .gallery .button a {
          padding: 2%;
          width: 94%;
          display: inline-block; } }
  .gallery .button:hover {
    background: #4a7ea5; }
#video-lightgallery .video:first-child img{
     width: 100%;
    max-width: 575px;
    margin-left: 0;
}
#video-lightgallery .video:last-child img{
     width: 100%;
    max-width: 575px;
    margin-right: 0;
}
#video-lightgallery .gallery-item {
    position: relative; }
#video-lightgallery .gallery-item span {
      position: absolute;
      top: 0;
      text-align: center;
      width: 100%;
      height: 100%;
      opacity: 0.0;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -ms-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
      background: url(../img/icons/hover3.png) no-repeat center rgba(74, 126, 165, 0.5);
      cursor: pointer;
          background-size: cover;
      display: none; }
#video-lightgallery .gallery-item:hover span {
    display: block;
    opacity: 0.8; }
@media only screen and (max-width: 992px) {
  #video-lightgallery .video:first-child img{
     width: 100%;
    max-width: 575px;
    margin: 10px auto;
  }
  #video-lightgallery .video:last-child img{
       width: 100%;
      max-width: 575px;
       margin: 10px auto;
  }
}



/************************************************************************************
GALLERIES owl
*************************************************************************************/
.carousel-gallery {
  position: relative;
  padding: 0; }
  .carousel-gallery .gallery-item {
    position: relative; }
    .carousel-gallery .gallery-item span {
      position: absolute;
      top: 0;
      text-align: center;
      width: 100%;
      height: 100%;
      opacity: 0.0;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -ms-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
      background: url(../img/icons/hover3.png) no-repeat center rgba(74, 126, 165, 0.5);
      cursor: pointer;
          background-size: cover;
      display: none; }
  .carousel-gallery .gallery-item:hover span {
    display: block;
    opacity: 0.8; }

.teaser-gallery {
  position: relative;
  padding: 25px 0; }
  .teaser-gallery .teaser-hover {
    position: absolute;
    top: 0;
    font-family: "Raleway";
    font-size: 22px;
    padding: 50px 25px;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    background: #6fabd4;
    color: #000000;
    cursor: pointer;
    display: none; }
    .teaser-gallery .teaser-hover p {
      line-height: 20px;
      font-size: 21px; }
    .teaser-gallery .teaser-hover span {
      display: inline-block;
      font-family: "Open Sans", sans-serif;
      border-top: solid 2px #f0f0f0;
      padding-top: 10px;
      margin-top: 15px; }
  .teaser-gallery .teaser-item:hover > .teaser-hover {
    display: block;
    opacity: 0.8; }

/************************************************************************************
MAP
*************************************************************************************/
.map {
  overflow: hidden;
  width: 100%;
  clear: both;
  position: relative; }

.map #map-canvas,.map #map-canvas1,.map #map-canvas2,.map #map-canvas3, .map #map-canvas-homepage {
  width: 100%;
  height: 450px;
  border-bottom: solid 1px #4a7ea5;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 762px) {
    .map #map-canvas,.map #map-canvas1,.map #map-canvas2,.map #map-canvas3, .map #map-canvas-homepage {
      height: 300px; } }

.map-wrapper {
  padding-top: 30px; }

.map-top-shadow {
  position: absolute;
  height: 20px;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.3); }

.map-bottom-shadow {
  position: absolute;
  height: 20px;
  bottom: -20px;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.3); }

#map-popup-box {
  display: none; }
  #map-popup-box .map #map-canvas {
    width: 1000px;
    height: 600px; }

.map-tabs {
  /* Landscape phones and down */ }
  @media only screen and (max-width: 762px) {
    .map-tabs {
      display: none; } }

/************************************************************************************
OFFER MODAL
*************************************************************************************/
.modal {
  top: 25% !important;
  text-align: center; }

.modal-body {
  position: relative;
  padding: 20px 60px; }

.modal-body ul li {
  display: list-item;
  list-style-type: disc; }

.modal-header {
  text-align: center; }

.modal-footer {
  padding: 15px;
  text-align: center;
  border: none; }

.modal-footer .btn-default {
  width: 25%;
  background: #6fabd4;
  color: #ffffff; }
